Repository woowacourse-teams/2023-stamp-crush, pull requests merged in 2023-10, with the labels that each got.

#807 [BE] feat: 카페 등록 시 쿠폰 앞면 기본 이미지를 수정한다
  backend/src/main/java/com/stampcrush/backend/application/manager/cafe/ManagerCafeCommandService.java
  backend/src/main/java/com/stampcrush/backend/application/manager/cafe/SampleImages.java
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#809 [BE] refactor: 임시회원이 리워드를 사용할 수 있다.
  backend/src/main/java/com/stampcrush/backend/entity/reward/Reward.java
  backend/src/test/java/com/stampcrush/backend/acceptance/ManagerRewardCommandAcceptanceTest.java
  backend/src/test/java/com/stampcrush/backend/entity/reward/RewardTest.java
Labels: 리팩터링 🔨, back-end 👩‍👩‍👦‍👦

#800 [FE] fix: 탭바가 있으면서 고객이 없을때의 상황을 대응한다
  frontend/src/pages/Admin/CustomerList/index.tsx
  frontend/src/pages/Admin/CustomerList/style.tsx
Labels: 버그발생 🚨, front-end 👨‍👨‍👧

#801 [FE] fix: 이미지 비율이 다른 문제 수정과 쿠폰 제작및 변경 ui 개선
  frontend/src/pages/Admin/CouponDesign/ChoiceTemplate/style.tsx
  frontend/src/pages/Admin/CouponDesign/CouponPreviewSection/index.tsx
  frontend/src/pages/Admin/CouponDesign/CouponPreviewSection/style.tsx
  frontend/src/pages/Admin/CouponDesign/CustomCouponDesign/index.tsx
  frontend/src/pages/Admin/CouponDesign/CustomCouponDesign/style.tsx
  frontend/src/pages/Admin/CouponDesign/CustomCouponSection/index.tsx
  frontend/src/pages/Admin/CouponDesign/CustomCouponSection/style.tsx
  frontend/src/pages/Admin/CouponDesign/CustomStampSection/index.tsx
  frontend/src/pages/Admin/CouponDesign/TemplateCouponDesign/index.tsx
  frontend/src/pages/Admin/CouponDesign/TemplateCouponDesign/style.tsx
  frontend/src/pages/Customer/CouponList/components/Coupon/style.tsx
Labels: 버그발생 🚨, front-end 👨‍👨‍👧

#786 [FE] feat: customer withdrawal page
  frontend/src/Router.tsx
  frontend/src/api/delete.ts
  frontend/src/constants/index.ts
  frontend/src/pages/Customer/Cancellation/hooks/useDeleteCustomer.ts
  frontend/src/pages/Customer/Cancellation/index.tsx
  frontend/src/pages/Customer/Cancellation/style.tsx
  frontend/src/pages/Customer/MyPage/index.tsx
Labels: 기능구현 ✅, front-end 👨‍👨‍👧

#805 [FE] feat: 고객모드에서도 사장모드처럼 전화번호 미등록시 사용하지 못하게 한다.
  frontend/src/hooks/useCustomerRedirectRegisterPage.ts
  frontend/src/pages/Customer/CouponList/index.tsx
  frontend/src/pages/Customer/HistoryPage/RewardHistory/index.tsx
  frontend/src/pages/Customer/HistoryPage/StampHistory/index.tsx
  frontend/src/pages/Customer/MyPage/index.tsx
  frontend/src/pages/Customer/RewardList/index.tsx
Labels: 기능구현 ✅, front-end 👨‍👨‍👧

#823 [BE] refactor: 사용하지 않는 객체를 삭제한다
  backend/src/main/java/com/stampcrush/backend/api/manager/reward/request/RewardFindRequest.java
  backend/src/main/java/com/stampcrush/backend/initializer/DataInitializer.java
  backend/src/main/java/com/stampcrush/backend/initializer/SampleDataInitializer.java
Labels: 리팩터링 🔨, back-end 👩‍👩‍👦‍👦

#806 [FE] refactor: 카페 관리 페이지 내부의 미리보기 UI가 실제와 다른 부분 수정
  frontend/src/components/Template/style.tsx
  frontend/src/pages/Admin/EarnStamp/components/CouponIndicator.tsx
  frontend/src/pages/Admin/EarnStamp/index.tsx
  frontend/src/pages/Admin/EarnStamp/style.tsx
  frontend/src/pages/Admin/ManageCafe/components/PreviewContent/index.tsx
  frontend/src/pages/Admin/ManageCafe/components/PreviewContent/style.tsx
  frontend/src/pages/Admin/ManageCafe/components/PreviewCoupon/style.tsx
  frontend/src/pages/Admin/ManageCafe/index.tsx
  frontend/src/pages/Admin/ManageCafe/style.tsx
Labels: 리팩터링 🔨, front-end 👨‍👨‍👧

#827 [BE] fix: 스탬프 적립 0개를 막는다.
  backend/src/main/java/com/stampcrush/backend/api/manager/coupon/ManagerCouponCommandApiController.java
  backend/src/main/java/com/stampcrush/backend/api/manager/coupon/request/StampCreateRequest.java
  backend/src/main/java/com/stampcrush/backend/application/manager/coupon/dto/StampCreateDto.java
  backend/src/test/java/com/stampcrush/backend/acceptance/ManagerCouponCommandAcceptanceTest.java
  backend/src/test/java/com/stampcrush/backend/repository/user/OwnerRepositoryTest.java
Labels: 버그발생 🚨, back-end 👩‍👩‍👦‍👦

#829 [BE] hotfix: 스탬프 적립 시 슬랙 알림에 카페이름을 추가한다
  backend/src/main/java/com/stampcrush/backend/application/manager/coupon/ManagerCouponCommandService.java
  backend/src/main/java/com/stampcrush/backend/application/manager/event/StampAccumulatingEventHandler.java
  backend/src/main/java/com/stampcrush/backend/application/manager/event/StampCreateEvent.java
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#830 [BE] hotfix: 스탬프 적립 시 슬랙 알림에 카페이름을 추가 반영
  backend/src/main/java/com/stampcrush/backend/application/manager/coupon/ManagerCouponCommandService.java
  backend/src/main/java/com/stampcrush/backend/application/manager/event/StampAccumulatingEventHandler.java
  backend/src/main/java/com/stampcrush/backend/application/manager/event/StampCreateEvent.java
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#821 [FE] feat: '전체'를 기본값으로 변경
  frontend/src/constants/index.ts
  frontend/src/pages/Admin/CustomerList/index.tsx
Labels: 기능구현 ✅, 리팩터링 🔨, front-end 👨‍👨‍👧

#820 [FE] fix: display 속성 변경
  frontend/public/assets/app_logo.png
  frontend/public/index.html
  frontend/public/manifest.webmanifest
Labels: 버그발생 🚨, front-end 👨‍👨‍👧

#833 [FE] fix: 스탬프 이미지 object-fit: contain 수정
  frontend/src/pages/Admin/CouponDesign/CustomCouponDesign/StampCustomModal/index.tsx
  frontend/src/pages/Admin/CouponDesign/CustomCouponDesign/StampCustomModal/style.tsx
  frontend/src/pages/Admin/CouponDesign/CustomCouponDesign/style.tsx
  frontend/src/pages/Customer/CouponList/components/FlippedCoupon/style.tsx
Labels: 버그발생 🚨

#824 [FE] bug: 전화번호 등록 성공 후 알림 메시지를 수정한다.
  frontend/src/Router.tsx
  frontend/src/constants/index.ts
  frontend/src/hooks/useCustomerProfile.ts
  frontend/src/hooks/useCustomerRedirectRegisterPage.ts
  frontend/src/pages/Customer/CouponList/index.tsx
  frontend/src/pages/Customer/Greeting/index.tsx
  frontend/src/pages/Customer/Greeting/style.tsx
  frontend/src/pages/Customer/HistoryPage/RewardHistory/index.tsx
  frontend/src/pages/Customer/HistoryPage/StampHistory/index.tsx
  frontend/src/pages/Customer/InputPhoneNumber/hooks/useInputPhoneNumber.ts
  frontend/src/pages/Customer/InputPhoneNumber/index.tsx
  frontend/src/pages/Customer/MyPage/index.tsx
  frontend/src/pages/Customer/RewardList/index.tsx
  frontend/src/provider/CustomerProfileProvider.tsx
  frontend/src/utils/index.ts
Labels: 버그발생 🚨, front-end 👨‍👨‍👧

#831 [FE] feat: 쿠폰 제작 페이지에서 현재 쿠폰을 확인한다.
  frontend/src/pages/Admin/ModifyCouponPolicy/CreatedType/index.tsx
  frontend/src/pages/Admin/ModifyCouponPolicy/CreatedType/style.tsx
  frontend/src/pages/Admin/ModifyCouponPolicy/components/CurrentCouponImages/index.tsx
  frontend/src/pages/Admin/ModifyCouponPolicy/components/CurrentCouponImages/style.tsx
Labels: 기능구현 ✅, front-end 👨‍👨‍👧

#822 [FE] feat: 내 정보 변경 페이지 구현 및 기타 개선
  frontend/src/Router.tsx
  frontend/src/constants/index.ts
  frontend/src/pages/Customer/Cancellation/index.tsx
  frontend/src/pages/Customer/CustomerSetting/index.tsx
  frontend/src/pages/Customer/CustomerSetting/style.tsx
  frontend/src/pages/Customer/HistoryPage/RewardHistory/index.tsx
  frontend/src/pages/Customer/HistoryPage/StampHistory/index.tsx
  frontend/src/pages/Customer/HistoryPage/style.tsx
  frontend/src/pages/Customer/MyPage/index.tsx
  frontend/src/pages/Customer/RewardList/index.tsx
  frontend/src/pages/Customer/RewardList/style.tsx
Labels: 기능구현 ✅, front-end 👨‍👨‍👧

#835 [BE] feat: 인덱스 설정 스크립트 작성
  backend/src/main/resources/db/migration/V10__set-index.sql
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#838 [FE] fix: 병합 중 생긴 에러 수정
  frontend/src/pages/Customer/MyPage/index.tsx
  frontend/src/pages/Customer/RewardList/index.tsx
Labels: 버그발생 🚨, front-end 👨‍👨‍👧

#840 [BE] fix: VisitHistory soft delete 추가
  backend/src/main/java/com/stampcrush/backend/entity/visithistory/VisitHistory.java
  backend/src/main/resources/db/migration/V11__add_delete_visit_history.sql
Labels: 버그발생 🚨, back-end 👩‍👩‍👦‍👦

#853 [BE] hotfix: stamp 최대 적립 개수 10개로 고정
  backend/src/main/java/com/stampcrush/backend/api/manager/coupon/request/StampCreateRequest.java
  backend/src/test/java/com/stampcrush/backend/acceptance/ManagerCouponCommandAcceptanceTest.java
  backend/src/test/java/com/stampcrush/backend/acceptance/VisitorRewardFindAcceptanceTest.java
Labels: back-end 👩‍👩‍👦‍👦

#854 [BE] hotfix: stamp 최대 적립 개수 10개로 고정
  backend/src/main/java/com/stampcrush/backend/api/manager/coupon/request/StampCreateRequest.java
  backend/src/test/java/com/stampcrush/backend/acceptance/ManagerCouponCommandAcceptanceTest.java
  backend/src/test/java/com/stampcrush/backend/acceptance/VisitorRewardFindAcceptanceTest.java
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#856 [BE] feat: Dockerfile 생성, HealthCheckController 생성
  backend/Dockerfile-dev
  backend/Dockerfile-prod
  backend/src/main/java/com/stampcrush/backend/api/HealthCheckApiController.java
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#844 [FE] fix: 스탬프 적립 0개 막기
  frontend/src/components/Stepper/index.tsx
Labels: 버그발생 🚨, front-end 👨‍👨‍👧

#850 [FE] fix: 배포환경에서 manifest 파일이 포함되지 않는 문제 수정
  frontend/package.json
  frontend/webpack.prod.js
Labels: 버그발생 🚨, front-end 👨‍👨‍👧

#851 [FE] fix: 카페내부이미지가 없을 경우 대응 및 리팩토링
  frontend/src/pages/Admin/CouponDesign/CustomCouponDesign/style.tsx
  frontend/src/pages/Admin/ManageCafe/components/CafeTimePicker/index.tsx
  frontend/src/pages/Admin/ManageCafe/components/PreviewCafeImage/index.tsx
  frontend/src/pages/Admin/ManageCafe/components/TimeRangePicker/index.tsx
  frontend/src/pages/Admin/ManageCafe/components/TimeRangePicker/style.tsx
  frontend/src/pages/Admin/ManageCafe/style.tsx
  frontend/src/pages/Customer/CouponList/components/CouponDetail/hooks/useGetCafeInfo.ts
  frontend/src/pages/Customer/CouponList/components/CouponDetail/index.tsx
  frontend/src/pages/Customer/CouponList/components/CouponDetail/style.tsx
Labels: 버그발생 🚨, front-end 👨‍👨‍👧

#860 [FE] refactor: 사장모드의 반응형을 구현한다(for 글렌)
  frontend/src/components/Template/CustomerTemplate/BottomTabBar/index.tsx
  frontend/src/components/Template/CustomerTemplate/BottomTabBar/style.tsx
  frontend/src/components/Template/CustomerTemplate/index.tsx
  frontend/src/components/Template/index.tsx
  frontend/src/components/Template/style.tsx
  frontend/src/pages/Admin/AdminLogin/style.tsx
  frontend/src/pages/Admin/CustomerList/Customers/style.tsx
  frontend/src/pages/Admin/CustomerList/style.tsx
  frontend/src/pages/Admin/EarnStamp/index.tsx
  frontend/src/pages/Admin/EarnStamp/style.tsx
  frontend/src/pages/Admin/EnterPhoneNumber/Dialpad/style.tsx
  frontend/src/pages/Admin/EnterPhoneNumber/style.tsx
  frontend/src/pages/Admin/RewardPage/index.tsx
  frontend/src/pages/Admin/RewardPage/style.tsx
Labels: 리팩터링 🔨, front-end 👨‍👨‍👧

#858 [FE] feat: 고객의 수 추가
  frontend/src/pages/Admin/CustomerList/index.tsx
  frontend/src/pages/Admin/CustomerList/style.tsx
Labels: 기능구현 ✅, front-end 👨‍👨‍👧

#863 [BE] refactor: Controller Test 코드를 리팩터링한다
  backend/src/test/java/com/stampcrush/backend/acceptance/ManagerCouponCommandAcceptanceTest.java
  backend/src/test/java/com/stampcrush/backend/api/ControllerSliceTest.java
  backend/src/test/java/com/stampcrush/backend/api/manager/cafe/ManagerCafeCouponSettingCommandApiControllerTest.java
  backend/src/test/java/com/stampcrush/backend/api/manager/cafe/ManagerCafeCouponSettingFindApiControllerTest.java
  backend/src/test/java/com/stampcrush/backend/api/manager/cafe/ManagerCafeFindApiControllerTest.java
  backend/src/test/java/com/stampcrush/backend/api/manager/coupon/ManagerCouponCommandApiControllerTest.java
  backend/src/test/java/com/stampcrush/backend/api/manager/coupon/ManagerCouponFindApiControllerTest.java
  backend/src/test/java/com/stampcrush/backend/api/manager/owner/ManagerCommandApiControllerTest.java
  backend/src/test/java/com/stampcrush/backend/api/manager/reward/ManagerRewardFindApiControllerTest.java
  backend/src/test/java/com/stampcrush/backend/api/manager/reward/MangerRewardCommandApiControllerTest.java
  backend/src/test/java/com/stampcrush/backend/api/manager/sample/ManagerSampleCouponFindApiControllerTest.java
  backend/src/test/java/com/stampcrush/backend/api/visitor/cafe/VisitorCafeFindApiControllerTest.java
  backend/src/test/java/com/stampcrush/backend/api/visitor/coupon/VisitorCouponCommandApiControllerTest.java
  backend/src/test/java/com/stampcrush/backend/api/visitor/coupon/VisitorCouponFindApiControllerTest.java
  backend/src/test/java/com/stampcrush/backend/api/visitor/favorites/VisitorFavoritesCommandApiControllerTest.java
  backend/src/test/java/com/stampcrush/backend/api/visitor/profile/VisitorProfilesCommandApiControllerTest.java
  backend/src/test/java/com/stampcrush/backend/api/visitor/profile/VisitorProfilesFindApiControllerTest.java
  backend/src/test/java/com/stampcrush/backend/api/visitor/reward/VisitorRewardsFindControllerTest.java
  backend/src/test/java/com/stampcrush/backend/api/visitor/visithistory/VisitorVisitHistoryFindApiControllerTest.java
Labels: 리팩터링 🔨, back-end 👩‍👩‍👦‍👦

#862 [BE] refactor: 인수테스트 Fixture 사용하도록, 모든 Bean AccpetanceTest 에서 상속받도록 리팩터링
  backend/src/test/java/com/stampcrush/backend/acceptance/AcceptanceTest.java
  backend/src/test/java/com/stampcrush/backend/acceptance/ManagerCommandAcceptanceTest.java
  backend/src/test/java/com/stampcrush/backend/acceptance/ManagerJoinAcceptanceTest.java
  backend/src/test/java/com/stampcrush/backend/acceptance/ManagerRewardCommandAcceptanceTest.java
  backend/src/test/java/com/stampcrush/backend/acceptance/ManagerRewardFindAcceptanceTest.java
  backend/src/test/java/com/stampcrush/backend/acceptance/ManagerSampleCouponFindAcceptanceTest.java
  backend/src/test/java/com/stampcrush/backend/acceptance/VisitorCafeFindAcceptanceTest.java
  backend/src/test/java/com/stampcrush/backend/acceptance/VisitorFavoritesCommandAcceptanceTest.java
  backend/src/test/java/com/stampcrush/backend/acceptance/VisitorLinkDataAcceptanceTest.java
  backend/src/test/java/com/stampcrush/backend/acceptance/VisitorProfilesCommandAcceptanceTest.java
  backend/src/test/java/com/stampcrush/backend/acceptance/step/VisitorJoinStep.java
Labels: 리팩터링 🔨, back-end 👩‍👩‍👦‍👦

#868 [FE] bug: 웹 환경에서 고객모드의 탭바가 보이지 않는 현상을 해결한다.
  frontend/src/components/Template/CustomerTemplate/BottomTabBar/index.tsx
  frontend/src/components/Template/CustomerTemplate/BottomTabBar/style.tsx
  frontend/src/components/Template/style.tsx
  frontend/src/pages/Admin/AdminLogin/style.tsx
  frontend/src/pages/Admin/CustomerList/style.tsx
  frontend/src/pages/Admin/EnterPhoneNumber/components/Dialpad/style.tsx
  frontend/src/pages/Admin/EnterPhoneNumber/style.tsx
Labels: 버그발생 🚨, front-end 👨‍👨‍👧

#870 [FE] feat: 최종 데모데이 요구사항을 반영한다.
  frontend/package.json
  frontend/src/pages/Customer/CouponList/components/FlippedCoupon/index.tsx
Labels: 기능구현 ✅, front-end 👨‍👨‍👧

#883 [FE] refactor: 소개 문구를 더 많이 보여준다
  frontend/src/pages/Customer/CouponList/components/CouponDetail/style.tsx
Labels: 리팩터링 🔨, front-end 👨‍👨‍👧

#874 [ALL] (작성중) docs: README 를 예쁘게 꾸민다 🌸
  README.md
Labels: 문서화 📑

#898 [BE] infra: create backend-dev-cd.yml
  .github/workflows/backend-dev-cd.yml
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#899 [BE] fix: 백틱 제거
  .github/workflows/backend-dev-cd.yml
Labels: 버그발생 🚨, back-end 👩‍👩‍👦‍👦

#900 [BE] feat: 운영 서버 깃허브 액션 pipeline 생성
  .github/workflows/backend-prod-cd.yml
Labels: 기능구현 ✅

#885 [FE] feat: 전화번호 입력 페이지의 로딩/에러 핸들링을 개선한다.
  frontend/src/components/Alert/index.tsx
  frontend/src/components/Alert/style.tsx
  frontend/src/pages/Admin/EnterPhoneNumber/components/Dialpad/index.tsx
  frontend/src/pages/Admin/EnterPhoneNumber/components/GuideAlert/index.tsx
  frontend/src/pages/Admin/EnterPhoneNumber/components/GuideAlert/style.tsx
  frontend/src/pages/Admin/EnterPhoneNumber/components/PrivacyBox/index.tsx
  frontend/src/pages/Admin/EnterPhoneNumber/components/PrivacyBox/style.tsx
  frontend/src/pages/Admin/EnterPhoneNumber/hooks/useDialPad.ts
  frontend/src/pages/Admin/EnterPhoneNumber/index.tsx
  frontend/src/pages/Admin/EnterPhoneNumber/style.tsx
Labels: 기능구현 ✅, front-end 👨‍👨‍👧

#880 [FE] refactor: 쿠폰 제작 및 변경 페이지의 로딩/에러 핸들링을 개선한다.
  frontend/src/components/ChoiceTemplate/SampleImageList.tsx
  frontend/src/pages/Admin/ModifyCouponPolicy/components/CurrentCouponImages/index.tsx
  frontend/src/pages/Admin/ModifyCouponPolicy/components/CurrentCouponImages/style.tsx
Labels: 리팩터링 🔨, front-end 👨‍👨‍👧

#888 [FE] refactor: 리워드 적립 페이지의 로딩/에러 핸들링을 개선한다.
  frontend/src/pages/Admin/RewardPage/components/RewardItemList/index.tsx
  frontend/src/pages/Admin/RewardPage/components/RewardItemList/style.tsx
  frontend/src/pages/Admin/RewardPage/hooks/useMutateReward.ts
  frontend/src/pages/Admin/RewardPage/hooks/useReward.ts
  frontend/src/pages/Admin/RewardPage/index.tsx
  frontend/src/pages/Admin/RewardPage/style.tsx
Labels: 리팩터링 🔨, front-end 👨‍👨‍👧

#906 [FE] feat: 쿠폰 리스트 ui 변경
  frontend/src/components/Alert/style.tsx
  frontend/src/components/BottomTabBar/index.tsx
  frontend/src/components/BottomTabBar/style.tsx
  frontend/src/components/ProgressBar/index.tsx
  frontend/src/components/ProgressBar/style.tsx
  frontend/src/components/Template/CustomerTemplate/index.tsx
  frontend/src/components/Template/index.tsx
  frontend/src/components/ToggleButton/index.tsx
  frontend/src/components/ToggleButton/style.tsx
  frontend/src/hooks/useToggleButton.ts
  frontend/src/pages/Customer/CouponList/components/CafeInfo/index.tsx
  frontend/src/pages/Customer/CouponList/components/Coupon/index.tsx
  frontend/src/pages/Customer/CouponList/components/Coupon/style.tsx
  frontend/src/pages/Customer/CouponList/components/CouponDetail/index.tsx
  frontend/src/pages/Customer/CouponList/components/CouponDetail/style.tsx
  frontend/src/pages/Customer/CouponList/hooks/useCouponList.ts
  frontend/src/pages/Customer/CouponList/hooks/useDeleteCoupon.ts
  frontend/src/pages/Customer/CouponList/hooks/useGetCafeInfo.ts
  frontend/src/pages/Customer/CouponList/hooks/useGetCoupons.ts
  frontend/src/pages/Customer/CouponList/hooks/usePostIsFavorites.ts
  frontend/src/pages/Customer/CouponList/index.tsx
  frontend/src/pages/Customer/CouponList/style.tsx
  frontend/src/pages/NotFound/CustomerNotFound/index.tsx
  frontend/src/stories/ProgressBar.stories.tsx
  frontend/src/style/GlobalStyle.tsx
Labels: 기능구현 ✅, front-end 👨‍👨‍👧
