Repository woowacourse-teams/2023-stamp-crush, pull requests merged in 2023-09, with the labels that each got.

#604 [FE] test: 스탬프 적립 시나리오를 기반으로 테스트를 작성한다.
  frontend/cypress/e2e/earnStamp.cy.ts
  frontend/cypress/support/e2e.ts
  frontend/src/mocks/handlers.ts
  frontend/src/mocks/mockData.ts
  frontend/src/pages/Admin/CustomerList/Customers/style.tsx
Labels: front-end 👨‍👨‍👧

#499 [FE] refactor: Suspense와 ErrorBoundary를 코드에 적용한다.
  frontend/src/App.tsx
  frontend/src/Router.tsx
  frontend/src/components/ErrorBoundary/index.ts
  frontend/src/components/LoadingSpinner/CustomerLoading/index.tsx
  frontend/src/components/LoadingSpinner/CustomerLoading/style.tsx
  frontend/src/components/LoadingSpinner/style.tsx
  frontend/src/hooks/api/useSuspendedQuery.ts
  frontend/src/pages/Admin/CouponDesign/ChoiceTemplate/index.tsx
  frontend/src/pages/Admin/ManageCafe/index.tsx
  frontend/src/pages/Admin/RewardPage/index.tsx
Labels: 기능구현 ✅, 리팩터링 🔨, front-end 👨‍👨‍👧

#596 [FE] 커스텀 스탬프 창의 사이즈가 변할 때 쿠폰 위에 따라다니지 않는 문제를 해결한다.
  frontend/src/components/Modal/style.tsx
  frontend/src/pages/CouponList/FlippedCoupon/style.tsx
Labels: 버그발생 🚨, front-end 👨‍👨‍👧

#610 [FE] bug: DEV서버 운영에 따른 환경변수 사용을 변경한다.
  frontend/src/api/index.ts
  frontend/src/api/post.ts
  frontend/src/constants/index.ts
  frontend/src/pages/Login/index.tsx
Labels: 버그발생 🚨, front-end 👨‍👨‍👧

#617 [FE] bug: Suspense로 인한 오류를 해결한다.
  frontend/src/App.tsx
  frontend/src/Router.tsx
Labels: 버그발생 🚨, front-end 👨‍👨‍👧

#626 [FE] feat: 스탬프 적립시 전화번호 입력 후 첫 적립임을 확인하는 Alert 추가
  frontend/src/api/index.ts
  frontend/src/hooks/useDialPad.ts
  frontend/src/pages/Admin/AdminLogin/index.tsx
  frontend/src/pages/Admin/EarnStamp/SelectCoupon/index.tsx
  frontend/src/pages/Admin/EarnStamp/index.tsx
  frontend/src/pages/Admin/EnterPhoneNumber/Dialpad/index.tsx
  frontend/src/pages/Admin/EnterPhoneNumber/style.tsx
Labels: 기능구현 ✅, front-end 👨‍👨‍👧

#625 [FE] feat: 고객모드 메인페이지를 개편한다.
  frontend/src/Router.tsx
  frontend/src/components/Template/CustomerTemplate/BottomTabBar/index.tsx
  frontend/src/components/Template/CustomerTemplate/BottomTabBar/style.tsx
  frontend/src/components/Template/CustomerTemplate/index.tsx
  frontend/src/components/Template/CustomerTemplate/style.tsx
  frontend/src/pages/Admin/CouponDesign/CouponPreviewSection/index.tsx
  frontend/src/pages/Admin/EarnStamp/index.tsx
  frontend/src/pages/Admin/InputPhoneNumber/index.tsx
  frontend/src/pages/Admin/InputPhoneNumber/style.tsx
  frontend/src/pages/CouponList/Header/index.tsx
  frontend/src/pages/Customer/CouponList/CafeInfo/index.tsx
  frontend/src/pages/Customer/CouponList/CafeInfo/style.tsx
  frontend/src/pages/Customer/CouponList/Coupon/index.tsx
  frontend/src/pages/Customer/CouponList/Coupon/style.tsx
  frontend/src/pages/Customer/CouponList/CouponDetail/index.tsx
  frontend/src/pages/Customer/CouponList/CouponDetail/style.tsx
  frontend/src/pages/Customer/CouponList/FlippedCoupon/index.tsx
  frontend/src/pages/Customer/CouponList/FlippedCoupon/style.tsx
  frontend/src/pages/Customer/CouponList/Header/index.tsx
  frontend/src/pages/Customer/CouponList/index.tsx
  frontend/src/pages/Customer/CouponList/style.tsx
  frontend/src/pages/Customer/HistoryPage/HistoryPage.tsx
  frontend/src/pages/Customer/HistoryPage/RewardHistory/index.tsx
  frontend/src/pages/Customer/HistoryPage/StampHistory/index.tsx
  frontend/src/pages/Customer/HistoryPage/style.tsx
  frontend/src/pages/Customer/Login/index.tsx
  frontend/src/pages/Customer/Login/style.tsx
  frontend/src/pages/Customer/MyPage/index.tsx
  frontend/src/pages/Customer/MyPage/style.tsx
  frontend/src/pages/Customer/RewardList/index.tsx
  frontend/src/pages/Customer/RewardList/style.tsx
  frontend/src/style/keyframes.ts
Labels: 기능구현 ✅, front-end 👨‍👨‍👧

#633 [BE] feat: Customer 상속 관계를 제거하고 하나의 테이블 구조로 변경한다
  backend/src/main/java/com/stampcrush/backend/application/manager/customer/ManagerCustomerCommandService.java
  backend/src/main/java/com/stampcrush/backend/application/visitor/profile/VisitorProfilesFindService.java
  backend/src/main/java/com/stampcrush/backend/application/visitor/profile/dto/VisitorProfileFindByPhoneNumberResultDto.java
  backend/src/main/java/com/stampcrush/backend/auth/application/VisitorAuthService.java
  backend/src/main/java/com/stampcrush/backend/auth/application/visitor/VisitorOAuthLoginService.java
  backend/src/main/java/com/stampcrush/backend/config/WebMvcConfig.java
  backend/src/main/java/com/stampcrush/backend/config/resolver/CustomerArgumentResolver.java
  backend/src/main/java/com/stampcrush/backend/entity/reward/Reward.java
  backend/src/main/java/com/stampcrush/backend/entity/user/Customer.java
  backend/src/main/java/com/stampcrush/backend/entity/user/CustomerType.java
  backend/src/main/java/com/stampcrush/backend/entity/user/RegisterCustomer.java
  backend/src/main/java/com/stampcrush/backend/entity/user/TemporaryCustomer.java
  backend/src/main/java/com/stampcrush/backend/initializer/DataInitializer.java
  backend/src/main/java/com/stampcrush/backend/repository/user/CustomerRepository.java
  backend/src/main/java/com/stampcrush/backend/repository/user/RegisterCustomerRepository.java
  backend/src/main/java/com/stampcrush/backend/repository/user/TemporaryCustomerRepository.java
  backend/src/test/java/com/stampcrush/backend/acceptance/ManagerCouponCommandAcceptanceTest.java
  backend/src/test/java/com/stampcrush/backend/acceptance/ManagerCouponFindAcceptanceTest.java
  backend/src/test/java/com/stampcrush/backend/acceptance/ManagerCustomerCommandAcceptanceTest.java
  backend/src/test/java/com/stampcrush/backend/acceptance/ManagerRewardCommandAcceptanceTest.java
  backend/src/test/java/com/stampcrush/backend/acceptance/VisitorCafeFindAcceptanceTest.java
  backend/src/test/java/com/stampcrush/backend/acceptance/VisitorCouponFindAcceptanceTest.java
  backend/src/test/java/com/stampcrush/backend/acceptance/VisitorFavoritesCommandAcceptanceTest.java
  backend/src/test/java/com/stampcrush/backend/acceptance/VisitorProfileFindAcceptanceTest.java
  backend/src/test/java/com/stampcrush/backend/acceptance/VisitorProfilesCommandAcceptanceTest.java
  backend/src/test/java/com/stampcrush/backend/acceptance/step/ManagerCouponFindStep.java
  backend/src/test/java/com/stampcrush/backend/acceptance/step/ManagerStampCreateStep.java
  backend/src/test/java/com/stampcrush/backend/acceptance/step/VisitorCafeFindStep.java
  backend/src/test/java/com/stampcrush/backend/acceptance/step/VisitorCouponFindStep.java
  backend/src/test/java/com/stampcrush/backend/acceptance/step/VisitorProfilesCommandStep.java
  backend/src/test/java/com/stampcrush/backend/api/ControllerSliceTest.java
  backend/src/test/java/com/stampcrush/backend/api/docs/DocsControllerTest.java
  backend/src/test/java/com/stampcrush/backend/api/visitor/cafe/VisitorCafeFindApiControllerTest.java
  backend/src/test/java/com/stampcrush/backend/api/visitor/coupon/VisitorCouponFindApiControllerTest.java
  backend/src/test/java/com/stampcrush/backend/api/visitor/profile/VisitorProfilesFindApiControllerTest.java
  backend/src/test/java/com/stampcrush/backend/application/manager/coupon/ManageCouponCommandServiceTest.java
  backend/src/test/java/com/stampcrush/backend/application/manager/coupon/ManagerCouponFindServiceTest.java
  backend/src/test/java/com/stampcrush/backend/application/manager/customer/ManagerCustomerCommandServiceTest.java
  backend/src/test/java/com/stampcrush/backend/application/manager/customer/ManagerCustomerFindServiceTest.java
  backend/src/test/java/com/stampcrush/backend/application/manager/reward/ManagerRewardCommandServiceTest.java
  backend/src/test/java/com/stampcrush/backend/application/visitor/coupon/VisitorCouponFindServiceTest.java
  backend/src/test/java/com/stampcrush/backend/application/visitor/favorites/VisitorFavoritesCommandServiceTest.java
  backend/src/test/java/com/stampcrush/backend/application/visitor/profile/VisitorProfilesCommandServiceTest2.java
  backend/src/test/java/com/stampcrush/backend/application/visitor/profile/VisitorProfilesFindServiceTest.java
  backend/src/test/java/com/stampcrush/backend/application/visitor/reward/VisitorRewardsFindServiceTest.java
  backend/src/test/java/com/stampcrush/backend/entity/coupon/CouponTest.java
  backend/src/test/java/com/stampcrush/backend/entity/reward/RewardTest.java
  backend/src/test/java/com/stampcrush/backend/entity/user/CustomerTest.java
  backend/src/test/java/com/stampcrush/backend/entity/user/TemporaryCustomerTest.java
  backend/src/test/java/com/stampcrush/backend/fixture/CustomerFixture.java
  backend/src/test/java/com/stampcrush/backend/helper/AuthHelper.java
  backend/src/test/java/com/stampcrush/backend/repository/coupon/CouponRepositoryTest.java
  backend/src/test/java/com/stampcrush/backend/repository/coupon/CouponRepositoryTest2.java
  backend/src/test/java/com/stampcrush/backend/repository/user/CustomerRepositoryTest.java
  backend/src/test/java/com/stampcrush/backend/repository/user/RegisterCustomerRepositoryTest.java
  backend/src/test/java/com/stampcrush/backend/repository/visithistory/VisitHistoryRepositoryTest.java
Labels: back-end 👩‍👩‍👦‍👦

#624 [FE] 로그인 페이지를 개선한다.
  frontend/src/assets/admin_login_background.jpg
  frontend/src/assets/check.svg
  frontend/src/assets/index.ts
  frontend/src/assets/kakao_login_large_wide.png
  frontend/src/custom.d.ts
  frontend/src/pages/Admin/AdminLogin/CheckItem.tsx
  frontend/src/pages/Admin/AdminLogin/index.tsx
  frontend/src/pages/Admin/AdminLogin/style.tsx
  frontend/src/pages/Customer/Login/index.tsx
  frontend/src/pages/Customer/Login/style.tsx
Labels: 기능구현 ✅, front-end 👨‍👨‍👧

#637 [FE] refactor: 로그인 상태를 판별하는 PrivateProvider를 구현한다.
  frontend/src/Router.tsx
  frontend/src/pages/Admin/EnterPhoneNumber/index.tsx
  frontend/src/pages/Customer/Login/index.tsx
  frontend/src/pages/Customer/Login/style.tsx
  frontend/src/provider/PrivateProvider.tsx
Labels: 리팩터링 🔨, front-end 👨‍👨‍👧

#640 [FE] refactor: `TabBar`의 렌더링 계층을 변경한다.
  frontend/src/components/Template/CustomerTemplate/BottomTabBar/index.tsx
  frontend/src/components/Template/CustomerTemplate/index.tsx
Labels: 리팩터링 🔨, front-end 👨‍👨‍👧

#644 [BE] feat: 회원 데이터 연동 API
  backend/src/main/java/com/stampcrush/backend/api/visitor/profile/VisitorProfilesCommandApiController.java
  backend/src/main/java/com/stampcrush/backend/api/visitor/profile/VisitorProfilesLinkDataDto.java
  backend/src/main/java/com/stampcrush/backend/api/visitor/profile/VisitorProfilesLinkDataRequest.java
  backend/src/main/java/com/stampcrush/backend/application/visitor/profile/VisitorProfilesCommandService.java
  backend/src/main/java/com/stampcrush/backend/auth/api/VisitorAuthController.java
  backend/src/main/java/com/stampcrush/backend/auth/application/VisitorAuthService.java
  backend/src/main/java/com/stampcrush/backend/auth/request/OAuthRegisterCustomerCreateRequest.java
  backend/src/main/java/com/stampcrush/backend/entity/user/Customer.java
  backend/src/test/java/com/stampcrush/backend/acceptance/VisitorLinkDataAcceptanceTest.java
  backend/src/test/java/com/stampcrush/backend/acceptance/step/VisitorJoinStep.java
  backend/src/test/java/com/stampcrush/backend/acceptance/step/VisitorLinkDataStep.java
  backend/src/test/java/com/stampcrush/backend/api/visitor/profile/VisitorProfilesCommandApiControllerTest.java
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#641 [FE] refactor: 쿠폰이 한 장일 때 쿠폰을 넘기는 애니메이션이 동작하지 않게 한다.
  frontend/src/pages/Customer/CouponList/index.tsx
  frontend/src/types/index.ts
  frontend/src/utils/index.ts
Labels: 리팩터링 🔨, front-end 👨‍👨‍👧

#650 [FE] refactor: 전화번호로 고객 조회 로직을 전화번호 입력페이지로 이동시킨다. (재Pr)
  frontend/src/api/post.ts
  frontend/src/hooks/useDialPad.ts
  frontend/src/pages/Admin/EarnStamp/SelectCoupon/index.tsx
  frontend/src/pages/Admin/EnterPhoneNumber/Dialpad/index.tsx
  frontend/src/pages/Admin/RewardPage/index.tsx
  frontend/src/utils/index.ts
Labels: 리팩터링 🔨, front-end 👨‍👨‍👧

#664 [BE] fix: customer oauth_id type 수정
  backend/src/main/resources/db/migration/V1__init/V2__alter_customer.sql
Labels: 버그발생 🚨, back-end 👩‍👩‍👦‍👦

#665 [BE] feat: dtype 컬럼 삭제 후 temporary_customer, register_customer 테이블 삭제 마이그레이션 스크립트 작성
  backend/src/main/resources/db/migration/V1__init/V3__delete_inheritance.sql
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#666 [BE] feat: V4 마이그레이션 스크립트 작성
  backend/src/main/resources/db/migration/V1__init/V2__alter_customer.sql
  backend/src/main/resources/db/migration/V1__init/V4__alter_customer_fix.sql
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#668 [BE] fix: CustomerType에서 이름을 거꾸로 지정한 문제 해결
  backend/src/main/java/com/stampcrush/backend/application/visitor/profile/dto/VisitorProfileFindByPhoneNumberResultDto.java
  backend/src/main/java/com/stampcrush/backend/entity/user/Customer.java
  backend/src/main/java/com/stampcrush/backend/entity/user/CustomerType.java
  backend/src/test/java/com/stampcrush/backend/api/visitor/profile/VisitorProfilesFindApiControllerTest.java
Labels: 버그발생 🚨, back-end 👩‍👩‍👦‍👦

#656 [FE] refactor: 변경된 플로우에 따라 SelectCoupon 내 로직을 변경한다.
  frontend/src/Router.tsx
  frontend/src/components/SideBar/index.tsx
  frontend/src/constants/index.ts
  frontend/src/hooks/useDialPad.ts
  frontend/src/pages/Admin/EarnStamp/SelectCoupon/index.tsx
  frontend/src/pages/Admin/EarnStamp/SelectCoupon/style.tsx
  frontend/src/pages/Admin/EarnStamp/hooks/useGetCoupon.ts
  frontend/src/pages/Admin/EarnStamp/hooks/useGetCurrentCouponDesign.ts
  frontend/src/pages/Admin/EarnStamp/hooks/usePostEarnStamp.ts
  frontend/src/pages/Admin/EarnStamp/hooks/usePostIssueCoupon.ts
  frontend/src/pages/Admin/EarnStamp/index.tsx
  frontend/src/types/index.ts
Labels: 리팩터링 🔨, front-end 👨‍👨‍👧

#670 [FE] fix: 남아있는 index.ts 제거
  frontend/src/pages/Admin/EarnStamp/hooks/useGetCoupon.ts
  frontend/src/pages/Admin/EarnStamp/hooks/usePostIssueCoupon.ts
  frontend/src/types/index.ts
Labels: 버그발생 🚨, front-end 👨‍👨‍👧

#642 [FE] refactor: 템플릿 쿠폰 페이지의 관심사를 분리한다.
  frontend/src/constants/index.ts
  frontend/src/pages/Admin/CouponDesign/ChoiceTemplate/SampleImageList.tsx
  frontend/src/pages/Admin/CouponDesign/ChoiceTemplate/hooks/useSampleImages.tsx
  frontend/src/pages/Admin/CouponDesign/ChoiceTemplate/index.tsx
  frontend/src/pages/Admin/CouponDesign/ChoiceTemplate/style.tsx
  frontend/src/types/utils/index.ts
Labels: 리팩터링 🔨, front-end 👨‍👨‍👧

#655 [FE] refactor: 쿠폰 제작 및 변경 페이지의 관심사를 분리한다.
  frontend/src/pages/Admin/ModifyCouponPolicy/CreatedType/index.tsx
  frontend/src/pages/Admin/ModifyCouponPolicy/common/constant.ts
  frontend/src/pages/Admin/ModifyCouponPolicy/hooks/useStep.ts
  frontend/src/pages/Admin/ModifyCouponPolicy/index.tsx
  frontend/src/pages/Admin/ModifyCouponPolicy/logic/index.ts
Labels: 버그발생 🚨, 리팩터링 🔨, front-end 👨‍👨‍👧

#674 fix: customer type 버그 수정
  backend/src/main/java/com/stampcrush/backend/application/visitor/profile/dto/VisitorProfileFindByPhoneNumberResultDto.java
  backend/src/main/java/com/stampcrush/backend/entity/user/Customer.java
  backend/src/main/java/com/stampcrush/backend/entity/user/CustomerType.java
  backend/src/test/java/com/stampcrush/backend/api/visitor/profile/VisitorProfilesFindApiControllerTest.java
Labels: 버그발생 🚨, back-end 👩‍👩‍👦‍👦

#676 [FE] fix: 이미지 업로드 요청 인증 헤더 추가
  frontend/src/api/post.ts
Labels: 버그발생 🚨, front-end 👨‍👨‍👧

#672 [FE] refactor: `manageCafe` 페이지의 관심사를 분리한다.
  frontend/src/constants/index.ts
  frontend/src/pages/Admin/ManageCafe/components/CafeImageUpload/index.tsx
  frontend/src/pages/Admin/ManageCafe/components/CafeImageUpload/style.tsx
  frontend/src/pages/Admin/ManageCafe/components/CafeIntroduction/index.tsx
  frontend/src/pages/Admin/ManageCafe/components/CafeIntroduction/style.tsx
  frontend/src/pages/Admin/ManageCafe/components/CafePhoneNumber/index.tsx
  frontend/src/pages/Admin/ManageCafe/components/CafeTimePicker/index.tsx
  frontend/src/pages/Admin/ManageCafe/components/PreviewCafeImage/index.tsx
  frontend/src/pages/Admin/ManageCafe/components/PreviewContent/index.tsx
  frontend/src/pages/Admin/ManageCafe/components/PreviewContent/style.tsx
  frontend/src/pages/Admin/ManageCafe/components/PreviewCoupon/index.tsx
  frontend/src/pages/Admin/ManageCafe/components/PreviewCoupon/style.tsx
  frontend/src/pages/Admin/ManageCafe/components/PreviewOverview/index.tsx
  frontend/src/pages/Admin/ManageCafe/hooks/useGetCafe.ts
  frontend/src/pages/Admin/ManageCafe/hooks/useGetCouponDesign.ts
  frontend/src/pages/Admin/ManageCafe/hooks/useManageCafe.ts
  frontend/src/pages/Admin/ManageCafe/hooks/usePatchCafeInfo.ts
  frontend/src/pages/Admin/ManageCafe/index.tsx
  frontend/src/pages/Admin/ManageCafe/style.tsx
  frontend/src/utils/index.ts
Labels: 리팩터링 🔨, front-end 👨‍👨‍👧

#683 [BE] refactor: 회원가입/로그인 API URI 변경
  backend/src/main/java/com/stampcrush/backend/auth/api/ManagerAuthController.java
  backend/src/main/java/com/stampcrush/backend/auth/api/VisitorAuthController.java
  backend/src/test/java/com/stampcrush/backend/acceptance/step/ManagerJoinStep.java
  backend/src/test/java/com/stampcrush/backend/acceptance/step/VisitorJoinStep.java
Labels: 리팩터링 🔨, back-end 👩‍👩‍👦‍👦

#671 [FE] refactor: EnterPhoneNumber react-query 로직 훅으로 분리
  frontend/src/constants/index.ts
  frontend/src/hooks/useDialPad.ts
  frontend/src/pages/Admin/EnterPhoneNumber/Dialpad/index.tsx
  frontend/src/pages/Admin/EnterPhoneNumber/hooks/useDialPad.ts
  frontend/src/pages/Admin/EnterPhoneNumber/hooks/useGetCustomer.ts
  frontend/src/pages/Admin/EnterPhoneNumber/hooks/usePostTemporaryCustomer.ts
  frontend/src/utils/index.ts
Labels: 리팩터링 🔨, front-end 👨‍👨‍👧

#698 [BE] feat: 5차 데모데이때 추가된 API 에 대한 문서화 테스트를 작성한다
  backend/src/test/java/com/stampcrush/backend/api/docs/manager/cafe/ManagerCafeCommandApiDocsControllerTest.java
  backend/src/test/java/com/stampcrush/backend/api/docs/manager/cafe/ManagerCafeCouponSettingCommandApiDocsControllerTest.java
  backend/src/test/java/com/stampcrush/backend/api/docs/manager/cafe/ManagerCafeCouponSettingFindApiDocsControllerTest.java
  backend/src/test/java/com/stampcrush/backend/api/docs/manager/cafe/ManagerCafeFindApiDocsControllerTest.java
  backend/src/test/java/com/stampcrush/backend/api/docs/manager/coupon/ManagerCouponCommandApiDocsControllerTest.java
  backend/src/test/java/com/stampcrush/backend/api/docs/manager/coupon/ManagerCouponFindApiDocsControllerTest.java
  backend/src/test/java/com/stampcrush/backend/api/docs/manager/customer/ManagerCustomerCommandApiDocsControllerTest.java
  backend/src/test/java/com/stampcrush/backend/api/docs/manager/customer/ManagerCustomerFindApiDocsControllerTest.java
  backend/src/test/java/com/stampcrush/backend/api/docs/manager/image/ManagerImageCommandApiDocsControllerTest.java
  backend/src/test/java/com/stampcrush/backend/api/docs/manager/reward/ManagerRewardCommandApiDocsControllerTest.java
  backend/src/test/java/com/stampcrush/backend/api/docs/manager/reward/ManagerRewardFindApiDocsControllerTest.java
  backend/src/test/java/com/stampcrush/backend/api/docs/manager/sample/ManagerSampleCouponFindApiDocsControllerTest.java
  backend/src/test/java/com/stampcrush/backend/api/docs/visitor/cafe/VisitorCafeFindApiDocsControllerTest.java
  backend/src/test/java/com/stampcrush/backend/api/docs/visitor/coupon/VisitorCouponCommandApiDocsControllerTest.java
  backend/src/test/java/com/stampcrush/backend/api/docs/visitor/coupon/VisitorCouponFindApiDocsControllerTest.java
  backend/src/test/java/com/stampcrush/backend/api/docs/visitor/favorites/VisitorFavoritesCommandApiDocsControllerTest.java
  backend/src/test/java/com/stampcrush/backend/api/docs/visitor/profile/VisitorProfilesCommandApiDocsControllerTest.java
  backend/src/test/java/com/stampcrush/backend/api/docs/visitor/profile/VisitorProfilesFindApiDocsControllerTest.java
  backend/src/test/java/com/stampcrush/backend/api/docs/visitor/reward/VisitorRewardsFindApiDocsControllerTest.java
  backend/src/test/java/com/stampcrush/backend/api/docs/visitor/visithistory/VisitorVisitHistoryFindApiDocsControllerTest.java
Labels: 문서화 📑, back-end 👩‍👩‍👦‍👦

#690 [FE] fix: 고객 카카오 로그인 버튼 이미지 화질을 개선한다.
  frontend/src/assets/index.ts
  frontend/src/assets/kakao_login_large_narrow.png
  frontend/src/assets/kakao_login_medium_narrow.svg
  frontend/src/pages/Customer/Login/style.tsx
Labels: 리팩터링 🔨, front-end 👨‍👨‍👧

#705 [FE] feat: 스탬프 적립 페이지에서 적립할 스탬프 개수에 따라 렌더링한다.
  frontend/src/pages/Admin/EarnStamp/index.tsx
  frontend/src/pages/Admin/EarnStamp/style.tsx
  frontend/src/pages/Customer/CouponList/style.tsx
Labels: 기능구현 ✅, front-end 👨‍👨‍👧

#695 [FE] refactor: 사용자 유치 전 다양한 버그를 해결한다.
  frontend/src/components/Header/SubHeader/index.tsx
  frontend/src/components/SideBar/index.tsx
  frontend/src/pages/Admin/CustomerList/Customers/index.tsx
  frontend/src/pages/Admin/CustomerList/hooks/useGetCustomers.ts
  frontend/src/pages/Admin/CustomerList/index.tsx
  frontend/src/pages/Customer/HistoryPage/HistoryPage.tsx
  frontend/src/pages/Customer/HistoryPage/style.tsx
  frontend/src/pages/Customer/MyPage/index.tsx
Labels: 리팩터링 🔨, front-end 👨‍👨‍👧

#711 [FE] fix: token 만료 시 만료된 토큰을 삭제한다.
  frontend/src/api/index.ts
Labels: 기능구현 ✅, 버그발생 🚨, front-end 👨‍👨‍👧

#721 [FE] fix: CustomerOrderOption 버그 수정
  frontend/src/pages/Admin/CustomerList/hooks/useGetCustomers.ts
  frontend/src/pages/Admin/CustomerList/index.tsx
Labels: 버그발생 🚨, front-end 👨‍👨‍👧

#708 [FE] refactor: 개인정보 수집 및 이용 동의 개선
  frontend/src/pages/Admin/EnterPhoneNumber/index.tsx
  frontend/src/pages/Admin/EnterPhoneNumber/style.tsx
Labels: 리팩터링 🔨, front-end 👨‍👨‍👧

#709 [FE] bug: 고객모드의 카페 상세페이지에서 탭바를 보이지 않도록 한다.
  frontend/src/pages/Customer/CouponList/CouponDetail/index.tsx
  frontend/src/pages/Customer/CouponList/CouponDetail/style.tsx
Labels: 버그발생 🚨, front-end 👨‍👨‍👧

#723 [FE] fix: 잘못된 redirect url 변경
  frontend/src/api/index.ts
Labels: front-end 👨‍👨‍👧

#727 [BE] fix: 고객이 쿠폰만 있고 방문횟수가 없을때 에러 수정
  backend/src/main/java/com/stampcrush/backend/application/manager/coupon/ManagerCouponFindService.java
  backend/src/main/java/com/stampcrush/backend/application/manager/reward/ManagerRewardFindService.java
  backend/src/test/java/com/stampcrush/backend/acceptance/ManagerRewardFindAcceptanceTest.java
Labels: 버그발생 🚨, back-end 👩‍👩‍👦‍👦

#726 [FE] feat: 요청에 따른 access token 분기처리
  frontend/src/api/index.ts
Labels: 기능구현 ✅, front-end 👨‍👨‍👧

#717 [FE] refactor: react-icons를 @react-icons/all-files와 svg 파일로 대체한다.
  frontend/package.json
  frontend/src/assets/icons/book_open_text.svg
  frontend/src/assets/icons/buildings.svg
  frontend/src/assets/icons/ci_circle_alert.svg
  frontend/src/assets/icons/fa_location_dot.svg
  frontend/src/assets/icons/gift.svg
  frontend/src/assets/icons/md_outline_photo_size_select_large.svg
  frontend/src/assets/icons/stamp.svg
  frontend/src/assets/icons/user_list.svg
  frontend/src/assets/index.ts
  frontend/src/components/Alert/index.tsx
  frontend/src/components/Header/SubHeader/index.tsx
  frontend/src/components/LoadingSpinner/CustomerLoading/index.tsx
  frontend/src/components/LoadingSpinner/CustomerLoadingSpinner/index.tsx
  frontend/src/components/LoadingSpinner/index.tsx
  frontend/src/components/SearchBar/index.tsx
  frontend/src/components/SideBar/index.tsx
  frontend/src/components/Template/CustomerTemplate/BottomTabBar/index.tsx
  frontend/src/components/Template/index.tsx
  frontend/src/custom.d.ts
  frontend/src/pages/Admin/AdminLogin/CheckItem.tsx
  frontend/src/pages/Admin/AdminLogin/index.tsx
  frontend/src/pages/Admin/EnterPhoneNumber/index.tsx
  frontend/src/pages/Admin/InputPhoneNumber/index.tsx
  frontend/src/pages/Admin/ManageCafe/components/CafeImageUpload/index.tsx
  frontend/src/pages/Admin/ManageCafe/components/PreviewContent/index.tsx
  frontend/src/pages/Admin/ModifyCouponPolicy/CreatedType/index.tsx
  frontend/src/pages/Admin/ModifyCouponPolicy/ExpirePeriod/index.tsx
  frontend/src/pages/Customer/CouponList/CafeInfo/index.tsx
  frontend/src/pages/Customer/CouponList/CouponDetail/index.tsx
  frontend/src/pages/Customer/CouponList/Header/index.tsx
  frontend/src/pages/Customer/Login/index.tsx
  frontend/src/pages/Customer/MyPage/index.tsx
  frontend/webpack.common.js
Labels: 리팩터링 🔨, front-end 👨‍👨‍👧

#730 [BE] feat: coupon 더미 데이터 컨트롤러
  backend/src/main/java/com/stampcrush/backend/api/DummyController.java
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#731 [BE] fix: dummy URI 변경
  backend/src/main/java/com/stampcrush/backend/api/DummyController.java
Labels: 버그발생 🚨, back-end 👩‍👩‍👦‍👦

#733 [BE] feat: thread 정보 로깅
  backend/src/main/java/com/stampcrush/backend/config/RequestLoggingFilter.java
  backend/src/main/resources/logback-spring.xml
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#734 [BE] feat: thread loggin 수정
  backend/src/main/resources/logback-spring.xml
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#736 [FE] fix: 사장모드 로고가 사라지는 오류 트러블 슈팅
  frontend/src/components/SideBar/index.tsx
  frontend/src/components/SideBar/style.tsx
Labels: 버그발생 🚨, front-end 👨‍👨‍👧

#714 [FE] feat: 고객모드의 전화번호 등록페이지에서 추가된 플로우를 구현한다.
  frontend/src/Router.tsx
  frontend/src/api/get.ts
  frontend/src/api/post.ts
  frontend/src/mocks/handlers.ts
  frontend/src/mocks/mockData.ts
  frontend/src/pages/Admin/InputPhoneNumber/index.tsx
  frontend/src/pages/Admin/InputPhoneNumber/style.tsx
  frontend/src/pages/Customer/InputPhoneNumber/hooks/useGetCustomerRegisterType.ts
  frontend/src/pages/Customer/InputPhoneNumber/hooks/useInputPhoneNumber.ts
  frontend/src/pages/Customer/InputPhoneNumber/hooks/usePostCustomerLinkData.ts
  frontend/src/pages/Customer/InputPhoneNumber/hooks/usePostCustomerPhoneNumber.tsx
  frontend/src/pages/Customer/InputPhoneNumber/index.tsx
  frontend/src/pages/Customer/InputPhoneNumber/style.tsx
  frontend/src/types/api/request.ts
  frontend/src/types/api/response.ts
  frontend/src/types/domain/customer.ts
Labels: 기능구현 ✅, front-end 👨‍👨‍👧

#740 [FE] fix: url 수정
  frontend/src/api/get.ts
  frontend/src/assets/check.svg
  frontend/src/assets/login_logo.svg
  frontend/src/pages/Admin/AdminLogin/CheckItem.tsx
  frontend/src/pages/Admin/AdminLogin/index.tsx
  frontend/src/pages/Admin/AdminLogin/style.tsx
  frontend/src/pages/Customer/InputPhoneNumber/index.tsx
Labels: 버그발생 🚨, front-end 👨‍👨‍👧

#742 fix: async로 수정
  frontend/src/pages/Customer/InputPhoneNumber/hooks/useInputPhoneNumber.ts
Labels: 버그발생 🚨, front-end 👨‍👨‍👧

#692 [FE] refactor: 카페 등록 페이지에서 사업자등록번호 입력 단계를 제거한다.
  frontend/src/components/Input/index.tsx
  frontend/src/components/Input/style.tsx
  frontend/src/pages/Admin/ModifyCouponPolicy/RewardName/index.tsx
  frontend/src/pages/Admin/RegisterCafe/hooks/usePostRegisterCafe.ts
  frontend/src/pages/Admin/RegisterCafe/hooks/useRegisterCafe.ts
  frontend/src/pages/Admin/RegisterCafe/index.tsx
Labels: 리팩터링 🔨, front-end 👨‍👨‍👧

#749 [BE] feat: 카페 사장의 findAllCafes() 인수테스트 작성
  backend/src/test/java/com/stampcrush/backend/acceptance/ManagerCafeFindAcceptanceTest.java
  backend/src/test/java/com/stampcrush/backend/acceptance/step/ManagerCafeFindStep.java
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#719 [BE] feat: 전화번호로 고객 프로필 조회 및 고객의 리워드 조회 테스트
  backend/src/main/java/com/stampcrush/backend/api/visitor/profile/response/VisitorProfilesFindByPhoneNumberResponse.java
  backend/src/main/java/com/stampcrush/backend/api/visitor/reward/response/VisitorRewardsFindResponse.java
  backend/src/test/java/com/stampcrush/backend/acceptance/VisitorProfileFindAcceptanceTest.java
  backend/src/test/java/com/stampcrush/backend/acceptance/VisitorRewardFindAcceptanceTest.java
  backend/src/test/java/com/stampcrush/backend/acceptance/step/VisitorRewardFindStep.java
Labels: 기능구현 ✅, 리팩터링 🔨, back-end 👩‍👩‍👦‍👦

#702 [BE] refactor: Visitor.cafe, Manager.reward 인수테스트를 리팩터링한다
  backend/src/main/java/com/stampcrush/backend/api/DummyController.java
  backend/src/main/java/com/stampcrush/backend/api/LogController.java
  backend/src/test/java/com/stampcrush/backend/acceptance/AcceptanceTest.java
  backend/src/test/java/com/stampcrush/backend/acceptance/ManagerRewardCommandAcceptanceTest.java
  backend/src/test/java/com/stampcrush/backend/acceptance/ManagerRewardFindAcceptanceTest.java
  backend/src/test/java/com/stampcrush/backend/acceptance/VisitorCafeFindAcceptanceTest.java
  backend/src/test/java/com/stampcrush/backend/acceptance/VisitorCouponCommandAcceptanceTest.java
  backend/src/test/java/com/stampcrush/backend/acceptance/VisitorCouponFindAcceptanceTest.java
  backend/src/test/java/com/stampcrush/backend/acceptance/step/ManagerCouponCreateStep.java
  backend/src/test/java/com/stampcrush/backend/acceptance/step/ManagerRewardStep.java
  backend/src/test/java/com/stampcrush/backend/acceptance/step/ManagerStampCreateStep.java
  backend/src/test/java/com/stampcrush/backend/acceptance/step/VisitorCafeFindStep.java
Labels: 리팩터링 🔨, back-end 👩‍👩‍👦‍👦

#750 [BE] feat: Visitor Visit History 인수테스트 작성
  backend/src/main/java/com/stampcrush/backend/api/manager/cafe/response/CafesFindResponse.java
  backend/src/test/java/com/stampcrush/backend/acceptance/ManagerCafeFindAcceptanceTest.java
  backend/src/test/java/com/stampcrush/backend/acceptance/ManagerCouponCommandAcceptanceTest.java
  backend/src/test/java/com/stampcrush/backend/acceptance/ManagerCouponFindAcceptanceTest.java
  backend/src/test/java/com/stampcrush/backend/acceptance/VisitorVisitHistoryFindAcceptanceTest.java
  backend/src/test/java/com/stampcrush/backend/acceptance/step/ManagerCafeFindStep.java
  backend/src/test/java/com/stampcrush/backend/acceptance/step/VisitorVisitHistoriesFindStep.java
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#747 [BE] refactor: oauth 인증 반환값 변경해서 커버링 인덱스 사용할 수 있도록 변경
  backend/src/main/java/com/stampcrush/backend/auth/application/manager/ManagerOAuthLoginService.java
  backend/src/main/java/com/stampcrush/backend/auth/application/visitor/VisitorOAuthLoginService.java
  backend/src/main/java/com/stampcrush/backend/repository/user/CustomerRepository.java
  backend/src/main/java/com/stampcrush/backend/repository/user/OwnerRepository.java
  backend/src/test/java/com/stampcrush/backend/repository/user/OwnerRepositoryTest.java
  backend/src/test/java/com/stampcrush/backend/repository/user/RegisterCustomerRepositoryTest.java
Labels: 리팩터링 🔨, back-end 👩‍👩‍👦‍👦

#752 [FE] fix: 하이픈 제거 로직 및 개인정보 수집기간 칼럼 추가
  frontend/src/pages/Admin/EnterPhoneNumber/index.tsx
  frontend/src/pages/Admin/EnterPhoneNumber/style.tsx
  frontend/src/pages/Customer/InputPhoneNumber/hooks/usePostCustomerPhoneNumber.tsx
Labels: 버그발생 🚨, front-end 👨‍👨‍👧

#754 [FE] fix: `Input` 속성 수정
  frontend/src/components/Input/index.tsx
Labels: 버그발생 🚨, front-end 👨‍👨‍👧

#756 [FE] fix: `Input` 오류 수정
  frontend/src/components/Input/index.tsx
Labels: 버그발생 🚨, front-end 👨‍👨‍👧

#760 [FE] refactor: 핫픽스한 `Input`의 싱크를 맞춘다
  frontend/src/components/Input/index.tsx
Labels: 리팩터링 🔨, front-end 👨‍👨‍👧

#712 [FE] refactor: `CouponList` 페이지를 리팩토링한다.
  frontend/src/components/LoadingSpinner/style.tsx
  frontend/src/pages/Admin/CouponDesign/CouponPreviewSection/index.tsx
  frontend/src/pages/Admin/EarnStamp/index.tsx
  frontend/src/pages/Customer/CouponList/components/CafeInfo/index.tsx
  frontend/src/pages/Customer/CouponList/components/CafeInfo/style.tsx
  frontend/src/pages/Customer/CouponList/components/Coupon/index.tsx
  frontend/src/pages/Customer/CouponList/components/Coupon/style.tsx
  frontend/src/pages/Customer/CouponList/components/CouponDetail/hooks/useDeleteCoupon.ts
  frontend/src/pages/Customer/CouponList/components/CouponDetail/index.tsx
  frontend/src/pages/Customer/CouponList/components/CouponDetail/style.tsx
  frontend/src/pages/Customer/CouponList/components/FlippedCoupon/index.tsx
  frontend/src/pages/Customer/CouponList/components/FlippedCoupon/style.tsx
  frontend/src/pages/Customer/CouponList/components/Header/index.tsx
  frontend/src/pages/Customer/CouponList/components/HomeTemplate/index.tsx
  frontend/src/pages/Customer/CouponList/hooks/useCouponDetail.ts
  frontend/src/pages/Customer/CouponList/hooks/useCouponList.ts
  frontend/src/pages/Customer/CouponList/hooks/useGetCoupons.ts
  frontend/src/pages/Customer/CouponList/hooks/usePostIsFavorites.ts
  frontend/src/pages/Customer/CouponList/index.tsx
Labels: 리팩터링 🔨, front-end 👨‍👨‍👧

#787 [BE] fix: Flyway 스크립트 수정 (Coupon Table delete 칼럼 추가 부분 삭제)
  backend/src/main/resources/db/migration/V6__delete_customer.sql
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#788 [BE] fix: Flyway 스크립트 수정
  backend/src/main/resources/db/migration/V6__delete_customer.sql
  backend/src/main/resources/db/migration/V7__alter_delete.sql
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#790 [BE] fix: deleted column 의 type 을 bit(1) 로 변경하는 스크립트 추가
  backend/src/main/resources/db/migration/V8__alter_delete_column_type.sql
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#781 [BE] refactor: @Disabled 테스트를 제거한다.
  backend/src/main/java/com/stampcrush/backend/application/manager/cafe/ManagerCafeCommandService.java
  backend/src/main/java/com/stampcrush/backend/application/manager/cafe/SampleImages.java
  backend/src/main/java/com/stampcrush/backend/auth/api/VisitorAuthController.java
  backend/src/main/java/com/stampcrush/backend/auth/application/VisitorAuthService.java
  backend/src/test/java/com/stampcrush/backend/acceptance/VisitorCouponFindAcceptanceTest.java
  backend/src/test/java/com/stampcrush/backend/api/docs/auth/ManagerOAuthApiDocsControllerTest.java
  backend/src/test/java/com/stampcrush/backend/api/visitor/profile/VisitorProfilesCommandApiControllerTest.java
  backend/src/test/java/com/stampcrush/backend/application/manager/cafe/ManagerCafeCommandServiceTest.java
  backend/src/test/java/com/stampcrush/backend/application/visitor/favorites/VisitorFavoritesCommandServiceTest.java
  backend/src/test/java/com/stampcrush/backend/repository/coupon/CouponRepositoryTest2.java
Labels: 리팩터링 🔨, back-end 👩‍👩‍👦‍👦

#779 [FE] feat: 고객모드 manifest 설정 추가
  frontend/public/index.html
  frontend/public/manifest.webmanifest
  frontend/src/components/Header/SubHeader/style.tsx
Labels: 기능구현 ✅, front-end 👨‍👨‍👧

#791 [BE] feat: cafe owner can login by id and password.
  backend/src/main/java/com/stampcrush/backend/api/manager/owner/ManagerCommandApiController.java
  backend/src/main/java/com/stampcrush/backend/api/manager/owner/request/OwnerCreateRequest.java
  backend/src/main/java/com/stampcrush/backend/api/manager/owner/request/OwnerLoginRequest.java
  backend/src/main/java/com/stampcrush/backend/application/manager/owner/ManagerCommandService.java
  backend/src/main/java/com/stampcrush/backend/application/manager/owner/dto/OwnerCreateDto.java
  backend/src/main/java/com/stampcrush/backend/application/manager/owner/dto/OwnerLoginDto.java
  backend/src/main/java/com/stampcrush/backend/application/manager/owner/util/PasswordEncryptor.java
  backend/src/main/java/com/stampcrush/backend/application/manager/owner/util/PasswordValidator.java
  backend/src/main/java/com/stampcrush/backend/config/WebMvcConfig.java
  backend/src/main/java/com/stampcrush/backend/entity/user/Owner.java
  backend/src/main/java/com/stampcrush/backend/exception/LoginIdBadRequestException.java
  backend/src/main/java/com/stampcrush/backend/exception/PasswordBadRequestException.java
  backend/src/test/java/com/stampcrush/backend/acceptance/ManagerCommandAcceptanceTest.java
  backend/src/test/java/com/stampcrush/backend/acceptance/step/ManagerCreateStep.java
  backend/src/test/java/com/stampcrush/backend/acceptance/step/ManagerLoginStep.java
  backend/src/test/java/com/stampcrush/backend/api/manager/owner/ManagerCommandApiControllerTest.java
  backend/src/test/java/com/stampcrush/backend/application/manager/owner/ManagerCommandServiceTest.java
  backend/src/test/java/com/stampcrush/backend/application/manager/owner/util/PasswordValidatorTest.java
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#794 [BE] test: VisitorCancelMembershipCommandApiController swagger용 테스트 작성
  backend/src/main/java/com/stampcrush/backend/api/visitor/profile/VisitorCancelMembershipCommandApiController.java
  backend/src/test/java/com/stampcrush/backend/api/docs/DocsControllerTest.java
  backend/src/test/java/com/stampcrush/backend/api/docs/visitor/profile/VisitorCancelMembershipCommandApiDocsControllerTest.java
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦
