Repository woowacourse-teams/2023-stamp-crush, pull requests merged in 2023-07, with the labels that each got.

#12 [feature/#5] 프로젝트 세팅
  frontend/.eslintrc.json
  frontend/.gitignore
  frontend/.prettierrc
  frontend/dist/bundle.js
  frontend/dist/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.tsx
  frontend/src/custom.d.ts
  frontend/src/index.tsx
  frontend/tsconfig.json
  frontend/webpack.common.js
  frontend/webpack.dev.js
  frontend/webpack.prod.js
Labels: front-end

#29 [FE] 페이지 라우팅 설정
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/Router.tsx
  frontend/src/components/Header.tsx
  frontend/src/pages/Admin/CreateCoupon/index.tsx
  frontend/src/pages/Admin/CustomerList/index.tsx
  frontend/src/pages/Admin/MakeCouponPolicy/index.tsx
  frontend/src/pages/Admin/ManageCafe/index.tsx
  frontend/src/pages/Admin/RegisterCafe/index.tsx
  frontend/src/pages/CouponList/index.tsx
  frontend/src/pages/EnterPhoneNumber/index.tsx
  frontend/src/pages/History/index.tsx
  frontend/src/pages/Login/index.tsx
  frontend/src/pages/MyPage/index.tsx
  frontend/src/pages/NotFound/index.tsx
  frontend/src/pages/SignUp/index.tsx
  frontend/webpack.common.js
Labels: 기능구현 ✅, front-end 👨‍👨‍👧

#28 [FE] eslint 잘못된 규칙 정정
  frontend/.eslintrc.json
Labels: 버그발생 🚨, front-end 👨‍👨‍👧

#38 [FE] 전역으로 사용할 색상 정의
  frontend/src/App.tsx
  frontend/src/style/theme.ts
Labels: 기능구현 ✅, front-end 👨‍👨‍👧

#35 [FE] `Input` 컴포넌트 생성
  frontend/src/components/Input/Input.style.tsx
  frontend/src/components/Input/index.tsx
Labels: 기능구현 ✅, front-end 👨‍👨‍👧

#32 [FE] 사장님 페이지 헤더 컴포넌트 구현
  frontend/dist/bundle.js
  frontend/src/assets/admin_header_logo.png
  frontend/src/components/Header.tsx
  frontend/src/components/Header/Header.style.tsx
  frontend/src/components/Header/index.tsx
Labels: 기능구현 ✅, front-end 👨‍👨‍👧

#36 [FE] Button 컴포넌트 구현
  frontend/src/App.tsx
  frontend/src/components/Button/Button.style.tsx
  frontend/src/components/Button/index.tsx
  frontend/src/index.tsx
  frontend/src/style/GlobalStyle.tsx
Labels: 기능구현 ✅, front-end 👨‍👨‍👧

#46 [FE] `SideBar` 컴포넌트 생성
  frontend/src/components/SideBar/SideBar.style.tsx
  frontend/src/components/SideBar/index.tsx
Labels: 기능구현 ✅, front-end 👨‍👨‍👧

#37 [FE] Tab Bar 컴포넌트 구현
  frontend/src/components/TabBar/TabBar.style.tsx
  frontend/src/components/TabBar/index.tsx
Labels: 기능구현 ✅, front-end 👨‍👨‍👧

#53 [FE] Template component 구현
  frontend/src/App.tsx
  frontend/src/Router.tsx
  frontend/src/components/Template/Template.style.tsx
  frontend/src/components/Template/index.tsx
Labels: 기능구현 ✅, front-end 👨‍👨‍👧

#58 docs: PR 템플릿 변경
  .github/PULL_REQUEST_TEMPLATE.md
Labels: 문서화 📑

#60 [FE/BE] docs: Issue 템플릿 변경
  .github/ISSUE_TEMPLATE/기능구현.md
  .github/ISSUE_TEMPLATE/리팩터링.md
  .github/ISSUE_TEMPLATE/버그수정.md
Labels: 문서화 📑

#56 [BE] chore: 프로젝트 세팅
  backend/.gitignore
  backend/build.gradle
  backend/gradle/wrapper/gradle-wrapper.jar
  backend/gradle/wrapper/gradle-wrapper.properties
  backend/gradlew
  backend/gradlew.bat
  backend/settings.gradle
  backend/src/main/java/com/stampcrush/backend/BackendApplication.java
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-prod.yml
  backend/src/test/java/com/stampcrush/backend/BackendApplicationTests.java
Labels: back-end 👩‍👩‍👦‍👦

#62 [FE] fix: 경로 가져오기가 안 되는 문제 해결
  frontend/tsconfig.json
Labels: 버그발생 🚨, front-end 👨‍👨‍👧

#45 [FE] DialPad component 구현
  frontend/src/components/Dialpad/Dialpad.style.tsx
  frontend/src/components/Dialpad/index.tsx
  frontend/src/constants/index.ts
  frontend/src/hooks/useDialPad.ts
  frontend/src/pages/EnterPhoneNumber/index.tsx
Labels: 기능구현 ✅, front-end 👨‍👨‍👧

#65 [FE] fix: import 경로 불러오기 문제 해결
  frontend/tsconfig.json
Labels: 리팩터링 🔨, front-end 👨‍👨‍👧

#69 [BE] feat: 엔티티 뼈대 코드 작성
  .idea/.gitignore
  backend/src/main/java/com/stampcrush/backend/BackendApplication.java
  backend/src/main/java/com/stampcrush/backend/entity/baseentity/BaseDate.java
  backend/src/main/java/com/stampcrush/backend/entity/cafe/Cafe.java
  backend/src/main/java/com/stampcrush/backend/entity/cafe/CafeCouponDesign.java
  backend/src/main/java/com/stampcrush/backend/entity/cafe/CafePolicy.java
  backend/src/main/java/com/stampcrush/backend/entity/cafe/CafeStampCoordinate.java
  backend/src/main/java/com/stampcrush/backend/entity/coupon/Coupon.java
  backend/src/main/java/com/stampcrush/backend/entity/coupon/CouponDesign.java
  backend/src/main/java/com/stampcrush/backend/entity/coupon/CouponPolicy.java
  backend/src/main/java/com/stampcrush/backend/entity/coupon/CouponStampCoordinate.java
  backend/src/main/java/com/stampcrush/backend/entity/coupon/CouponStatus.java
  backend/src/main/java/com/stampcrush/backend/entity/coupon/Stamp.java
  backend/src/main/java/com/stampcrush/backend/entity/reward/Reward.java
  backend/src/main/java/com/stampcrush/backend/entity/sample/SampleBackImage.java
  backend/src/main/java/com/stampcrush/backend/entity/sample/SampleFrontImage.java
  backend/src/main/java/com/stampcrush/backend/entity/sample/SampleStampCoordinate.java
  backend/src/main/java/com/stampcrush/backend/entity/sample/SampleStampImage.java
  backend/src/main/java/com/stampcrush/backend/entity/user/Customer.java
  backend/src/main/java/com/stampcrush/backend/entity/user/Owner.java
  backend/src/main/java/com/stampcrush/backend/entity/user/RegisterCustomer.java
  backend/src/main/java/com/stampcrush/backend/entity/user/TemporaryCustomer.java
  backend/src/main/resources/application.yml
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#70 [BE] feat: repository 작성
  backend/src/main/java/com/stampcrush/backend/repository/cafe/CafeCouponDesignRepository.java
  backend/src/main/java/com/stampcrush/backend/repository/cafe/CafePolicyRepository.java
  backend/src/main/java/com/stampcrush/backend/repository/cafe/CafeRepository.java
  backend/src/main/java/com/stampcrush/backend/repository/cafe/CafeStampCoordinateRepository.java
  backend/src/main/java/com/stampcrush/backend/repository/coupon/CouponDesignRepository.java
  backend/src/main/java/com/stampcrush/backend/repository/coupon/CouponPolicyRepository.java
  backend/src/main/java/com/stampcrush/backend/repository/coupon/CouponRepository.java
  backend/src/main/java/com/stampcrush/backend/repository/coupon/CouponStampCoordinateRepository.java
  backend/src/main/java/com/stampcrush/backend/repository/coupon/StampRepository.java
  backend/src/main/java/com/stampcrush/backend/repository/reward/RewardRepository.java
  backend/src/main/java/com/stampcrush/backend/repository/user/CustomerRepository.java
  backend/src/main/java/com/stampcrush/backend/repository/user/OwnerRepository.java
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#76 [BE] chore: build.gradle에 RestAssured, Validation 패키지 의존성 추가
  backend/build.gradle
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#84 fix: rest-assured 버전 수정
  backend/build.gradle
Labels: 버그발생 🚨, back-end 👩‍👩‍👦‍👦

#48 [FE] feat: Stepper 구현
  frontend/src/components/Stepper/Stepper.style.tsx
  frontend/src/components/Stepper/index.tsx
Labels: 기능구현 ✅, front-end 👨‍👨‍👧

#99 [BE] feat: 커스텀 예외 작성
  backend/src/main/java/com/stampcrush/backend/exception/BadRequestException.java
  backend/src/main/java/com/stampcrush/backend/exception/ForbiddenException.java
  backend/src/main/java/com/stampcrush/backend/exception/NotFoundException.java
  backend/src/main/java/com/stampcrush/backend/exception/StampCrushException.java
  backend/src/main/java/com/stampcrush/backend/exception/UnAuthorizationException.java
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#87 [BE] feat: 리워드 사용 및 조회 기능을 구현한다
  backend/src/main/java/com/stampcrush/backend/api/reward/RewardApiController.java
  backend/src/main/java/com/stampcrush/backend/api/reward/dto/request/RewardFindRequest.java
  backend/src/main/java/com/stampcrush/backend/api/reward/dto/request/RewardUsedUpdateRequest.java
  backend/src/main/java/com/stampcrush/backend/api/reward/dto/response/RewardFindResponse.java
  backend/src/main/java/com/stampcrush/backend/api/reward/dto/response/RewardsFindResponse.java
  backend/src/main/java/com/stampcrush/backend/application/reward/RewardService.java
  backend/src/main/java/com/stampcrush/backend/application/reward/dto/RewardFind.java
  backend/src/main/java/com/stampcrush/backend/application/reward/dto/RewardFindResult.java
  backend/src/main/java/com/stampcrush/backend/application/reward/dto/RewardUsedUpdate.java
  backend/src/main/java/com/stampcrush/backend/entity/cafe/Cafe.java
  backend/src/main/java/com/stampcrush/backend/entity/reward/Reward.java
  backend/src/main/java/com/stampcrush/backend/entity/user/Customer.java
  backend/src/main/java/com/stampcrush/backend/entity/user/Owner.java
  backend/src/main/java/com/stampcrush/backend/entity/user/RegisterCustomer.java
  backend/src/main/java/com/stampcrush/backend/entity/user/TemporaryCustomer.java
  backend/src/main/java/com/stampcrush/backend/repository/reward/RewardRepository.java
  backend/src/main/java/com/stampcrush/backend/repository/user/RegisterCustomerRepository.java
  backend/src/main/java/com/stampcrush/backend/repository/user/TemporaryCustomerRepository.java
  backend/src/main/java/com/stampcrush/backend/reward-request.http
  backend/src/test/java/com/stampcrush/backend/application/reward/RewardServiceTest.java
  backend/src/test/java/com/stampcrush/backend/entity/reward/RewardTest.java
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#90 [BE] feat: 전화번호로 고객을 조회한다/ 임시 고객을 생성한다
  backend/src/main/java/com/stampcrush/backend/controller/CustomerController.java
  backend/src/main/java/com/stampcrush/backend/entity/user/Customer.java
  backend/src/main/java/com/stampcrush/backend/entity/user/RegisterCustomer.java
  backend/src/main/java/com/stampcrush/backend/entity/user/TemporaryCustomer.java
  backend/src/main/java/com/stampcrush/backend/repository/user/CustomerRepository.java
  backend/src/main/java/com/stampcrush/backend/service/CustomerResponse.java
  backend/src/main/java/com/stampcrush/backend/service/CustomerService.java
  backend/src/main/java/com/stampcrush/backend/service/CustomersResponse.java
  backend/src/main/java/com/stampcrush/backend/service/TemporaryCustomerRequest.java
  backend/src/test/java/com/stampcrush/backend/acceptance/CustomerIntegrationTest.java
  backend/src/test/java/com/stampcrush/backend/acceptance/IntegrationTest.java
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#93 [BE] feat: 카페의 고객 목록 조회, 현재 스탬프 쌓고 있는 쿠폰 정보 조회 구현
  backend/src/main/java/com/stampcrush/backend/api/CouponController.java
  backend/src/main/java/com/stampcrush/backend/application/coupon/CouponService.java
  backend/src/main/java/com/stampcrush/backend/application/coupon/dto/CafeCustomerInfoResponseDto.java
  backend/src/main/java/com/stampcrush/backend/application/coupon/dto/CafeCustomersResponseDto.java
  backend/src/main/java/com/stampcrush/backend/application/coupon/dto/CustomerUsingCouponResponseDto.java
  backend/src/main/java/com/stampcrush/backend/entity/coupon/Coupon.java
  backend/src/main/java/com/stampcrush/backend/entity/coupon/CouponPolicy.java
  backend/src/main/java/com/stampcrush/backend/entity/coupon/Stamp.java
  backend/src/main/java/com/stampcrush/backend/entity/user/Customer.java
  backend/src/main/java/com/stampcrush/backend/entity/user/RegisterCustomer.java
  backend/src/main/java/com/stampcrush/backend/entity/user/TemporaryCustomer.java
  backend/src/main/java/com/stampcrush/backend/repository/coupon/CouponRepository.java
  backend/src/test/java/com/stampcrush/backend/application/coupon/CouponServiceTest.java
  backend/src/test/java/com/stampcrush/backend/entity/coupon/CouponTest.java
  backend/src/test/java/com/stampcrush/backend/repository/coupon/CouponRepositoryTest.java
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#94 [BE] feat: 사장님은 쿠폰의 디자인과 정책을 수정할 수 있다.
  backend/src/main/java/com/stampcrush/backend/controller/CouponSettingController.java
  backend/src/main/java/com/stampcrush/backend/controller/request/CouponSettingModifyRequest.java
  backend/src/main/java/com/stampcrush/backend/coupon-edit-request.http
  backend/src/main/java/com/stampcrush/backend/entity/cafe/CafeCouponDesign.java
  backend/src/main/java/com/stampcrush/backend/entity/cafe/CafePolicy.java
  backend/src/main/java/com/stampcrush/backend/entity/cafe/CafeStampCoordinate.java
  backend/src/main/java/com/stampcrush/backend/initializer/CouponSettingDataInitializer.java
  backend/src/main/java/com/stampcrush/backend/repository/cafe/CafeCouponDesignRepository.java
  backend/src/main/java/com/stampcrush/backend/repository/cafe/CafePolicyRepository.java
  backend/src/main/java/com/stampcrush/backend/service/CouponSettingService.java
  backend/src/main/java/com/stampcrush/backend/service/dto/CouponSettingDto.java
  backend/src/test/java/com/stampcrush/backend/repository/cafe/CafeCouponDesignRepositoryTest.java
  backend/src/test/java/com/stampcrush/backend/repository/cafe/CafePolicyRepositoryTest.java
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#95 [BE] feat: 카페 생성 및 조회 기능을 구현한다
  backend/src/main/java/com/stampcrush/backend/api/cafe/CafeApiController.java
  backend/src/main/java/com/stampcrush/backend/api/dto/request/CafeCreateRequest.java
  backend/src/main/java/com/stampcrush/backend/api/dto/response/CafeFindResponse.java
  backend/src/main/java/com/stampcrush/backend/api/dto/response/CafesFindResponse.java
  backend/src/main/java/com/stampcrush/backend/application/cafe/CafeService.java
  backend/src/main/java/com/stampcrush/backend/application/cafe/dto/CafeCreate.java
  backend/src/main/java/com/stampcrush/backend/application/cafe/dto/CafeFindResult.java
  backend/src/main/java/com/stampcrush/backend/entity/cafe/CafePolicy.java
  backend/src/main/java/com/stampcrush/backend/entity/sample/SampleBackImage.java
  backend/src/main/java/com/stampcrush/backend/repository/cafe/CafeRepository.java
  backend/src/main/java/com/stampcrush/backend/repository/sample/SampleStampCoordinateRepository.java
  backend/src/test/java/com/stampcrush/backend/application/cafe/CafeServiceTest.java
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#67 [FE] feat: 카페 등록 페이지를 구현한다.
  frontend/src/components/Input/Input.style.tsx
  frontend/src/components/Input/index.tsx
  frontend/src/components/SideBar/PageSideBar.tsx
  frontend/src/components/SideBar/SideBar.style.tsx
  frontend/src/components/SideBar/index.tsx
  frontend/src/components/Template/Template.style.tsx
  frontend/src/components/Template/index.tsx
  frontend/src/pages/Admin/RegisterCafe/index.tsx
  frontend/src/pages/Admin/RegisterCafe/style.tsx
Labels: 기능구현 ✅, front-end 👨‍👨‍👧

#105 [FE] refactor: Template 컴포넌트에 사이드바 추가
  frontend/src/components/SideBar/PageSideBar.tsx
  frontend/src/components/SideBar/SideBar.style.tsx
  frontend/src/components/Template/Template.style.tsx
Labels: 기능구현 ✅, front-end 👨‍👨‍👧

#125 [BE] feat: .gitignore 에 http-requests-log.http 추가
  backend/.gitignore
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#129 [BE] feat: 커스텀 예외에 String만을 파라미터로 받는 생성자 추가
  backend/src/main/java/com/stampcrush/backend/exception/BadRequestException.java
  backend/src/main/java/com/stampcrush/backend/exception/ForbiddenException.java
  backend/src/main/java/com/stampcrush/backend/exception/NotFoundException.java
  backend/src/main/java/com/stampcrush/backend/exception/StampCrushException.java
  backend/src/main/java/com/stampcrush/backend/exception/UnAuthorizationException.java
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#74 [FE] refactor: 상태 로직을 컴포넌트 내부가 아닌 props로 이전
  frontend/src/components/SelectBox/index.tsx
Labels: 리팩터링 🔨, front-end 👨‍👨‍👧

#81 [FE] feat: 사장님 페이지의 모달 컴포넌트를 구현한다.
  frontend/src/components/Modal/Modal.style.tsx
  frontend/src/components/Modal/index.tsx
  frontend/src/hooks/useModal.ts
Labels: 기능구현 ✅, front-end 👨‍👨‍👧

#85 [FE] fix: `SelectBox`에서 발생한 오류 해결
  frontend/src/components/SelectBox/SelectBox.style.tsx
  frontend/src/components/SelectBox/index.tsx
Labels: 리팩터링 🔨, front-end 👨‍👨‍👧

#96 [FE] feat: 스탬프 적립 & 리워드 사용 레이아웃을 구현한다.
  frontend/src/components/Dialpad/index.tsx
  frontend/src/components/Modal/Modal.style.tsx
  frontend/src/components/ModalContents/StampAndReward.style.tsx
  frontend/src/components/ModalContents/StampAndReward.tsx
  frontend/src/constants/index.ts
  frontend/src/hooks/useDialPad.ts
  frontend/src/hooks/useModal.ts
Labels: 기능구현 ✅, front-end 👨‍👨‍👧

#102 [FE] feat: 내 고객리스트 컴포넌트 구현
  frontend/src/components/Template/Template.style.tsx
  frontend/src/components/Template/index.tsx
  frontend/src/components/Text/index.tsx
  frontend/src/components/Text/style.ts
  frontend/src/mocks/browser.ts
  frontend/src/pages/Admin/CustomerList/index.tsx
  frontend/src/pages/Admin/CustomerList/style.tsx
Labels: 기능구현 ✅, front-end 👨‍👨‍👧

#116 [FE] feat: 카페 등록 페이지에 도로명 주소 검색 API를 추가한다.
  frontend/package.json
  frontend/src/pages/Admin/RegisterCafe/index.tsx
  frontend/src/pages/Admin/RegisterCafe/style.tsx
Labels: 기능구현 ✅, front-end 👨‍👨‍👧

#106 [FE] feat: 쿠폰 템플릿 등록 페이지
  frontend/src/Router.tsx
  frontend/src/constants/index.ts
  frontend/src/hooks/useUploadImage.ts
  frontend/src/pages/Admin/CreateCoupon/CreateCoupon.style.tsx
  frontend/src/pages/Admin/CreateCoupon/RadioInputs.style.tsx
  frontend/src/pages/Admin/CreateCoupon/RadioInputs.tsx
  frontend/src/pages/Admin/CreateCoupon/index.tsx
  frontend/src/pages/Admin/CustomCouponDesign/ChoiceTemplate.style.tsx
  frontend/src/pages/Admin/CustomCouponDesign/ChoiceTemplate.tsx
  frontend/src/pages/Admin/CustomCouponDesign/CustomCouponSection.style.tsx
  frontend/src/pages/Admin/CustomCouponDesign/CustomCouponSection.tsx
  frontend/src/pages/Admin/CustomCouponDesign/CustomStampSection.style.tsx
  frontend/src/pages/Admin/CustomCouponDesign/CustomStampSection.tsx
  frontend/src/pages/Admin/CustomCouponDesign/dummy.ts
  frontend/src/pages/Admin/CustomCouponDesign/index.tsx
  frontend/src/pages/Admin/CustomCouponDesign/style.tsx
  frontend/src/style/layout/common.tsx
Labels: 기능구현 ✅, front-end 👨‍👨‍👧

#117 [FE] feat: SearchBar 컴포넌트 구현
  frontend/package.json
  frontend/src/components/SearchBar/index.tsx
  frontend/src/components/SearchBar/style.ts
  frontend/src/stories/SearchBar.stories.tsx
Labels: 기능구현 ✅, front-end 👨‍👨‍👧

#135 [FE] feat: 유저 시나리오 수정에 따라 admin 라우터를 수정한다.
  frontend/src/Router.tsx
  frontend/src/components/SideBar/PageSideBar.tsx
  frontend/src/mocks/browser.ts
  frontend/src/pages/Admin/MakeCouponPolicy/index.tsx
  frontend/src/pages/Admin/ModifyCouponPolicy/RadioInputs.style.tsx
  frontend/src/pages/Admin/ModifyCouponPolicy/RadioInputs.tsx
  frontend/src/pages/Admin/ModifyCouponPolicy/index.tsx
  frontend/src/pages/Admin/ModifyCouponPolicy/style.tsx
  frontend/src/pages/Admin/RegisterCafe/index.tsx
  frontend/src/pages/EnterPhoneNumber/index.tsx
  frontend/src/pages/EnterPhoneNumber/style.tsx
Labels: 기능구현 ✅, front-end 👨‍👨‍👧

#138 [FE] feat: 2차 데모데이 api 명세를 기반으로 api 모킹
  frontend/src/mocks/handlers.ts
  frontend/src/mocks/mockData.ts
Labels: 기능구현 ✅, front-end 👨‍👨‍👧

#140 [FE] feat: react-query 보일러 플레이팅
  frontend/package.json
  frontend/src/App.tsx
Labels: 기능구현 ✅, front-end 👨‍👨‍👧

#143 [BE] feat: test CI (Initializer Profile dev로 변경)
  backend/src/main/java/com/stampcrush/backend/initializer/CouponSettingDataInitializer.java
  backend/src/main/java/com/stampcrush/backend/initializer/SampleDataInitializer.java
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#144 [BE] style: 더미데이터 상수 변경
  backend/src/main/java/com/stampcrush/backend/initializer/SampleDataInitializer.java
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#148 [BE] feat: 더미데이터를 추가한다
  backend/src/main/java/com/stampcrush/backend/api/cafe/CafeApiController.java
  backend/src/main/java/com/stampcrush/backend/initializer/CouponSettingDataInitializer.java
  backend/src/main/java/com/stampcrush/backend/initializer/DataInitializer.java
  backend/src/main/java/com/stampcrush/backend/initializer/SampleDataInitializer.java
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#149 [BE] fix: max-stamp-count 쿼리 파라미터 바인딩 설정
  backend/src/main/java/com/stampcrush/backend/api/sample/request/SampleCouponFindRequest.java
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#150 [BE] fix: SampleCouponFindRequest 생성자 에러 수정
  backend/src/main/java/com/stampcrush/backend/api/sample/request/SampleCouponFindRequest.java
Labels: 버그발생 🚨, back-end 👩‍👩‍👦‍👦

#127 [BE] test: Cafe Coupon Setting 수정 API에 대한 테스트 코드를 작성한다
  backend/src/main/java/com/stampcrush/backend/application/cafe/CafeCouponSettingService.java
  backend/src/main/java/com/stampcrush/backend/application/cafe/CafeNotFoundException.java
  backend/src/main/java/com/stampcrush/backend/entity/cafe/CafeCouponDesign.java
  backend/src/main/java/com/stampcrush/backend/entity/cafe/CafePolicy.java
  backend/src/main/java/com/stampcrush/backend/initializer/CouponSettingDataInitializer.java
  backend/src/test/java/com/stampcrush/backend/acceptance/CafeCouponSettingIntegrationTest.java
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#123 [BE] test: 샘플 쿠폰 조회 API 테스트 코드 작성
  backend/src/main/java/com/stampcrush/backend/entity/sample/SampleStampCoordinate.java
  backend/src/main/java/com/stampcrush/backend/initializer/SampleCouponInitializer.java
  backend/src/test/java/com/stampcrush/backend/acceptance/SampleCouponIntegrationTest.java
  backend/src/test/java/com/stampcrush/backend/fixture/SampleCouponFixture.java
  backend/src/test/java/com/stampcrush/backend/repository/cafe/CafeCouponDesignRepositoryTest.java
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#115 [BE] fix: 카페 등록 API 수정한다
  backend/src/main/java/com/stampcrush/backend/api/cafe/CafeApiController.java
  backend/src/main/java/com/stampcrush/backend/api/cafe/request/CafeCreateRequest.java
  backend/src/main/java/com/stampcrush/backend/application/cafe/CafeService.java
  backend/src/main/java/com/stampcrush/backend/application/cafe/dto/CafeCreateDto.java
  backend/src/main/java/com/stampcrush/backend/entity/cafe/Cafe.java
  backend/src/test/java/com/stampcrush/backend/application/cafe/CafeServiceTest.java
Labels: back-end 👩‍👩‍👦‍👦

#154 [BE] fix: Sample Coupon API max-stamp-count 파라미터 RequestParam으로 변경
  backend/src/main/java/com/stampcrush/backend/api/sample/SampleCouponApiController.java
  backend/src/main/java/com/stampcrush/backend/initializer/SampleDataInitializer.java
  backend/src/test/java/com/stampcrush/backend/acceptance/SampleCouponIntegrationTest.java
Labels: 버그발생 🚨, back-end 👩‍👩‍👦‍👦

#156 [BE] style: Coupon Status USING -> ACCUMULATING으로 변경
  backend/src/main/java/com/stampcrush/backend/application/coupon/CouponService.java
  backend/src/main/java/com/stampcrush/backend/entity/coupon/Coupon.java
  backend/src/main/java/com/stampcrush/backend/entity/coupon/CouponStatus.java
  backend/src/test/java/com/stampcrush/backend/repository/coupon/CouponRepositoryTest.java
Labels: 리팩터링 🔨, back-end 👩‍👩‍👦‍👦

#157 [FE] refactor: enter로직 구현, 뒤로가기 추가
  frontend/src/components/Dialpad/index.tsx
  frontend/src/hooks/useDialPad.ts
  frontend/src/pages/EnterPhoneNumber/index.tsx
  frontend/src/pages/EnterPhoneNumber/style.tsx
Labels: 리팩터링 🔨, front-end 👨‍👨‍👧

#126 [BE] refactor: 카페 별 고객 목록 조회, 현재 카페의 스탬프 모으고 있는 고객 쿠폰 조회 리팩터링
  backend/src/main/java/com/stampcrush/backend/api/coupon/CouponApiController.java
  backend/src/main/java/com/stampcrush/backend/api/coupon/response/CafeCustomerFindResponse.java
  backend/src/main/java/com/stampcrush/backend/api/coupon/response/CafeCustomersFindResponse.java
  backend/src/main/java/com/stampcrush/backend/api/coupon/response/CustomerAccumulatingCouponFindResponse.java
  backend/src/main/java/com/stampcrush/backend/api/coupon/response/CustomerAccumulatingCouponsFindResponse.java
  backend/src/main/java/com/stampcrush/backend/application/coupon/CouponService.java
  backend/src/main/java/com/stampcrush/backend/application/coupon/dto/CafeCustomerFindResultDto.java
  backend/src/main/java/com/stampcrush/backend/application/coupon/dto/CafeCustomerInfoResultDto.java
  backend/src/main/java/com/stampcrush/backend/application/coupon/dto/CafeCustomersFindResultDto.java
  backend/src/main/java/com/stampcrush/backend/application/coupon/dto/CafeCustomersResultDto.java
  backend/src/main/java/com/stampcrush/backend/application/coupon/dto/CustomerAccumulatingCouponFindResultDto.java
  backend/src/main/java/com/stampcrush/backend/application/coupon/dto/CustomerUsingCouponResultDto.java
  backend/src/main/java/com/stampcrush/backend/entity/coupon/Coupon.java
  backend/src/main/java/com/stampcrush/backend/repository/cafe/CafePolicyRepository.java
  backend/src/main/java/com/stampcrush/backend/repository/coupon/CouponRepository.java
  backend/src/test/java/com/stampcrush/backend/application/coupon/CouponServiceTest.java
  backend/src/test/java/com/stampcrush/backend/entity/coupon/CouponTest.java
  backend/src/test/java/com/stampcrush/backend/repository/coupon/CouponRepositoryTest.java
Labels: 기능구현 ✅, 리팩터링 🔨, back-end 👩‍👩‍👦‍👦

#147 [FE] feat: 내 고객 목록 페이지 구현
  frontend/src/components/SearchBar/index.tsx
  frontend/src/components/SearchBar/style.ts
  frontend/src/components/SelectBox/SelectBox.style.tsx
  frontend/src/components/SelectBox/index.tsx
  frontend/src/mocks/mockData.ts
  frontend/src/pages/Admin/CustomerList/index.tsx
  frontend/src/pages/Admin/CustomerList/style.tsx
  frontend/src/pages/Admin/ModifyCouponPolicy/index.tsx
Labels: 기능구현 ✅, front-end 👨‍👨‍👧

#158 [FE] feat: 리워드 사용 기능을 구현한다.
  frontend/src/Router.tsx
  frontend/src/components/ModalContents/StampAndReward.style.tsx
  frontend/src/mocks/handlers.ts
  frontend/src/pages/Admin/RewardPage/index.tsx
Labels: 기능구현 ✅, front-end 👨‍👨‍👧

#160 [FE] feat: 쿠폰 제작 및 변경페이지(템플릿)에서 api 요청 로직을 구현한다.
  frontend/src/pages/Admin/CustomCouponDesign/ChoiceTemplate.tsx
  frontend/src/pages/Admin/CustomCouponDesign/CustomCouponSection.tsx
  frontend/src/pages/Admin/CustomCouponDesign/CustomStampSection.tsx
  frontend/src/pages/Admin/CustomCouponDesign/index.tsx
  frontend/src/pages/Admin/ModifyCouponPolicy/index.tsx
Labels: 기능구현 ✅, front-end 👨‍👨‍👧

#161 [FE] refactor: 스탬프 추가 적립 페이지를 구현한다.
  frontend/src/Router.tsx
  frontend/src/components/SideBar/PageSideBar.tsx
  frontend/src/hooks/useDialPad.ts
  frontend/src/mocks/handlers.ts
  frontend/src/mocks/mockData.ts
  frontend/src/pages/Admin/EarnStamp/index.tsx
  frontend/src/pages/Admin/EarnStamp/style.tsx
  frontend/src/pages/Admin/SelectCoupon/index.tsx
  frontend/src/pages/Admin/SelectCoupon/style.tsx
Labels: 기능구현 ✅, 리팩터링 🔨, front-end 👨‍👨‍👧

#153 [BE] feat: backend api uri api prefix 추가
  backend/src/main/java/com/stampcrush/backend/api/cafe/CafeApiController.java
  backend/src/main/java/com/stampcrush/backend/api/cafe/CafeCouponSettingApiController.java
  backend/src/main/java/com/stampcrush/backend/api/coupon/CouponApiController.java
  backend/src/main/java/com/stampcrush/backend/api/customer/CustomerApiController.java
  backend/src/main/java/com/stampcrush/backend/api/reward/RewardApiController.java
  backend/src/main/java/com/stampcrush/backend/api/sample/SampleCouponApiController.java
  backend/src/test/java/com/stampcrush/backend/acceptance/CustomerIntegrationTest.java
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#170 [BE] fix: 테스트 코드에 /api prefix 추가
  backend/src/test/java/com/stampcrush/backend/acceptance/CafeCouponSettingIntegrationTest.java
  backend/src/test/java/com/stampcrush/backend/acceptance/SampleCouponIntegrationTest.java
Labels: 버그발생 🚨, back-end 👩‍👩‍👦‍👦

#175 [BE] test: CI/CD 파이프라인에 테스트 돌려보는 코드 추가
  backend/src/main/java/com/stampcrush/backend/api/cafe/CafeApiController.java
  backend/src/main/java/com/stampcrush/backend/api/cafe/request/CafeCreateRequest.java
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#176 [BE] fix: 더미 데이터 수정
  backend/src/main/java/com/stampcrush/backend/api/coupon/CouponApiController.java
  backend/src/main/java/com/stampcrush/backend/initializer/DataInitializer.java
  backend/src/main/java/com/stampcrush/backend/initializer/SampleDataInitializer.java
Labels: 버그발생 🚨, back-end 👩‍👩‍👦‍👦

#178 [BE]: 고객 목록 조회, 고객 쿠폰 조회 시 maxStampCount 더미 데이터 추가
  backend/src/main/java/com/stampcrush/backend/api/coupon/response/CafeCustomerFindResponse.java
  backend/src/main/java/com/stampcrush/backend/api/coupon/response/CustomerAccumulatingCouponFindResponse.java
  backend/src/main/java/com/stampcrush/backend/application/coupon/CouponService.java
  backend/src/main/java/com/stampcrush/backend/application/coupon/dto/CafeCustomerFindResultDto.java
  backend/src/main/java/com/stampcrush/backend/application/coupon/dto/CustomerAccumulatingCouponFindResultDto.java
  backend/src/test/java/com/stampcrush/backend/application/coupon/CouponServiceTest.java
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#180 [BE] fix: 더미데이터 추가 변경
  backend/src/main/java/com/stampcrush/backend/initializer/DataInitializer.java
Labels: 버그발생 🚨, back-end 👩‍👩‍👦‍👦

#179 [FE] refactor: 스탬프 적립 api 명세 변경에 따라 리팩터링한다.
  frontend/src/mocks/handlers.ts
  frontend/src/pages/Admin/EarnStamp/index.tsx
Labels: 리팩터링 🔨, front-end 👨‍👨‍👧

#181 [BE ]feat: 고객 방문횟수 계산 로직 수정
  backend/src/main/java/com/stampcrush/backend/entity/coupon/Coupon.java
  backend/src/test/java/com/stampcrush/backend/application/coupon/CouponServiceTest.java
Labels: 버그발생 🚨, back-end 👩‍👩‍👦‍👦

#168 [FE] feat: 카페 등록 페이지의 api 요청 로직 구현
  frontend/src/mocks/handlers.ts
  frontend/src/pages/Admin/RegisterCafe/index.tsx
Labels: 기능구현 ✅, front-end 👨‍👨‍👧

#182 [BE] feat: dto boolean 래퍼클래스로 수정
  backend/src/main/java/com/stampcrush/backend/api/coupon/response/CafeCustomerFindResponse.java
  backend/src/main/java/com/stampcrush/backend/api/coupon/response/CustomerAccumulatingCouponFindResponse.java
Labels: 버그발생 🚨, back-end 👩‍👩‍👦‍👦

#183 [BE] feat: 2차 데모 시연을 위한 샘플 쿠폰에 이미지 추가
  backend/src/main/java/com/stampcrush/backend/initializer/SampleDataInitializer.java
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#184 [BE] feat: api date포맷 변경
  backend/src/main/java/com/stampcrush/backend/api/coupon/response/CafeCustomerFindResponse.java
  backend/src/main/java/com/stampcrush/backend/api/coupon/response/CustomerAccumulatingCouponFindResponse.java
Labels: 리팩터링 🔨, back-end 👩‍👩‍👦‍👦

#167 [BE] feat: CORS 설정한다.
  backend/src/main/java/com/stampcrush/backend/config/WebMvcConfig.java
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#186 [BE] feat: 모든 IP 대역에서 응답받을 수 있도록 CORS 설정 변경
  backend/src/main/java/com/stampcrush/backend/config/WebMvcConfig.java
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#190 [BE] refactor: 2차 데모데이까지의 코드를 리팩터링한다.
  backend/src/main/java/com/stampcrush/backend/api/coupon/CouponApiController.java
  backend/src/main/java/com/stampcrush/backend/application/cafe/CafeCouponSettingService.java
  backend/src/main/java/com/stampcrush/backend/application/cafe/CafeService.java
  backend/src/main/java/com/stampcrush/backend/application/coupon/CouponService.java
  backend/src/main/java/com/stampcrush/backend/application/coupon/CustomerCouponStatistics.java
  backend/src/main/java/com/stampcrush/backend/application/coupon/dto/CafeCustomerFindResultDto.java
  backend/src/main/java/com/stampcrush/backend/application/coupon/dto/CustomerAccumulatingCouponFindResultDto.java
  backend/src/main/java/com/stampcrush/backend/application/customer/CustomerService.java
  backend/src/main/java/com/stampcrush/backend/exception/CafeNotFoundException.java
  backend/src/main/java/com/stampcrush/backend/exception/CustomerBadRequestException.java
  backend/src/main/java/com/stampcrush/backend/exception/CustomerNotFoundException.java
  backend/src/main/java/com/stampcrush/backend/exception/OwnerNotFoundException.java
  backend/src/test/java/com/stampcrush/backend/application/coupon/CouponServiceTest.java
  backend/src/test/java/com/stampcrush/backend/fixture/CouponDesignFixture.java
  backend/src/test/java/com/stampcrush/backend/fixture/CouponPolicyFixture.java
  backend/src/test/java/com/stampcrush/backend/fixture/CustomerFixture.java
  backend/src/test/java/com/stampcrush/backend/fixture/OwnerFixture.java
Labels: 리팩터링 🔨, back-end 👩‍👩‍👦‍👦

#192 [BE] feat: 카페 별 고객 목록 조회 시 maxStampCount데이터 추가
  backend/src/main/java/com/stampcrush/backend/api/coupon/response/CafeCustomerFindResponse.java
  backend/src/main/java/com/stampcrush/backend/application/coupon/CouponService.java
  backend/src/main/java/com/stampcrush/backend/application/coupon/CustomerCouponStatistics.java
  backend/src/main/java/com/stampcrush/backend/application/coupon/dto/CafeCustomerFindResultDto.java
  backend/src/main/java/com/stampcrush/backend/entity/coupon/Coupon.java
  backend/src/test/java/com/stampcrush/backend/application/coupon/CouponServiceTest.java
  backend/src/test/java/com/stampcrush/backend/entity/coupon/CouponTest.java
  backend/src/test/java/com/stampcrush/backend/fixture/CouponDesignFixture.java
  backend/src/test/java/com/stampcrush/backend/fixture/CouponPolicyFixture.java
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#193 [BE] feat: 현재 적립중인 쿠폰 데이터에 maxStampCount를 추가한다
  backend/src/main/java/com/stampcrush/backend/api/coupon/response/CustomerAccumulatingCouponFindResponse.java
  backend/src/main/java/com/stampcrush/backend/application/coupon/dto/CustomerAccumulatingCouponFindResultDto.java
  backend/src/main/java/com/stampcrush/backend/entity/coupon/Coupon.java
  backend/src/test/java/com/stampcrush/backend/application/coupon/CouponServiceTest.java
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#195 [BE] fix: merge conflict 해결
  backend/src/main/java/com/stampcrush/backend/entity/coupon/Coupon.java
Labels: 버그발생 🚨, back-end 👩‍👩‍👦‍👦

#196 [BE] feat: Github Action을 통해 CI 설정
  .github/workflows/backend_ci.yml
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#200 [BE] refactor : 2차 데모데이 기능 구현한 코드를 리팩터링한다
  backend/src/main/java/com/stampcrush/backend/application/coupon/CouponService.java
  backend/src/main/java/com/stampcrush/backend/application/coupon/CustomerCouponStatistics.java
  backend/src/main/java/com/stampcrush/backend/application/coupon/dto/CustomerAccumulatingCouponFindResultDto.java
  backend/src/main/java/com/stampcrush/backend/application/customer/CustomerService.java
  backend/src/main/java/com/stampcrush/backend/entity/coupon/Coupons.java
  backend/src/main/java/com/stampcrush/backend/entity/user/TemporaryCustomer.java
  backend/src/main/java/com/stampcrush/backend/initializer/DataInitializer.java
  backend/src/test/java/com/stampcrush/backend/acceptance/CustomerIntegrationTest.java
  backend/src/test/java/com/stampcrush/backend/application/coupon/CouponServiceTest.java
  backend/src/test/java/com/stampcrush/backend/application/customer/CustomerServiceTest.java
  backend/src/test/java/com/stampcrush/backend/application/reward/RewardServiceTest.java
  backend/src/test/java/com/stampcrush/backend/entity/coupon/CouponTest.java
  backend/src/test/java/com/stampcrush/backend/entity/reward/RewardTest.java
  backend/src/test/java/com/stampcrush/backend/fixture/CustomerFixture.java
  backend/src/test/java/com/stampcrush/backend/repository/coupon/CouponRepositoryTest.java
Labels: 리팩터링 🔨, back-end 👩‍👩‍👦‍👦

#201 [FE] refactor: 2차 데모데이 코드를 리팩터링한다.
  frontend/.gitignore
  frontend/package.json
  frontend/src/Router.tsx
  frontend/src/api/get.ts
  frontend/src/api/index.ts
  frontend/src/api/patch.ts
  frontend/src/api/post.ts
  frontend/src/components/Button/index.tsx
  frontend/src/components/Button/style.tsx
  frontend/src/components/Dialpad/index.tsx
  frontend/src/components/Header/index.tsx
  frontend/src/components/Header/style.tsx
  frontend/src/components/Input/index.tsx
  frontend/src/components/Input/style.tsx
  frontend/src/components/Modal/index.tsx
  frontend/src/components/Modal/style.tsx
  frontend/src/components/ModalContents/StampAndReward.tsx
  frontend/src/components/SelectBox/index.tsx
  frontend/src/components/SelectBox/style.tsx
  frontend/src/components/SideBar/PageSideBar.tsx
  frontend/src/components/SideBar/index.tsx
  frontend/src/components/SideBar/style.tsx
  frontend/src/components/Stepper/index.tsx
  frontend/src/components/Stepper/style.tsx
  frontend/src/components/Template/index.tsx
  frontend/src/components/Template/style.tsx
  frontend/src/components/Text/index.tsx
  frontend/src/constants/index.ts
  frontend/src/hooks/useDialPad.ts
  frontend/src/hooks/useFindAddress.ts
  frontend/src/index.tsx
  frontend/src/pages/Admin/CustomCouponDesign/ChoiceTemplate/index.tsx
  frontend/src/pages/Admin/CustomCouponDesign/ChoiceTemplate/style.tsx
  frontend/src/pages/Admin/CustomCouponDesign/CustomCouponSection/index.tsx
  frontend/src/pages/Admin/CustomCouponDesign/CustomCouponSection/style.tsx
  frontend/src/pages/Admin/CustomCouponDesign/CustomStampSection.style.tsx
  frontend/src/pages/Admin/CustomCouponDesign/CustomStampSection/index.tsx
  frontend/src/pages/Admin/CustomCouponDesign/index.tsx
  frontend/src/pages/Admin/CustomerList/index.tsx
  frontend/src/pages/Admin/CustomerList/style.tsx
  frontend/src/pages/Admin/EarnStamp/index.tsx
  frontend/src/pages/Admin/ModifyCouponPolicy/RadioInput/index.tsx
  frontend/src/pages/Admin/ModifyCouponPolicy/RadioInput/style.tsx
  frontend/src/pages/Admin/ModifyCouponPolicy/index.tsx
  frontend/src/pages/Admin/ModifyCouponPolicy/style.tsx
  frontend/src/pages/Admin/RegisterCafe/index.tsx
  frontend/src/pages/Admin/RewardPage/index.tsx
  frontend/src/pages/Admin/RewardPage/style.tsx
  frontend/src/pages/Admin/SelectCoupon/index.tsx
  frontend/src/pages/EnterPhoneNumber/Dialpad/index.tsx
  frontend/src/pages/EnterPhoneNumber/Dialpad/style.tsx
  frontend/src/pages/EnterPhoneNumber/index.tsx
  frontend/src/style/layout/common.tsx
  frontend/src/utils/index.ts
  frontend/webpack.common.js
Labels: 리팩터링 🔨, front-end 👨‍👨‍👧

#215 [BE] feat: Request DTO Validation 추가
  backend/src/main/java/com/stampcrush/backend/api/cafe/CafeApiController.java
  backend/src/main/java/com/stampcrush/backend/api/cafe/request/CafeCouponSettingUpdateRequest.java
  backend/src/main/java/com/stampcrush/backend/api/cafe/request/CafeCreateRequest.java
  backend/src/main/java/com/stampcrush/backend/api/coupon/request/CouponCreateRequest.java
  backend/src/main/java/com/stampcrush/backend/api/coupon/request/StampCreateRequest.java
  backend/src/main/java/com/stampcrush/backend/api/customer/request/TemporaryCustomerCreateRequest.java
  backend/src/main/java/com/stampcrush/backend/api/reward/RewardApiController.java
  backend/src/main/java/com/stampcrush/backend/api/reward/request/RewardFindRequest.java
  backend/src/main/java/com/stampcrush/backend/api/reward/request/RewardUsedUpdateRequest.java
  backend/src/main/java/com/stampcrush/backend/api/sample/request/SampleCouponFindRequest.java
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#214 [BE] feat: 전역 예외 처리
  backend/src/main/java/com/stampcrush/backend/api/ExceptionResponse.java
  backend/src/main/java/com/stampcrush/backend/api/GlobalExceptionHandler.java
  backend/src/test/java/com/stampcrush/backend/acceptance/CustomerIntegrationTest.java
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#216 [BE] feat: github action ci 트리거 조건에서 push 조건 삭제
  .github/workflows/backend_ci.yml
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#217 [BE] fix: Api Controller의 Request에 Valid 어노테이션 추가
  backend/src/main/java/com/stampcrush/backend/api/cafe/CafeApiController.java
  backend/src/main/java/com/stampcrush/backend/api/cafe/CafeCouponSettingApiController.java
  backend/src/main/java/com/stampcrush/backend/api/coupon/CouponApiController.java
  backend/src/main/java/com/stampcrush/backend/api/reward/RewardApiController.java
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#226 [BE] feat: swagger 사용해서 API 자동화 추가
  backend/build.gradle
  backend/src/main/java/com/stampcrush/backend/config/SwaggerConfig.java
Labels: 문서화 📑, back-end 👩‍👩‍👦‍👦

#219 [BE] feat: 인수 테스트 격리 템플릿을 작성한다
  backend/src/main/java/com/stampcrush/backend/initializer/CouponSettingDataInitializer.java
  backend/src/main/java/com/stampcrush/backend/initializer/DataInitializer.java
  backend/src/main/resources/application-test.yml
  backend/src/test/java/com/stampcrush/backend/BackendApplicationTests.java
  backend/src/test/java/com/stampcrush/backend/acceptance/AcceptanceTest.java
  backend/src/test/java/com/stampcrush/backend/acceptance/CafeCouponSettingIntegrationTest.java
  backend/src/test/java/com/stampcrush/backend/acceptance/CustomerIntegrationTest.java
  backend/src/test/java/com/stampcrush/backend/acceptance/IntegrationTest.java
  backend/src/test/java/com/stampcrush/backend/acceptance/SampleCouponIntegrationTest.java
  backend/src/test/java/com/stampcrush/backend/application/cafe/CafeServiceTest.java
  backend/src/test/java/com/stampcrush/backend/common/DataCleaner.java
  backend/src/test/java/com/stampcrush/backend/common/DataClearExtension.java
  backend/src/test/java/com/stampcrush/backend/repository/cafe/CafeCouponDesignRepositoryTest.java
  backend/src/test/java/com/stampcrush/backend/repository/cafe/CafePolicyRepositoryTest.java
  backend/src/test/java/com/stampcrush/backend/repository/coupon/CouponRepositoryTest.java
  backend/src/test/resources/application.yml
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#240 [BE] refactor: Sample Coupon Default Image 순회 로직에서 하드코딩으로 변경
  backend/src/main/java/com/stampcrush/backend/api/cafe/SampleCouponImage.java
  backend/src/main/java/com/stampcrush/backend/application/cafe/CafeService.java
  backend/src/test/java/com/stampcrush/backend/application/cafe/CafeServiceTest.java
Labels: 리팩터링 🔨, back-end 👩‍👩‍👦‍👦

#223 [FE] feat: 2차 데모데이 api를 백엔드와 연동한다.
  frontend/src/pages/Admin/CustomCouponDesign/index.tsx
  frontend/src/pages/Admin/ModifyCouponPolicy/index.tsx
  frontend/src/pages/Admin/SelectCoupon/index.tsx
  frontend/src/pages/EnterPhoneNumber/index.tsx
  frontend/src/utils/index.ts
Labels: front-end 👨‍👨‍👧

#242 [FE] feat: 쿠폰리스트 컴포넌트 및 페이지 구현
  frontend/src/Router.tsx
  frontend/src/api/get.ts
  frontend/src/custom.d.ts
  frontend/src/mocks/handlers.ts
  frontend/src/mocks/mockData.ts
  frontend/src/pages/CouponList/Coupon/index.tsx
  frontend/src/pages/CouponList/Coupon/style.tsx
  frontend/src/pages/CouponList/index.tsx
  frontend/src/pages/CouponList/style.tsx
  frontend/src/style/keyframes.ts
Labels: 기능구현 ✅, front-end 👨‍👨‍👧

#232 [BE] feat: 2차 구현기능 API 에 /admin prefix 를 적용한다(사장모드)
  backend/src/main/java/com/stampcrush/backend/api/cafe/CafeApiController.java
  backend/src/main/java/com/stampcrush/backend/api/cafe/CafeCouponSettingApiController.java
  backend/src/main/java/com/stampcrush/backend/api/coupon/CouponApiController.java
  backend/src/main/java/com/stampcrush/backend/api/customer/CustomerApiController.java
  backend/src/main/java/com/stampcrush/backend/api/reward/RewardApiController.java
  backend/src/main/java/com/stampcrush/backend/api/sample/SampleCouponApiController.java
  backend/src/test/java/com/stampcrush/backend/acceptance/CafeCouponSettingIntegrationTest.java
  backend/src/test/java/com/stampcrush/backend/acceptance/CustomerIntegrationTest.java
  backend/src/test/java/com/stampcrush/backend/acceptance/SampleCouponIntegrationTest.java
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#246 [BE] fix: Coupon 엔티티 deleted 기본값 Boolean.TRUE 삭제
  backend/src/main/java/com/stampcrush/backend/entity/coupon/Coupon.java
Labels: 리팩터링 🔨, back-end 👩‍👩‍👦‍👦

#252 [FE] feat: 고객 쿠폰리스트 Header를 구현한다
  frontend/package.json
  frontend/src/Router.tsx
  frontend/src/components/ProgressBar/index.tsx
  frontend/src/components/ProgressBar/style.tsx
  frontend/src/components/SelectBox/index.tsx
  frontend/src/components/SideBar/PageSideBar.tsx
  frontend/src/constants/index.ts
  frontend/src/mocks/mockData.ts
  frontend/src/pages/Admin/EarnStamp/index.tsx
  frontend/src/pages/Admin/RegisterCafe/index.tsx
  frontend/src/pages/Admin/RewardPage/index.tsx
  frontend/src/pages/CouponList/Coupon/style.tsx
  frontend/src/pages/CouponList/index.tsx
  frontend/src/pages/CouponList/style.tsx
  frontend/src/pages/EnterPhoneNumber/index.tsx
  frontend/src/stories/ProgressBar.stories.tsx
  frontend/src/stories/SearchBar.stories.tsx
  frontend/src/style/keyframes.ts
Labels: 기능구현 ✅, front-end 👨‍👨‍👧

#224 [FE] feat: 스탬프 커스텀 기능을 구현한다.
  frontend/src/Router.tsx
  frontend/src/components/Modal/index.tsx
  frontend/src/components/Modal/style.tsx
  frontend/src/constants/index.ts
  frontend/src/mocks/mockData.ts
  frontend/src/pages/Admin/CustomCouponDesign/StampCustomModal/index.tsx
  frontend/src/pages/Admin/CustomCouponDesign/StampCustomModal/style.tsx
  frontend/src/pages/Admin/CustomCouponDesign/index.tsx
  frontend/src/pages/Admin/CustomCouponDesign/style.tsx
  frontend/src/pages/Admin/ModifyCouponPolicy/index.tsx
Labels: 기능구현 ✅, front-end 👨‍👨‍👧

#254 [FE] feat: msw 핸들러 및 api 메소드 구현
  frontend/src/api/get.ts
  frontend/src/api/patch.ts
  frontend/src/api/post.ts
  frontend/src/mocks/handlers.ts
Labels: 기능구현 ✅, front-end 👨‍👨‍👧

#257 [FE] feat: 고객모드 Alert Component 구현
  frontend/src/components/Alert/index.tsx
  frontend/src/components/Alert/style.tsx
  frontend/src/mocks/mockData.ts
  frontend/src/pages/CouponList/index.tsx
  frontend/src/stories/Alert.stories.tsx
Labels: 기능구현 ✅, front-end 👨‍👨‍👧

#251 [FE] feat: 카페관리 페이지를 구현한다.
  frontend/src/components/SelectBox/index.tsx
  frontend/src/components/SideBar/style.tsx
  frontend/src/components/Text/style.ts
  frontend/src/mocks/mockData.ts
  frontend/src/pages/Admin/CustomCouponDesign/style.tsx
  frontend/src/pages/Admin/ManageCafe/TimeRangePicker/index.tsx
  frontend/src/pages/Admin/ManageCafe/TimeRangePicker/style.tsx
  frontend/src/pages/Admin/ManageCafe/index.tsx
  frontend/src/pages/Admin/ManageCafe/style.tsx
  frontend/src/utils/index.ts
Labels: 기능구현 ✅, front-end 👨‍👨‍👧

#243 [BE] feat: 카페 정보 수정 API를 구현한다.
  backend/src/main/java/com/stampcrush/backend/api/cafe/CafeApiController.java
  backend/src/main/java/com/stampcrush/backend/api/cafe/request/CafeUpdateRequest.java
  backend/src/main/java/com/stampcrush/backend/application/cafe/CafeService.java
  backend/src/main/java/com/stampcrush/backend/application/cafe/dto/CafeUpdateDto.java
  backend/src/main/java/com/stampcrush/backend/entity/cafe/Cafe.java
  backend/src/test/java/com/stampcrush/backend/application/cafe/CafeServiceTest.java
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#255 [BE] feat: 고객 모드에서 카페 정보를 조회하는 API 를 구현한다
  backend/src/main/java/com/stampcrush/backend/api/cafe/CafeController.java
  backend/src/main/java/com/stampcrush/backend/api/cafe/response/CafeInfoFindByCustomerResponse.java
  backend/src/main/java/com/stampcrush/backend/api/cafe/response/CafeInfoFindResponse.java
  backend/src/main/java/com/stampcrush/backend/application/cafe/CafeService.java
  backend/src/main/java/com/stampcrush/backend/application/cafe/dto/CafeInfoFindByCustomerResultDto.java
  backend/src/main/java/com/stampcrush/backend/entity/user/Customer.java
  backend/src/main/java/com/stampcrush/backend/entity/user/TemporaryCustomer.java
  backend/src/test/java/com/stampcrush/backend/acceptance/CafeIntegrationTest.java
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#261 [BE] refactor: PersistenceConfig 추가하고 JpaAuditing 어노테이션 이동
  backend/src/main/java/com/stampcrush/backend/BackendApplication.java
  backend/src/main/java/com/stampcrush/backend/config/PersistenceConfig.java
Labels: 리팩터링 🔨, back-end 👩‍👩‍👦‍👦

#263 [BE] refactor: 스탬프 발급 코드 리팩터링
  backend/src/main/java/com/stampcrush/backend/application/coupon/CouponService.java
  backend/src/main/java/com/stampcrush/backend/entity/cafe/CafePolicy.java
  backend/src/main/java/com/stampcrush/backend/entity/coupon/Coupon.java
  backend/src/test/java/com/stampcrush/backend/application/coupon/CouponServiceTest.java
  backend/src/test/java/com/stampcrush/backend/entity/cafe/CafePolicyTest.java
  backend/src/test/java/com/stampcrush/backend/entity/coupon/CouponTest.java
  backend/src/test/java/com/stampcrush/backend/repository/coupon/CouponRepositoryTest.java
Labels: 리팩터링 🔨, back-end 👩‍👩‍👦‍👦

#264 [BE] feat: 카페 즐겨찾기 등록 및 해제 기능을 구현한다.
  backend/src/main/java/com/stampcrush/backend/api/favorites/FavoritesController.java
  backend/src/main/java/com/stampcrush/backend/api/favorites/request/FavoritesUpdateRequest.java
  backend/src/main/java/com/stampcrush/backend/application/favorites/FavoritesService.java
  backend/src/main/java/com/stampcrush/backend/entity/favorites/Favorites.java
  backend/src/main/java/com/stampcrush/backend/repository/favorites/FavoritesRepository.java
  backend/src/test/java/com/stampcrush/backend/application/favorites/FavoritesServiceTest.java
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#269 [FE] feat: 즐겨찾기 변경 기능 구현
  frontend/src/api/post.ts
  frontend/src/components/Alert/style.tsx
  frontend/src/mocks/handlers.ts
  frontend/src/mocks/mockData.ts
  frontend/src/pages/CouponList/Coupon/style.tsx
  frontend/src/pages/CouponList/index.tsx
  frontend/src/pages/CouponList/style.tsx
Labels: 기능구현 ✅, front-end 👨‍👨‍👧

#265 [FE] feat: 쿠폰 상세 모달 컴포넌트를 구현한다.
  frontend/src/mocks/handlers.ts
  frontend/src/mocks/mockData.ts
  frontend/src/pages/CouponList/Coupon/index.tsx
  frontend/src/pages/CouponList/Coupon/style.tsx
  frontend/src/pages/CouponList/CouponDetail/index.tsx
  frontend/src/pages/CouponList/CouponDetail/style.tsx
  frontend/src/pages/CouponList/FlippedCoupon/index.tsx
  frontend/src/pages/CouponList/FlippedCoupon/style.tsx
  frontend/src/pages/CouponList/index.tsx
  frontend/src/pages/CouponList/style.tsx
  frontend/src/style/keyframes.ts
  frontend/src/types/index.ts
Labels: 기능구현 ✅, front-end 👨‍👨‍👧

#271 [FE] fix: api 명세 변경에 따른 api 관련 코드 리팩터링을 한다.
  frontend/src/api/get.ts
  frontend/src/api/patch.ts
  frontend/src/api/post.ts
  frontend/src/mocks/handlers.ts
  frontend/src/pages/Admin/CustomCouponDesign/index.tsx
  frontend/src/pages/Admin/EarnStamp/index.tsx
  frontend/src/pages/Admin/RegisterCafe/index.tsx
Labels: front-end 👨‍👨‍👧

#267 [FE] refactor: webpack.common.js의 중복되는 코드를 dev로 이동
  frontend/webpack.common.js
  frontend/webpack.dev.js
Labels: 리팩터링 🔨, front-end 👨‍👨‍👧
