Repository woowacourse-teams/2023-stamp-crush, pull requests merged in 2023-08, with the labels that each got.

#249 [BE] feat: 2차 데모데이 구현 코드에서 Basic 인증을 추가한다(임시)
  backend/src/main/java/com/stampcrush/backend/api/CustomerAuth.java
  backend/src/main/java/com/stampcrush/backend/api/OwnerAuth.java
  backend/src/main/java/com/stampcrush/backend/api/cafe/CafeApiController.java
  backend/src/main/java/com/stampcrush/backend/api/cafe/CafeController.java
  backend/src/main/java/com/stampcrush/backend/api/cafe/CafeCouponSettingApiController.java
  backend/src/main/java/com/stampcrush/backend/api/coupon/CouponApiController.java
  backend/src/main/java/com/stampcrush/backend/api/customer/CustomerApiController.java
  backend/src/main/java/com/stampcrush/backend/api/reward/RewardApiController.java
  backend/src/main/java/com/stampcrush/backend/api/sample/SampleCouponApiController.java
  backend/src/main/java/com/stampcrush/backend/config/BasicAuthInterceptor.java
  backend/src/main/java/com/stampcrush/backend/config/CustomerArgumentResolver.java
  backend/src/main/java/com/stampcrush/backend/config/OwnerArgumentResolver.java
  backend/src/main/java/com/stampcrush/backend/config/WebMvcConfig.java
  backend/src/main/java/com/stampcrush/backend/entity/user/Owner.java
  backend/src/main/java/com/stampcrush/backend/entity/user/RegisterCustomer.java
  backend/src/main/java/com/stampcrush/backend/exception/CustomerUnAuthorizationException.java
  backend/src/main/java/com/stampcrush/backend/exception/OwnerUnAuthorizationException.java
  backend/src/main/java/com/stampcrush/backend/repository/user/OwnerRepository.java
  backend/src/main/java/com/stampcrush/backend/repository/user/RegisterCustomerRepository.java
  backend/src/test/java/com/stampcrush/backend/acceptance/AcceptanceTest.java
  backend/src/test/java/com/stampcrush/backend/acceptance/CafeCouponSettingIntegrationTest.java
  backend/src/test/java/com/stampcrush/backend/acceptance/CafeIntegrationTest.java
  backend/src/test/java/com/stampcrush/backend/acceptance/CustomerCouponFindAcceptanceTest.java
  backend/src/test/java/com/stampcrush/backend/acceptance/CustomerIntegrationTest.java
  backend/src/test/java/com/stampcrush/backend/acceptance/SampleCouponIntegrationTest.java
  backend/src/test/java/com/stampcrush/backend/acceptance/step/CafeCreateStep.java
  backend/src/test/java/com/stampcrush/backend/acceptance/step/CouponCreateStep.java
  backend/src/test/java/com/stampcrush/backend/acceptance/step/CouponFindStep.java
  backend/src/test/java/com/stampcrush/backend/acceptance/step/TemporaryCustomerCreateStep.java
  backend/src/test/java/com/stampcrush/backend/api/cafe/CafeApiControllerTest.java
  backend/src/test/java/com/stampcrush/backend/api/cafe/CafeControllerTest.java
  backend/src/test/java/com/stampcrush/backend/fixture/OwnerFixture.java
  backend/src/test/java/com/stampcrush/backend/repository/coupon/CouponRepositoryTest2.java
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#276 [FE] refactor: type 폴더를 만들고 관련 네이밍과 위치를 리팩토링한다
  frontend/.eslintrc.json
  frontend/src/api/patch.ts
  frontend/src/api/post.ts
  frontend/src/components/Input/index.tsx
  frontend/src/components/ProgressBar/index.tsx
  frontend/src/components/ProgressBar/style.tsx
  frontend/src/components/SearchBar/index.tsx
  frontend/src/components/SelectBox/index.tsx
  frontend/src/components/SelectBox/style.tsx
  frontend/src/components/SideBar/PageSideBar.tsx
  frontend/src/components/SideBar/index.tsx
  frontend/src/components/Stepper/index.tsx
  frontend/src/components/TabBar/index.tsx
  frontend/src/components/TabBar/style.tsx
  frontend/src/components/Text/index.tsx
  frontend/src/constants/index.ts
  frontend/src/hooks/useFindAddress.ts
  frontend/src/hooks/useUploadImage.ts
  frontend/src/pages/Admin/CustomCouponDesign/ChoiceTemplate/index.tsx
  frontend/src/pages/Admin/CustomCouponDesign/ChoiceTemplate/style.tsx
  frontend/src/pages/Admin/CustomCouponDesign/CustomCouponSection/index.tsx
  frontend/src/pages/Admin/CustomCouponDesign/CustomStampSection/index.tsx
  frontend/src/pages/Admin/CustomCouponDesign/StampCustomModal/index.tsx
  frontend/src/pages/Admin/CustomCouponDesign/StampCustomModal/style.tsx
  frontend/src/pages/Admin/CustomCouponDesign/index.tsx
  frontend/src/pages/Admin/CustomCouponDesign/style.tsx
  frontend/src/pages/Admin/CustomerList/index.tsx
  frontend/src/pages/Admin/EarnStamp/index.tsx
  frontend/src/pages/Admin/ManageCafe/TimeRangePicker/index.tsx
  frontend/src/pages/Admin/ManageCafe/index.tsx
  frontend/src/pages/Admin/ModifyCouponPolicy/RadioInput/index.tsx
  frontend/src/pages/Admin/ModifyCouponPolicy/RadioInput/style.tsx
  frontend/src/pages/Admin/ModifyCouponPolicy/index.tsx
  frontend/src/pages/Admin/RegisterCafe/index.tsx
  frontend/src/pages/Admin/RewardPage/index.tsx
  frontend/src/pages/Admin/SelectCoupon/index.tsx
  frontend/src/pages/Admin/SelectCoupon/style.tsx
  frontend/src/pages/CouponList/Coupon/index.tsx
  frontend/src/pages/CouponList/CouponDetail/index.tsx
  frontend/src/pages/CouponList/CouponDetail/style.tsx
  frontend/src/pages/CouponList/FlippedCoupon/index.tsx
  frontend/src/pages/CouponList/FlippedCoupon/style.tsx
  frontend/src/pages/CouponList/index.tsx
  frontend/src/types/api.ts
  frontend/src/types/index.ts
  frontend/src/utils/index.ts
Labels: 리팩터링 🔨, front-end 👨‍👨‍👧

#277 [FE] fix: 가로 및 세로 스크롤이 가능하지 않도록 모달이 열리는 방식 수정
  frontend/src/pages/CouponList/CouponDetail/style.tsx
  frontend/src/style/keyframes.ts
Labels: 리팩터링 🔨, front-end 👨‍👨‍👧

#283 [BE] setting: dev 설정 파일 업데이트
  backend/src/main/resources/application-dev.yml
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#279 [FE] refactor: 고객 모드의 화면을 PC환경에서도 모바일뷰로 렌더링한다.
  frontend/src/Router.tsx
  frontend/src/components/Template/CustomerTemplate/index.tsx
  frontend/src/components/Template/CustomerTemplate/style.tsx
  frontend/src/pages/CouponList/CouponDetail/style.tsx
  frontend/src/pages/CouponList/style.tsx
  frontend/src/style/keyframes.ts
Labels: 리팩터링 🔨, front-end 👨‍👨‍👧

#281 [FE] fix: 구글드라이브 호스팅 이미지 url color-thief cors에러 해결
  frontend/src/components/ProgressBar/index.tsx
  frontend/src/pages/CouponList/index.tsx
  frontend/src/utils/index.ts
Labels: 버그발생 🚨, front-end 👨‍👨‍👧

#284 [BE] setting: application-dev.yml ddl-auto validate로 수정
  backend/src/main/java/com/stampcrush/backend/initializer/DataInitializer.java
  backend/src/main/java/com/stampcrush/backend/initializer/SampleDataInitializer.java
  backend/src/main/resources/application-dev.yml
Labels: 리팩터링 🔨, back-end 👩‍👩‍👦‍👦

#287 [BE] fix: API에 맞도록 수정한다
  backend/src/main/java/com/stampcrush/backend/api/manager/cafe/ManagerCafeCommandApiController.java
  backend/src/main/java/com/stampcrush/backend/api/visitor/coupon/VisitorCustomerCouponFindApiController.java
  backend/src/main/java/com/stampcrush/backend/api/visitor/favorites/VisitorFavoritesCommandApiController.java
  backend/src/main/java/com/stampcrush/backend/application/visitor/favorites/VisitorFavoritesCommandService.java
  backend/src/main/java/com/stampcrush/backend/config/resolver/CustomerAuth.java
  backend/src/test/java/com/stampcrush/backend/acceptance/CustomerCouponFindAcceptanceTest.java
  backend/src/test/java/com/stampcrush/backend/application/favorites/VisitorFavoritesCommandServiceTest.java
Labels: back-end 👩‍👩‍👦‍👦

#293 [BE] fix: Customer Coupon Find API 인수테스트 버그 수정 (테스트코드만 수정했음)
  backend/src/test/java/com/stampcrush/backend/acceptance/CustomerCouponFindAcceptanceTest.java
  backend/src/test/java/com/stampcrush/backend/acceptance/step/CouponFindStep.java
Labels: 버그발생 🚨, back-end 👩‍👩‍👦‍👦

#292 [BE] fix: 수정된 API에 맞게 Controller 수정
  backend/src/main/java/com/stampcrush/backend/api/manager/cafe/ManagerCafeCommandApiController.java
  backend/src/main/java/com/stampcrush/backend/api/manager/cafe/ManagerCafeFindApiController.java
  backend/src/main/java/com/stampcrush/backend/api/manager/coupon/ManagerCouponCommandApiController.java
  backend/src/main/java/com/stampcrush/backend/api/manager/coupon/ManagerCouponFindApiController.java
  backend/src/main/java/com/stampcrush/backend/api/visitor/coupon/VisitorCustomerCouponFindApiController.java
  backend/src/main/java/com/stampcrush/backend/config/resolver/OwnerAuth.java
  backend/src/test/java/com/stampcrush/backend/api/cafe/ManagerCafeFindApiControllerTest.java
Labels: 리팩터링 🔨, back-end 👩‍👩‍👦‍👦

#300 [BE] fix: json-format-change
  backend/src/main/java/com/stampcrush/backend/api/visitor/cafe/response/CafeInfoFindResponse.java
  backend/src/main/java/com/stampcrush/backend/api/visitor/coupon/response/CustomerCouponFindResponse.java
Labels: 버그발생 🚨, back-end 👩‍👩‍👦‍👦

#305 [FE] fix: api base url 수정
  frontend/src/api/index.ts
Labels: 버그발생 🚨, front-end 👨‍👨‍👧

#304 [FE] bug: 배포 중 발견한 오류를 해결한다.
  frontend/src/mocks/mockData.ts
  frontend/src/pages/Admin/ManageCafe/index.tsx
  frontend/src/pages/CouponList/CouponDetail/index.tsx
  frontend/src/pages/CouponList/FlippedCoupon/index.tsx
  frontend/src/pages/CouponList/index.tsx
  frontend/src/style/GlobalStyle.tsx
Labels: 버그발생 🚨, front-end 👨‍👨‍👧

#307 [BE] feat: CafeFindResponse에 introduction 추가
  backend/src/main/java/com/stampcrush/backend/api/manager/cafe/response/CafeFindResponse.java
  backend/src/main/java/com/stampcrush/backend/application/manager/cafe/dto/CafeFindResultDto.java
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#311 [BE] fix: 고객 쿠폰 조회에서 isFavorites를 상수가 아닌 데이터베이스 값으로 변경한다
  backend/src/main/java/com/stampcrush/backend/api/visitor/coupon/VisitorCouponFindApiController.java
  backend/src/main/java/com/stampcrush/backend/application/visitor/coupon/VisitorCouponFindService.java
  backend/src/main/java/com/stampcrush/backend/application/visitor/favorites/VisitorFavoritesFindService.java
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#313 [FE] fix: 잘못된 api 엔드포인트 수정
  frontend/src/api/patch.ts
Labels: 버그발생 🚨, front-end 👨‍👨‍👧

#314 [BE] feat: 시연용 쿠폰 사진 추가
  backend/src/main/java/com/stampcrush/backend/application/manager/cafe/SampleCouponImage.java
  backend/src/main/java/com/stampcrush/backend/entity/cafe/CafeCouponDesign.java
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#318 [BE] bug: coupon setting api 명세에 맞게 수정
  backend/src/main/java/com/stampcrush/backend/api/manager/sample/response/SampleCouponFindResponse.java
Labels: 버그발생 🚨, back-end 👩‍👩‍👦‍👦

#319 [BE] feat: Stamp Coordinates 커스텀으로 변경
  backend/src/main/java/com/stampcrush/backend/application/manager/cafe/ManagerCafeCommandService.java
  backend/src/main/java/com/stampcrush/backend/application/manager/cafe/SampleCouponImage.java
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#320 [BE] fix: sql 테이블명 대문자를 소문자로 변경
  backend/src/main/java/com/stampcrush/backend/entity/cafe/CafeCouponDesign.java
  backend/src/main/java/com/stampcrush/backend/entity/cafe/CafePolicy.java
Labels: 버그발생 🚨, back-end 👩‍👩‍👦‍👦

#321 [FE] feat: 웹접근성 및 스타일 수정
  frontend/src/components/Alert/index.tsx
  frontend/src/components/Header/index.tsx
  frontend/src/components/Modal/index.tsx
  frontend/src/mocks/mockData.ts
  frontend/src/pages/Admin/ManageCafe/index.tsx
  frontend/src/pages/CouponList/CouponDetail/style.tsx
  frontend/src/pages/CouponList/FlippedCoupon/style.tsx
  frontend/src/pages/CouponList/index.tsx
Labels: 기능구현 ✅, front-end 👨‍👨‍👧

#323 [FE] fix: 배포 오류 해결
  frontend/src/pages/CouponList/Coupon/index.tsx
  frontend/src/pages/CouponList/Coupon/style.tsx
  frontend/src/pages/CouponList/index.tsx
Labels: 버그발생 🚨, front-end 👨‍👨‍👧

#324 [FE] fix: api 명세 따른 변경
  frontend/src/api/patch.ts
Labels: 버그발생 🚨, front-end 👨‍👨‍👧

#327 [FE] bug: react-query refetch 관련 문제 수정
  frontend/src/components/SideBar/PageSideBar.tsx
  frontend/src/components/SideBar/style.tsx
  frontend/src/constants/index.ts
  frontend/src/mocks/mockData.ts
  frontend/src/pages/Admin/CustomerList/index.tsx
  frontend/src/pages/CouponList/FlippedCoupon/style.tsx
  frontend/src/pages/CouponList/index.tsx
  frontend/src/style/keyframes.ts
Labels: 버그발생 🚨, front-end 👨‍👨‍👧

#326 [BE] fix: SampleCouponsFindResultDto에서 entity를 반환하던 문제 해결
  backend/src/main/java/com/stampcrush/backend/api/manager/sample/response/SampleCouponFindResponse.java
  backend/src/main/java/com/stampcrush/backend/application/manager/sample/ManagerSampleCouponFindService.java
  backend/src/main/java/com/stampcrush/backend/application/manager/sample/dto/SampleCouponsFindResultDto.java
Labels: 버그발생 🚨, back-end 👩‍👩‍👦‍👦

#330 [FE] fix: 하드코딩 부분 및 웹접근성 수정
  frontend/src/components/Text/index.tsx
  frontend/src/pages/Admin/EarnStamp/index.tsx
  frontend/src/pages/CouponList/CouponDetail/index.tsx
  frontend/src/pages/CouponList/index.tsx
Labels: 버그발생 🚨, front-end 👨‍👨‍👧

#345 [FE] fix: 3차데모 이후 발견한 버그 수정 및 리팩토링
  frontend/src/pages/CouponList/CafeInfo/index.tsx
  frontend/src/pages/CouponList/CafeInfo/style.tsx
  frontend/src/pages/CouponList/Coupon/index.tsx
  frontend/src/pages/CouponList/CouponDetail/index.tsx
  frontend/src/pages/CouponList/CouponDetail/style.tsx
  frontend/src/pages/CouponList/FlippedCoupon/style.tsx
  frontend/src/pages/CouponList/index.tsx
Labels: 버그발생 🚨, front-end 👨‍👨‍👧

#352 feat: 버그 리포트 이슈 템플릿 추가
  .github/ISSUE_TEMPLATE/버그리포트.md
Labels: 문서화 📑, front-end 👨‍👨‍👧, back-end 👩‍👩‍👦‍👦

#372 [BE] refactor: API 변경사항에 맞도록 CustomerCouponFindResponse 수정
  backend/src/main/java/com/stampcrush/backend/api/visitor/coupon/response/CustomerCouponFindResponse.java
  backend/src/main/java/com/stampcrush/backend/application/visitor/coupon/VisitorCouponFindService.java
  backend/src/main/java/com/stampcrush/backend/application/visitor/coupon/dto/CustomerCouponFindResultDto.java
Labels: 리팩터링 🔨, back-end 👩‍👩‍👦‍👦

#331 [BE] test: Controller 테스트 코드 작성 (slice test)
  backend/src/main/java/com/stampcrush/backend/api/manager/sample/ManagerSampleCouponFindApiController.java
  backend/src/main/java/com/stampcrush/backend/entity/cafe/CafePolicy.java
  backend/src/main/java/com/stampcrush/backend/entity/sample/SampleBackImage.java
  backend/src/main/java/com/stampcrush/backend/entity/sample/SampleFrontImage.java
  backend/src/main/java/com/stampcrush/backend/entity/sample/SampleStampImage.java
  backend/src/main/java/com/stampcrush/backend/entity/user/Customer.java
  backend/src/main/java/com/stampcrush/backend/entity/user/RegisterCustomer.java
  backend/src/test/java/com/stampcrush/backend/api/cafe/VisitorCafeFindApiControllerTest.java
  backend/src/test/java/com/stampcrush/backend/api/manager/cafe/ManagerCafeCouponSettingCommandApiControllerTest.java
  backend/src/test/java/com/stampcrush/backend/api/manager/sample/ManagerSampleCouponFindApiControllerTest.java
  backend/src/test/java/com/stampcrush/backend/api/visitor/coupon/VisitorCouponFindApiControllerTest.java
  backend/src/test/java/com/stampcrush/backend/fixture/CafeFixture.java
  backend/src/test/java/com/stampcrush/backend/fixture/CouponFixture.java
  backend/src/test/java/com/stampcrush/backend/fixture/CustomerFixture.java
  backend/src/test/java/com/stampcrush/backend/fixture/SampleCouponFixture.java
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#374 [BE] refactor: AuthHelper로 인증 관련 코드 분리
  backend/src/test/java/com/stampcrush/backend/api/manager/cafe/ManagerCafeCouponSettingCommandApiControllerTest.java
  backend/src/test/java/com/stampcrush/backend/api/manager/sample/ManagerSampleCouponFindApiControllerTest.java
  backend/src/test/java/com/stampcrush/backend/api/visitor/coupon/VisitorCouponFindApiControllerTest.java
  backend/src/test/java/com/stampcrush/backend/helper/AuthHelper.java
Labels: 리팩터링 🔨, back-end 👩‍👩‍👦‍👦

#375 [BE] refactor: Fixture 클래스 final 제어자, private 생성자 추가
  backend/src/test/java/com/stampcrush/backend/api/visitor/coupon/VisitorCouponFindApiControllerTest.java
  backend/src/test/java/com/stampcrush/backend/fixture/CafeFixture.java
  backend/src/test/java/com/stampcrush/backend/fixture/CouponDesignFixture.java
  backend/src/test/java/com/stampcrush/backend/fixture/CouponFixture.java
  backend/src/test/java/com/stampcrush/backend/fixture/CouponPolicyFixture.java
  backend/src/test/java/com/stampcrush/backend/fixture/CustomerFixture.java
  backend/src/test/java/com/stampcrush/backend/fixture/OwnerFixture.java
  backend/src/test/java/com/stampcrush/backend/fixture/SampleCouponFixture.java
  backend/src/test/java/com/stampcrush/backend/helper/AuthHelper.java
Labels: 리팩터링 🔨, back-end 👩‍👩‍👦‍👦

#377 [BE] feat: swagger ui 인터셉터 설정 및 url 설정 변경
  backend/src/main/java/com/stampcrush/backend/config/WebMvcConfig.java
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application.yml
Labels: 문서화 📑, back-end 👩‍👩‍👦‍👦

#347 [BE] test: Service 테스트 코드 작성 (slice test)
  backend/src/main/java/com/stampcrush/backend/application/manager/cafe/dto/CafeCouponSettingDto.java
  backend/src/main/java/com/stampcrush/backend/application/manager/sample/dto/SampleCouponsFindResultDto.java
  backend/src/test/java/com/stampcrush/backend/application/manager/cafe/ManagerCafeCouponSettingCommandServiceTest.java
  backend/src/test/java/com/stampcrush/backend/application/manager/sample/ManagerSampleCouponFindServiceTest.java
  backend/src/test/java/com/stampcrush/backend/application/visitor/coupon/VisitorCouponFindServiceTest.java
  backend/src/test/java/com/stampcrush/backend/fixture/CafeFixture.java
  backend/src/test/java/com/stampcrush/backend/fixture/CouponFixture.java
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#384 [BE] refactor: 정해진 테스트 규칙에 따라 3차 데모데이까지의 테스트 코드를 리팩터링한다(재업로드)
  backend/src/test/java/com/stampcrush/backend/application/customer/ManagerCustomerCommandServiceTest.java
  backend/src/test/java/com/stampcrush/backend/application/manager/customer/ManagerCustomerCommandServiceTest.java
  backend/src/test/java/com/stampcrush/backend/application/manager/customer/ManagerCustomerFindServiceTest.java
  backend/src/test/java/com/stampcrush/backend/application/visitor/cafe/VisitorCafeFindServiceTest.java
  backend/src/test/java/com/stampcrush/backend/entity/user/TemporaryCustomerTest.java
  backend/src/test/java/com/stampcrush/backend/repository/user/CustomerRepositoryTest.java
  backend/src/test/java/com/stampcrush/backend/repository/user/RegisterCustomerRepositoryTest.java
Labels: 리팩터링 🔨, back-end 👩‍👩‍👦‍👦

#389 [BE] feat: 로깅 기능 추가
  backend/src/main/java/com/stampcrush/backend/config/WebMvcConfig.java
  backend/src/main/resources/logback-spring.xml
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#402 [BE] feature: log-format 로깅 문자열 추가
  backend/src/main/java/com/stampcrush/backend/config/LogFormat.java
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#379 [FE] bug: 쿠폰 상세 페이지에서 발생한 버그를 수정한다.
  frontend/src/pages/Admin/ManageCafe/index.tsx
  frontend/src/pages/Admin/ManageCafe/style.tsx
  frontend/src/pages/CouponList/CouponDetail/index.tsx
  frontend/src/pages/CouponList/CouponDetail/style.tsx
  frontend/src/pages/CouponList/index.tsx
  frontend/src/utils/index.ts
Labels: 버그발생 🚨, front-end 👨‍👨‍👧

#338 [BE] refactor: 리워드 조회와 사용에 관한 테스트 추가 작성
  backend/src/test/java/com/stampcrush/backend/acceptance/RewardAcceptanceTest.java
  backend/src/test/java/com/stampcrush/backend/api/reward/ManagerRewardFindApiControllerTest.java
  backend/src/test/java/com/stampcrush/backend/api/reward/MangerRewardCommandApiControllerTest.java
Labels: 리팩터링 🔨, back-end 👩‍👩‍👦‍👦

#368 [BE] refactor: coupon관련 service테스트 수정
  backend/src/main/java/com/stampcrush/backend/application/manager/coupon/ManagerCouponCommandService.java
  backend/src/main/java/com/stampcrush/backend/application/manager/coupon/ManagerCouponFindService.java
  backend/src/main/java/com/stampcrush/backend/application/manager/coupon/dto/CafeCustomerFindResultDto.java
  backend/src/main/java/com/stampcrush/backend/application/manager/coupon/dto/CustomerAccumulatingCouponFindResultDto.java
  backend/src/main/java/com/stampcrush/backend/entity/baseentity/BaseDate.java
  backend/src/main/java/com/stampcrush/backend/entity/cafe/Cafe.java
  backend/src/main/java/com/stampcrush/backend/entity/coupon/Coupon.java
  backend/src/main/java/com/stampcrush/backend/entity/user/TemporaryCustomer.java
  backend/src/test/java/com/stampcrush/backend/application/coupon/ManageCouponCommandServiceTest.java
  backend/src/test/java/com/stampcrush/backend/application/coupon/ManagerCouponCommandServiceTest.java
  backend/src/test/java/com/stampcrush/backend/application/coupon/ManagerCouponFindServiceTest.java
  backend/src/test/java/com/stampcrush/backend/repository/cafe/CafePolicyRepositoryTest.java
Labels: 버그발생 🚨, back-end 👩‍👩‍👦‍👦

#378 [BE] refactor: 즐겨찾기 등록 및 해제 기능 테스트 작성
  backend/src/test/java/com/stampcrush/backend/acceptance/FavoritesAcceptanceTest.java
  backend/src/test/java/com/stampcrush/backend/api/favorites/VisitorFavoritesCommandApiControllerTest.java
Labels: 리팩터링 🔨, back-end 👩‍👩‍👦‍👦

#387 [FE] refactor: 고객의 쿠폰 조회 response 변경
  frontend/src/mocks/mockData.ts
  frontend/src/pages/CouponList/index.tsx
  frontend/src/types/index.ts
Labels: 리팩터링 🔨, front-end 👨‍👨‍👧

#410 [BE] feature: RestDocs + Swagger UI 로 API 문서를 생성한다
  backend/.gitignore
  backend/build.gradle
  backend/src/main/java/com/stampcrush/backend/config/SwaggerConfig.java
  backend/src/main/java/com/stampcrush/backend/config/WebMvcConfig.java
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application.yml
  backend/src/test/java/com/stampcrush/backend/api/docs/DocsControllerTest.java
  backend/src/test/java/com/stampcrush/backend/api/docs/manager/cafe/ManagerCafeFindApiDocsControllerTest.java
  backend/src/test/java/com/stampcrush/backend/api/docs/manager/customer/ManagerCustomerCommandApiDocsControllerTest.java
  backend/src/test/java/com/stampcrush/backend/api/docs/manager/customer/ManagerCustomerFindApiDocsControllerTest.java
  backend/src/test/java/com/stampcrush/backend/api/docs/visitor/cafe/VisitorCafeFindApiDocsControllerTest.java
  backend/src/test/java/com/stampcrush/backend/api/manager/cafe/ManagerCafeFindApiControllerTest.java
  backend/src/test/java/com/stampcrush/backend/api/visitor/cafe/VisitorCafeFindApiControllerTest.java
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#412 [BE] refactor: @KorNamingConverter 어노테이션 적용
  backend/src/test/java/com/stampcrush/backend/acceptance/AcceptanceTest.java
  backend/src/test/java/com/stampcrush/backend/api/favorites/VisitorFavoritesCommandApiControllerTest.java
  backend/src/test/java/com/stampcrush/backend/api/manager/cafe/ManagerCafeCouponSettingCommandApiControllerTest.java
  backend/src/test/java/com/stampcrush/backend/api/manager/cafe/ManagerCafeFindApiControllerTest.java
  backend/src/test/java/com/stampcrush/backend/api/manager/sample/ManagerSampleCouponFindApiControllerTest.java
  backend/src/test/java/com/stampcrush/backend/api/reward/ManagerRewardFindApiControllerTest.java
  backend/src/test/java/com/stampcrush/backend/api/reward/MangerRewardCommandApiControllerTest.java
  backend/src/test/java/com/stampcrush/backend/api/visitor/cafe/VisitorCafeFindApiControllerTest.java
  backend/src/test/java/com/stampcrush/backend/api/visitor/coupon/VisitorCouponFindApiControllerTest.java
  backend/src/test/java/com/stampcrush/backend/application/cafe/ManagerCafeCommandServiceTest.java
  backend/src/test/java/com/stampcrush/backend/application/coupon/ManageCouponCommandServiceTest.java
  backend/src/test/java/com/stampcrush/backend/application/coupon/ManagerCouponFindServiceTest.java
  backend/src/test/java/com/stampcrush/backend/application/favorites/VisitorFavoritesCommandServiceTest.java
  backend/src/test/java/com/stampcrush/backend/application/manager/cafe/ManagerCafeCouponSettingCommandServiceTest.java
  backend/src/test/java/com/stampcrush/backend/application/manager/customer/ManagerCustomerCommandServiceTest.java
  backend/src/test/java/com/stampcrush/backend/application/manager/customer/ManagerCustomerFindServiceTest.java
  backend/src/test/java/com/stampcrush/backend/application/manager/sample/ManagerSampleCouponFindServiceTest.java
  backend/src/test/java/com/stampcrush/backend/application/reward/ManagerRewardCommandServiceTest.java
  backend/src/test/java/com/stampcrush/backend/application/visitor/cafe/VisitorCafeFindServiceTest.java
  backend/src/test/java/com/stampcrush/backend/application/visitor/coupon/VisitorCouponFindServiceTest.java
  backend/src/test/java/com/stampcrush/backend/common/KorNamingConverter.java
  backend/src/test/java/com/stampcrush/backend/entity/cafe/CafePolicyTest.java
  backend/src/test/java/com/stampcrush/backend/entity/coupon/CouponTest.java
  backend/src/test/java/com/stampcrush/backend/entity/reward/RewardTest.java
  backend/src/test/java/com/stampcrush/backend/entity/user/TemporaryCustomerTest.java
  backend/src/test/java/com/stampcrush/backend/repository/cafe/CafeCouponDesignRepositoryTest.java
  backend/src/test/java/com/stampcrush/backend/repository/cafe/CafePolicyRepositoryTest.java
  backend/src/test/java/com/stampcrush/backend/repository/coupon/CouponRepositoryTest.java
  backend/src/test/java/com/stampcrush/backend/repository/coupon/CouponRepositoryTest2.java
  backend/src/test/java/com/stampcrush/backend/repository/coupon/CouponStampCoordinateRepositoryTest.java
  backend/src/test/java/com/stampcrush/backend/repository/user/CustomerRepositoryTest.java
  backend/src/test/java/com/stampcrush/backend/repository/user/RegisterCustomerRepositoryTest.java
Labels: 리팩터링 🔨, back-end 👩‍👩‍👦‍👦

#411 [FE] feat: 쿠폰 상세 페이지의 쿠폰 삭제 기능을 구현한다.
  frontend/src/api/delete.ts
  frontend/src/api/index.ts
  frontend/src/mocks/handlers.ts
  frontend/src/pages/CouponList/CouponDetail/index.tsx
  frontend/src/pages/CouponList/CouponDetail/style.tsx
  frontend/src/pages/CouponList/index.tsx
Labels: 기능구현 ✅, front-end 👨‍👨‍👧

#385 [FE] fix: ModifyCouponPolicy 페이지에 등록된 버그들을 해결한다.
  frontend/src/components/SideBar/PageSideBar.tsx
  frontend/src/constants/index.ts
  frontend/src/pages/Admin/CustomCouponDesign/index.tsx
  frontend/src/pages/Admin/ModifyCouponPolicy/CreatedType/index.tsx
  frontend/src/pages/Admin/ModifyCouponPolicy/CreatedType/style.tsx
  frontend/src/pages/Admin/ModifyCouponPolicy/ExpirePeriod/index.tsx
  frontend/src/pages/Admin/ModifyCouponPolicy/ExpirePeriod/style.tsx
  frontend/src/pages/Admin/ModifyCouponPolicy/MaxStampCount/index.tsx
  frontend/src/pages/Admin/ModifyCouponPolicy/RadioInput/index.tsx
  frontend/src/pages/Admin/ModifyCouponPolicy/RadioInput/style.tsx
  frontend/src/pages/Admin/ModifyCouponPolicy/RewardName/index.tsx
  frontend/src/pages/Admin/ModifyCouponPolicy/index.tsx
  frontend/src/pages/Admin/ModifyCouponPolicy/style.tsx
  frontend/src/types/index.ts
Labels: 버그발생 🚨, front-end 👨‍👨‍👧

#401 [FE] feat: 마이페이지 및 리워드 보유 내역 페이지 구현
  frontend/src/Router.tsx
  frontend/src/api/get.ts
  frontend/src/components/Header/SubHeader/index.tsx
  frontend/src/components/Header/SubHeader/style.tsx
  frontend/src/components/Header/index.tsx
  frontend/src/constants/index.ts
  frontend/src/mocks/handlers.ts
  frontend/src/mocks/mockData.ts
  frontend/src/pages/CouponList/index.tsx
  frontend/src/pages/CouponList/style.tsx
  frontend/src/pages/MyPage/index.tsx
  frontend/src/pages/MyPage/style.tsx
  frontend/src/pages/RewardList/index.tsx
  frontend/src/pages/RewardList/style.tsx
  frontend/src/types/api.ts
  frontend/src/types/index.ts
Labels: 기능구현 ✅, front-end 👨‍👨‍👧

#413 [BE] refactor: coupon service테스트 관련 리뷰 적용했습니다.
  backend/src/main/java/com/stampcrush/backend/application/manager/coupon/ManagerCouponCommandService.java
  backend/src/main/java/com/stampcrush/backend/application/manager/coupon/dto/CustomerAccumulatingCouponFindResultDto.java
  backend/src/main/java/com/stampcrush/backend/entity/cafe/Cafe.java
  backend/src/test/java/com/stampcrush/backend/application/coupon/ManageCouponCommandServiceTest.java
  backend/src/test/java/com/stampcrush/backend/application/coupon/ManagerCouponFindServiceTest.java
  backend/src/test/java/com/stampcrush/backend/repository/cafe/CafePolicyRepositoryTest.java
Labels: 리팩터링 🔨, back-end 👩‍👩‍👦‍👦

#419 [BE] feat: visit_history엔티티 생성
  backend/src/main/java/com/stampcrush/backend/entity/visithistory/VisitHistory.java
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#421 [BE] feat: 개발환경에서 swagger 페이지가 접근되지 않아서 설정파일 수정
  backend/src/main/java/com/stampcrush/backend/config/WebMvcConfig.java
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application.yml
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#424 [BE] feat: 로그에 스프링부트와 동일한 색상 적용
  backend/src/main/resources/logback-spring.xml
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#367 [BE] refactor: 쿠폰 발급, 스탬프 적립, 쿠폰 적립하는 고객 조회에 대한 api테스트 작성
  backend/src/main/java/com/stampcrush/backend/api/manager/coupon/response/CafeCustomerFindResponse.java
  backend/src/main/java/com/stampcrush/backend/api/manager/coupon/response/CafeCustomersFindResponse.java
  backend/src/main/java/com/stampcrush/backend/api/manager/coupon/response/CustomerAccumulatingCouponFindResponse.java
  backend/src/test/java/com/stampcrush/backend/acceptance/coupon/ManagerCouponCommandIntegrationTest.java
  backend/src/test/java/com/stampcrush/backend/api/coupon/ManagerCouponCommandApiControllerTest.java
  backend/src/test/java/com/stampcrush/backend/api/coupon/ManagerCouponFindApiControllerTest.java
Labels: 리팩터링 🔨, back-end 👩‍👩‍👦‍👦

#429 [BE] chore: .gitignore 에 log 디렉토리 추가
  backend/.gitignore
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#430 [BE] chore: 테스트 코드 패키지 정리
  backend/src/test/java/com/stampcrush/backend/acceptance/ManagerCouponCommandIntegrationTest.java
  backend/src/test/java/com/stampcrush/backend/api/manager/coupon/ManagerCouponCommandApiControllerTest.java
  backend/src/test/java/com/stampcrush/backend/api/manager/coupon/ManagerCouponFindApiControllerTest.java
  backend/src/test/java/com/stampcrush/backend/api/manager/reward/ManagerRewardFindApiControllerTest.java
  backend/src/test/java/com/stampcrush/backend/api/manager/reward/MangerRewardCommandApiControllerTest.java
  backend/src/test/java/com/stampcrush/backend/api/visitor/favorites/VisitorFavoritesCommandApiControllerTest.java
  backend/src/test/java/com/stampcrush/backend/application/manager/cafe/ManagerCafeCommandServiceTest.java
  backend/src/test/java/com/stampcrush/backend/application/manager/coupon/ManageCouponCommandServiceTest.java
  backend/src/test/java/com/stampcrush/backend/application/manager/coupon/ManagerCouponFindServiceTest.java
  backend/src/test/java/com/stampcrush/backend/application/manager/reward/ManagerRewardCommandServiceTest.java
  backend/src/test/java/com/stampcrush/backend/application/visitor/favorites/VisitorFavoritesCommandServiceTest.java
Labels: 리팩터링 🔨, back-end 👩‍👩‍👦‍👦

#426 [BE] feat: 스탬프 적립 시 VisitHistory데이터를 추가한다.
  backend/src/main/java/com/stampcrush/backend/application/manager/coupon/ManagerCouponCommandService.java
  backend/src/main/java/com/stampcrush/backend/entity/visithistory/VisitHistory.java
  backend/src/main/java/com/stampcrush/backend/repository/visithistory/VisitHistoryRepository.java
  backend/src/test/java/com/stampcrush/backend/application/manager/coupon/ManageCouponCommandServiceTest.java
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#432 [BE] refactor: 테스트 코드의 step, Fixture 공통 부분 분리 및 테스트 효율성 향상
  backend/src/test/java/com/stampcrush/backend/acceptance/CafeIntegrationTest.java
  backend/src/test/java/com/stampcrush/backend/acceptance/ManagerCafeCouponSettingCommandUpdateAcceptanceTest.java
  backend/src/test/java/com/stampcrush/backend/acceptance/ManagerCouponCommandAcceptanceTest.java
  backend/src/test/java/com/stampcrush/backend/acceptance/ManagerCustomerCommandAcceptanceTest.java
  backend/src/test/java/com/stampcrush/backend/acceptance/ManagerRewardCommandAcceptanceTest.java
  backend/src/test/java/com/stampcrush/backend/acceptance/ManagerSampleCouponFindAcceptanceTest.java
  backend/src/test/java/com/stampcrush/backend/acceptance/VisitorCafeFindAcceptanceTest.java
  backend/src/test/java/com/stampcrush/backend/acceptance/VisitorCouponFindAcceptanceTest.java
  backend/src/test/java/com/stampcrush/backend/acceptance/VisitorFavoritesCommandAcceptanceTest.java
  backend/src/test/java/com/stampcrush/backend/acceptance/step/ManagerCafeCouponSettingUpdateStep.java
  backend/src/test/java/com/stampcrush/backend/acceptance/step/ManagerCafeCreateStep.java
  backend/src/test/java/com/stampcrush/backend/acceptance/step/ManagerCouponCreateStep.java
  backend/src/test/java/com/stampcrush/backend/acceptance/step/ManagerCouponFindStep.java
  backend/src/test/java/com/stampcrush/backend/acceptance/step/ManagerStampCreateStep.java
  backend/src/test/java/com/stampcrush/backend/acceptance/step/ManagerTemporaryCustomerCreateStep.java
  backend/src/test/java/com/stampcrush/backend/acceptance/step/VisitorCafeFindStep.java
  backend/src/test/java/com/stampcrush/backend/acceptance/step/VisitorCouponFindStep.java
  backend/src/test/java/com/stampcrush/backend/api/docs/DocsControllerTest.java
  backend/src/test/java/com/stampcrush/backend/fixture/CafeFixture.java
  backend/src/test/java/com/stampcrush/backend/fixture/CouponDesignFixture.java
  backend/src/test/java/com/stampcrush/backend/fixture/CouponPolicyFixture.java
  backend/src/test/java/com/stampcrush/backend/fixture/CustomerFixture.java
Labels: 리팩터링 🔨, back-end 👩‍👩‍👦‍👦

#396 [FE] bug: 쿠폰 커스텀 페이지의 버그를 해결한다.
  frontend/src/Router.tsx
  frontend/src/assets/coupon_loading_img.png
  frontend/src/assets/coupon_preview.png
  frontend/src/assets/stamp_load_img.png
  frontend/src/assets/stamp_preview.png
  frontend/src/components/TabBar/style.tsx
  frontend/src/constants/index.ts
  frontend/src/hooks/useUploadImage.ts
  frontend/src/mocks/mockData.ts
  frontend/src/pages/Admin/CouponDesign/ChoiceTemplate/index.tsx
  frontend/src/pages/Admin/CouponDesign/ChoiceTemplate/style.tsx
  frontend/src/pages/Admin/CouponDesign/CouponPreviewSection/index.tsx
  frontend/src/pages/Admin/CouponDesign/CouponPreviewSection/style.tsx
  frontend/src/pages/Admin/CouponDesign/CustomCouponDesign/StampCustomModal/index.tsx
  frontend/src/pages/Admin/CouponDesign/CustomCouponDesign/StampCustomModal/style.tsx
  frontend/src/pages/Admin/CouponDesign/CustomCouponDesign/index.tsx
  frontend/src/pages/Admin/CouponDesign/CustomCouponDesign/style.tsx
  frontend/src/pages/Admin/CouponDesign/CustomCouponSection/index.tsx
  frontend/src/pages/Admin/CouponDesign/CustomCouponSection/style.tsx
  frontend/src/pages/Admin/CouponDesign/CustomStampSection/index.tsx
  frontend/src/pages/Admin/CouponDesign/TemplateCouponDesign/index.tsx
  frontend/src/pages/Admin/CouponDesign/hooks/useLoadImg.ts
  frontend/src/pages/Admin/CouponDesign/hooks/useMutateCouponPolicy.ts
  frontend/src/pages/Admin/CustomCouponDesign/dummy.ts
  frontend/src/pages/Admin/CustomCouponDesign/index.tsx
  frontend/src/pages/Admin/ManageCafe/index.tsx
  frontend/src/pages/CouponList/FlippedCoupon/index.tsx
  frontend/src/style/theme.ts
  frontend/src/types/index.ts
  frontend/src/utils/index.ts
Labels: 기능구현 ✅, 버그발생 🚨, front-end 👨‍👨‍👧

#433 [FE] refactor: 카페 등록 페이지의 사이드바를 렌더링하지 않는다.
  frontend/src/components/SideBar/PageSideBar.tsx
  frontend/src/pages/Admin/RegisterCafe/index.tsx
Labels: 리팩터링 🔨, front-end 👨‍👨‍👧

#437 [FE] feat: 마이페이지의 리워드 사용내역 페이지를 구현한다.
  frontend/src/Router.tsx
  frontend/src/constants/index.ts
  frontend/src/mocks/mockData.ts
  frontend/src/pages/RewardHistory/index.tsx
  frontend/src/pages/RewardHistory/style.tsx
  frontend/src/types/index.ts
  frontend/src/utils/index.ts
Labels: 기능구현 ✅, front-end 👨‍👨‍👧

#435 [FE] refactor: 작성되지 않은 Request/Response의 타입을 작성한다.
  frontend/src/api/get.ts
  frontend/src/api/index.ts
  frontend/src/api/patch.ts
  frontend/src/api/post.ts
  frontend/src/constants/index.ts
  frontend/src/mocks/handlers.ts
  frontend/src/mocks/mockData.ts
  frontend/src/pages/Admin/CouponDesign/ChoiceTemplate/index.tsx
  frontend/src/pages/Admin/CouponDesign/CustomCouponDesign/index.tsx
  frontend/src/pages/Admin/CouponDesign/TemplateCouponDesign/index.tsx
  frontend/src/pages/Admin/CouponDesign/hooks/useMutateCouponPolicy.ts
  frontend/src/pages/Admin/CustomerList/index.tsx
  frontend/src/pages/Admin/EarnStamp/index.tsx
  frontend/src/pages/Admin/ManageCafe/index.tsx
  frontend/src/pages/Admin/RegisterCafe/index.tsx
  frontend/src/pages/Admin/RewardPage/index.tsx
  frontend/src/pages/Admin/SelectCoupon/index.tsx
  frontend/src/pages/CouponList/CouponDetail/index.tsx
  frontend/src/pages/CouponList/index.tsx
  frontend/src/pages/RewardHistory/index.tsx
  frontend/src/pages/RewardList/index.tsx
  frontend/src/types/api.ts
  frontend/src/types/index.ts
Labels: 리팩터링 🔨, front-end 👨‍👨‍👧

#434 [BE] feat: 스탬프 적립 내역을 조회하는 API
  backend/src/main/java/com/stampcrush/backend/api/visitor/visithistory/VisitorVisitHistoryFindApiController.java
  backend/src/main/java/com/stampcrush/backend/api/visitor/visithistory/response/CustomerStampHistoriesFindResponse.java
  backend/src/main/java/com/stampcrush/backend/api/visitor/visithistory/response/CustomerStampHistoryFindResponse.java
  backend/src/main/java/com/stampcrush/backend/application/visitor/visithistory/VisitorVisitHistoryFindService.java
  backend/src/main/java/com/stampcrush/backend/application/visitor/visithistory/dto/CustomerStampHistoryFindResultDto.java
  backend/src/main/java/com/stampcrush/backend/entity/visithistory/VisitHistory.java
  backend/src/main/java/com/stampcrush/backend/repository/visithistory/VisitHistoryRepository.java
  backend/src/test/java/com/stampcrush/backend/api/visitor/visithistory/VisitorVisitHistoryFindApiControllerTest.java
  backend/src/test/java/com/stampcrush/backend/application/visitor/visithistory/VisitorVisitHistoryFindServiceTest.java
  backend/src/test/java/com/stampcrush/backend/repository/visithistory/VisitHistoryRepositoryTest.java
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#441 [FE] refactor: 템플릿 및 사이드바 디자인 개편
  frontend/src/Router.tsx
  frontend/src/assets/admin_header_logo.png
  frontend/src/assets/admin_header_logo1.png
  frontend/src/assets/index.ts
  frontend/src/assets/logo.svg
  frontend/src/components/Header/style.tsx
  frontend/src/components/Input/style.tsx
  frontend/src/components/SelectBox/style.tsx
  frontend/src/components/SideBar/PageSideBar.tsx
  frontend/src/components/SideBar/index.tsx
  frontend/src/components/SideBar/style.tsx
  frontend/src/components/Template/style.tsx
  frontend/src/components/Text/style.ts
  frontend/src/constants/index.ts
  frontend/src/pages/Admin/ManageCafe/style.tsx
  frontend/src/pages/Admin/ModifyCouponPolicy/index.tsx
  frontend/src/pages/CouponList/style.tsx
  frontend/src/pages/EnterPhoneNumber/Dialpad/index.tsx
  frontend/src/style/DoHyeon-Regular.ttf
  frontend/src/style/GlobalStyle.tsx
  frontend/src/style/theme.ts
Labels: 리팩터링 🔨, front-end 👨‍👨‍👧

#440 [BE] feat: 쿠폰 삭제 기능을 구현한다
  backend/src/main/java/com/stampcrush/backend/api/visitor/coupon/VisitorCouponCommandApiController.java
  backend/src/main/java/com/stampcrush/backend/application/visitor/coupon/VisitorCouponCommandService.java
  backend/src/main/java/com/stampcrush/backend/entity/coupon/Coupon.java
  backend/src/main/java/com/stampcrush/backend/exception/CouponNotFoundException.java
  backend/src/main/java/com/stampcrush/backend/repository/coupon/CouponRepository.java
  backend/src/test/java/com/stampcrush/backend/api/visitor/coupon/VisitorCouponCommandApiControllerTest.java
  backend/src/test/java/com/stampcrush/backend/application/visitor/coupon/VisitorCouponCommandServiceTest.java
  backend/src/test/java/com/stampcrush/backend/repository/coupon/CouponRepositoryTest.java
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#446 [ALL] jenkins 라벨로 구분 테스트
  backend/src/main/java/README.md
Labels: back-end 👩‍👩‍👦‍👦

#449 [ALL] test
  backend/src/main/java/README.md
Labels: back-end 👩‍👩‍👦‍👦

#462 [BE] feat: OAuth 최초 요청에 대해서 Resource Server에 접근할 Redirect URI 응답
  backend/src/main/java/com/stampcrush/backend/api/manager/auth/ManagerAuthController.java
  backend/src/main/java/com/stampcrush/backend/api/manager/auth/ManagerAuthService.java
  backend/src/main/java/com/stampcrush/backend/api/manager/auth/StateUtils.java
  backend/src/main/java/com/stampcrush/backend/config/WebMvcConfig.java
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#463 [BE] feat: /api/owners/oauth/naver에 대해서 인증 제외
  backend/src/main/java/com/stampcrush/backend/api/manager/auth/ManagerAuthController.java
  backend/src/main/java/com/stampcrush/backend/config/WebMvcConfig.java
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#465 [BE] feat: Login API Get 으로 변경
  backend/src/main/java/com/stampcrush/backend/api/manager/auth/ManagerAuthController.java
  backend/src/main/java/com/stampcrush/backend/application/manager/auth/ManagerAuthService.java
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#466 [FE] refactor: href로 링크 이동
  frontend/src/pages/Admin/AdminLogin/index.tsx
  frontend/src/pages/Admin/AdminLogin/style.tsx
Labels: 리팩터링 🔨, front-end 👨‍👨‍👧

#468 [FE] refactor: 카카오로 테스트
  frontend/src/pages/Admin/AdminLogin/index.tsx
Labels: 기능구현 ✅, front-end 👨‍👨‍👧

#469 [BE] feat: 카카오 로그인 요청 API 생성
  backend/src/main/java/com/stampcrush/backend/api/manager/auth/ManagerAuthController.java
  backend/src/main/java/com/stampcrush/backend/application/manager/auth/ManagerAuthService.java
Labels: back-end 👩‍👩‍👦‍👦

#472 [BE] refactor: 고객의 방문횟수 계산하는 로직을 수정한다
  backend/src/main/java/com/stampcrush/backend/api/manager/coupon/response/CafeCustomerFindResponse.java
  backend/src/main/java/com/stampcrush/backend/api/manager/coupon/response/CafeCustomersFindResponse.java
  backend/src/main/java/com/stampcrush/backend/application/manager/coupon/CustomerCouponStatistics.java
  backend/src/main/java/com/stampcrush/backend/application/manager/coupon/ManagerCouponFindService.java
  backend/src/main/java/com/stampcrush/backend/application/manager/coupon/dto/CafeCustomerFindResultDto.java
  backend/src/main/java/com/stampcrush/backend/entity/coupon/Coupons.java
  backend/src/main/java/com/stampcrush/backend/entity/user/Owner.java
  backend/src/main/java/com/stampcrush/backend/entity/visithistory/VisitHistories.java
  backend/src/main/java/com/stampcrush/backend/entity/visithistory/VisitHistory.java
  backend/src/main/java/com/stampcrush/backend/exception/VisitHistoryNotFoundException.java
  backend/src/main/java/com/stampcrush/backend/repository/visithistory/VisitHistoryRepository.java
  backend/src/test/java/com/stampcrush/backend/acceptance/ManagerCouponFindAcceptanceTest.java
  backend/src/test/java/com/stampcrush/backend/acceptance/step/ManagerCafeCreateStep.java
  backend/src/test/java/com/stampcrush/backend/acceptance/step/ManagerCustomerFindStep.java
  backend/src/test/java/com/stampcrush/backend/application/manager/coupon/ManagerCouponFindServiceTest.java
  backend/src/test/java/com/stampcrush/backend/fixture/OwnerFixture.java
  backend/src/test/java/com/stampcrush/backend/repository/visithistory/VisitHistoryRepositoryTest.java
Labels: 리팩터링 🔨, back-end 👩‍👩‍👦‍👦

#455 [FE] feat: 로딩, 에러 컴포넌트를 구현한다.
  frontend/src/assets/coupon_load_img_for_customer.png
  frontend/src/assets/loading_spinner.gif
  frontend/src/components/LoadingSpinner/index.tsx
  frontend/src/components/LoadingSpinner/style.tsx
  frontend/src/custom.d.ts
  frontend/src/mocks/handlers.ts
  frontend/src/pages/Admin/CustomerList/Customers/index.tsx
  frontend/src/pages/Admin/CustomerList/index.tsx
  frontend/src/pages/Admin/ManageCafe/index.tsx
  frontend/src/pages/CouponList/Coupon/index.tsx
  frontend/src/pages/CouponList/Coupon/style.tsx
  frontend/src/pages/NotFound/index.tsx
Labels: 기능구현 ✅, front-end 👨‍👨‍👧

#459 [FE] fix: 고객 목록의 스탬프 개수 등 고객 목록 최신화 안되는 오류
  frontend/src/pages/Admin/CustomerList/index.tsx
  frontend/src/pages/CouponList/index.tsx
Labels: 버그발생 🚨, front-end 👨‍👨‍👧

#457 [BE] feat: 4차 데모데이 기능구현한 API 명세 테스트를 작성한다
  backend/src/test/java/com/stampcrush/backend/api/docs/DocsControllerTest.java
  backend/src/test/java/com/stampcrush/backend/api/docs/manager/sample/ManagerSampleCouponFindApiDocsControllerTest.java
  backend/src/test/java/com/stampcrush/backend/api/docs/visitor/coupon/VisitorCouponCommandApiDocsControllerTest.java
  backend/src/test/java/com/stampcrush/backend/api/docs/visitor/reward/VisitorRewardsFindApiDocsControllerTest.java
  backend/src/test/java/com/stampcrush/backend/api/docs/visitor/visithistory/VisitorVisitHistoryFindApiDocsControllerTest.java
Labels: 문서화 📑, back-end 👩‍👩‍👦‍👦

#478 [BE] refactor: auth 관련 pattern 수정
  backend/src/main/java/com/stampcrush/backend/config/WebMvcConfig.java
Labels: 리팩터링 🔨, back-end 👩‍👩‍👦‍👦

#479 [BE] feat: cloud watch테스트용 로그 작성
  backend/src/main/java/com/stampcrush/backend/api/LogController.java
Labels: back-end 👩‍👩‍👦‍👦

#481 [BE] feat: cloud watch log test
  backend/src/main/java/com/stampcrush/backend/api/LogController.java
Labels: back-end 👩‍👩‍👦‍👦

#482 [BE] feat: sub-module생성
  .gitmodules
Labels: back-end 👩‍👩‍👦‍👦

#486 [BE] refactor: 주석 제거 (Jenkins trigger 테스트용)
  backend/src/main/java/com/stampcrush/backend/initializer/DataInitializer.java
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#487 [FE] test: Jenkins 파이프라인 테스트용 커밋
  backend/src/main/java/com/stampcrush/backend/config/TestConfig.java
Labels: 기능구현 ✅, front-end 👨‍👨‍👧

#488 [BE] fix: 테스트 실패 해결
  backend/src/main/java/com/stampcrush/backend/config/TestConfig.java
  backend/src/main/java/com/stampcrush/backend/initializer/SampleDataInitializer.java
Labels: 버그발생 🚨, back-end 👩‍👩‍👦‍👦

#450 [FE] refactor: 사장모드 디자인 2차 개선
  frontend/src/assets/fonts/Yeongdeok_Blueroad.ttf
  frontend/src/components/Button/style.tsx
  frontend/src/components/Header/index.tsx
  frontend/src/components/Input/style.tsx
  frontend/src/components/SearchBar/style.ts
  frontend/src/components/SelectBox/style.tsx
  frontend/src/components/SideBar/PageSideBar.tsx
  frontend/src/components/SideBar/index.tsx
  frontend/src/components/SideBar/style.tsx
  frontend/src/components/Stepper/index.tsx
  frontend/src/components/Stepper/style.tsx
  frontend/src/components/Template/index.tsx
  frontend/src/components/Template/style.tsx
  frontend/src/components/Text/style.ts
  frontend/src/constants/index.ts
  frontend/src/custom.d.ts
  frontend/src/mocks/mockData.ts
  frontend/src/pages/Admin/CouponDesign/CustomCouponDesign/style.tsx
  frontend/src/pages/Admin/CustomerList/index.tsx
  frontend/src/pages/Admin/CustomerList/style.tsx
  frontend/src/pages/Admin/ManageCafe/index.tsx
  frontend/src/pages/Admin/ManageCafe/style.tsx
  frontend/src/pages/Admin/SelectCoupon/index.tsx
  frontend/src/pages/Admin/SelectCoupon/style.tsx
  frontend/src/style/DoHyeon-Regular.ttf
  frontend/src/style/GlobalStyle.tsx
  frontend/webpack.common.js
Labels: 리팩터링 🔨, front-end 👨‍👨‍👧

#453 [FE] feat: 마이페이지의 스탬프 적립내역 페이지를 구현한다.
  frontend/src/Router.tsx
  frontend/src/api/get.ts
  frontend/src/constants/index.ts
  frontend/src/mocks/handlers.ts
  frontend/src/mocks/mockData.ts
  frontend/src/pages/History/index.tsx
  frontend/src/pages/HistoryPage/HistoryPage.tsx
  frontend/src/pages/HistoryPage/RewardHistory/index.tsx
  frontend/src/pages/HistoryPage/StampHistory/index.tsx
  frontend/src/pages/HistoryPage/style.tsx
  frontend/src/pages/MyPage/index.tsx
  frontend/src/pages/RewardHistory/index.tsx
  frontend/src/types/api.ts
  frontend/src/types/index.ts
  frontend/src/utils/index.ts
Labels: 기능구현 ✅, 리팩터링 🔨, front-end 👨‍👨‍👧

#492 [FE] feat: oAuth 연결
  frontend/src/Router.tsx
  frontend/src/api/get.ts
  frontend/src/api/index.ts
  frontend/src/assets/index.ts
  frontend/src/assets/kakao_login.svg
  frontend/src/assets/kakao_login_medium_narrow.svg
  frontend/src/assets/login_logo.svg
  frontend/src/assets/stampcrush_logo_white.svg
  frontend/src/components/SideBar/index.tsx
  frontend/src/components/SideBar/style.tsx
  frontend/src/constants/index.ts
  frontend/src/context/index.tsx
  frontend/src/hooks/useCafeId.ts
  frontend/src/pages/Admin/AdminAuth/index.tsx
  frontend/src/pages/Admin/AdminLogin/index.tsx
  frontend/src/pages/Admin/CustomerList/Customers/index.tsx
  frontend/src/pages/Admin/CustomerList/Customers/style.tsx
  frontend/src/pages/Admin/CustomerList/index.tsx
  frontend/src/pages/Admin/CustomerList/style.tsx
  frontend/src/pages/Auth/index.tsx
  frontend/src/pages/Login/index.tsx
  frontend/src/pages/Login/style.tsx
  frontend/src/pages/RewardList/style.tsx
  frontend/src/types/api.ts
Labels: 기능구현 ✅, front-end 👨‍👨‍👧

#477 [BE] refactor: 남은 리워드 개수 구하는 로직 수정
  backend/src/main/java/com/stampcrush/backend/application/manager/coupon/ManagerCouponFindService.java
  backend/src/main/java/com/stampcrush/backend/repository/reward/RewardRepository.java
  backend/src/test/java/com/stampcrush/backend/application/manager/coupon/ManagerCouponFindServiceTest.java
  backend/src/test/java/com/stampcrush/backend/repository/reward/RewardRepositoryTest.java
Labels: 리팩터링 🔨, back-end 👩‍👩‍👦‍👦

#493 [FE] fix: 잘못된 import문 수정
  frontend/src/Router.tsx
Labels: 버그발생 🚨, front-end 👨‍👨‍👧

#496 [FE] fix: 주석 제거
  frontend/src/pages/Admin/AdminAuth/index.tsx
Labels: 기능구현 ✅, front-end 👨‍👨‍👧

#495 [BE] feat: 카페 사장이 카페 쿠폰 세팅을 조회한다.
  backend/src/main/java/com/stampcrush/backend/api/manager/cafe/ManagerCafeCouponSettingFindApiController.java
  backend/src/main/java/com/stampcrush/backend/api/manager/cafe/response/CafeCouponCoordinateFindResponse.java
  backend/src/main/java/com/stampcrush/backend/api/manager/cafe/response/CafeCouponSettingFindResponse.java
  backend/src/main/java/com/stampcrush/backend/application/manager/cafe/ManagerCafeCouponSettingFindService.java
  backend/src/main/java/com/stampcrush/backend/application/manager/cafe/dto/CafeCouponCoordinateFindResultDto.java
  backend/src/main/java/com/stampcrush/backend/application/manager/cafe/dto/CafeCouponSettingFindResultDto.java
  backend/src/main/java/com/stampcrush/backend/exception/CafeCouponSettingNotFoundException.java
  backend/src/test/java/com/stampcrush/backend/api/manager/cafe/ManagerCafeCouponSettingFindApiControllerTest.java
  backend/src/test/java/com/stampcrush/backend/application/manager/cafe/ManagerCafeCouponSettingFindServiceTest.java
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#498 [FE] fix: oAuth 테스트 중 발견한 이슈 해결
  frontend/src/api/get.ts
  frontend/src/api/index.ts
  frontend/src/pages/Admin/AdminAuth/index.tsx
  frontend/src/pages/Auth/index.tsx
Labels: 버그발생 🚨, front-end 👨‍👨‍👧

#505 [FE] fix: 카페등록 페이지 오류 해결
  frontend/src/Router.tsx
  frontend/src/api/index.ts
  frontend/src/components/SideBar/index.tsx
  frontend/src/components/SideBar/style.tsx
  frontend/src/pages/Admin/AdminAuth/index.tsx
  frontend/src/pages/Admin/CustomerList/index.tsx
  frontend/src/pages/Admin/EarnStamp/SelectCoupon/index.tsx
  frontend/src/pages/Admin/EarnStamp/SelectCoupon/style.tsx
  frontend/src/pages/Admin/EarnStamp/index.tsx
  frontend/src/pages/Admin/EarnStamp/style.tsx
  frontend/src/pages/Admin/ModifyCouponPolicy/CreatedType/index.tsx
  frontend/src/pages/Admin/ModifyCouponPolicy/CreatedType/style.tsx
  frontend/src/pages/Admin/ModifyCouponPolicy/index.tsx
  frontend/src/pages/Admin/ModifyCouponPolicy/style.tsx
  frontend/src/pages/Admin/RegisterCafe/style.tsx
Labels: 리팩터링 🔨, front-end 👨‍👨‍👧

#506 [FE] fix: token 고객 사장 바껴들어간 것 수정
  frontend/src/api/index.ts
  frontend/src/components/SideBar/index.tsx
  frontend/src/pages/Admin/AdminLogin/index.tsx
  frontend/src/pages/Admin/AdminLogin/style.tsx
  frontend/src/pages/RewardList/style.tsx
Labels: 버그발생 🚨, front-end 👨‍👨‍👧

#507 [FE] refactor: 하드코딩된 cafeId를 api 에서 불러온 값으로 변경한다.
  frontend/src/api/get.ts
  frontend/src/constants/index.ts
  frontend/src/hooks/useCafeId.ts
  frontend/src/hooks/useRedirectRegisterPage.ts
  frontend/src/pages/Admin/CouponDesign/CustomCouponDesign/index.tsx
  frontend/src/pages/Admin/CouponDesign/TemplateCouponDesign/index.tsx
  frontend/src/pages/Admin/CouponDesign/hooks/useMutateCouponPolicy.ts
  frontend/src/pages/Admin/CustomerList/index.tsx
  frontend/src/pages/Admin/EarnStamp/SelectCoupon/index.tsx
  frontend/src/pages/Admin/EarnStamp/index.tsx
  frontend/src/pages/Admin/ManageCafe/index.tsx
  frontend/src/pages/Admin/RegisterCafe/index.tsx
  frontend/src/pages/Admin/RewardPage/index.tsx
  frontend/src/pages/EnterPhoneNumber/index.tsx
Labels: 기능구현 ✅, 리팩터링 🔨, front-end 👨‍👨‍👧

#516 [FE] fix: 고객 모드 오류 수정
  frontend/src/pages/CouponList/Header/index.tsx
  frontend/src/pages/CouponList/index.tsx
Labels: 버그발생 🚨, front-end 👨‍👨‍👧

#517 [BE] feat: 이미지 업로드 예외 추가
  backend/src/main/java/com/stampcrush/backend/entity/image/S3ImageUploader.java
  backend/src/main/java/com/stampcrush/backend/exception/ImageUploadFailException.java
Labels: 버그발생 🚨, back-end 👩‍👩‍👦‍👦

#518 [FE] bug: 사장 모드의 내 카페 관리 탭에서 introduction 필드가 null 일 때의 상황을 처리한다
  frontend/src/pages/Admin/ManageCafe/index.tsx
  frontend/src/utils/index.ts
Labels: 버그발생 🚨, front-end 👨‍👨‍👧

#525 [BE] fix: s3 수정
  backend/build.gradle
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#530 [BE] fix: 디렉터리 별 저장 기능 구현
  backend/src/main/java/com/stampcrush/backend/api/manager/image/ManagerImageCommandApiController.java
  backend/src/main/java/com/stampcrush/backend/api/manager/image/response/ImageUrlResponse.java
  backend/src/main/java/com/stampcrush/backend/entity/image/S3ImageUploader.java
  backend/src/main/resources/application-test.yml
Labels: 버그발생 🚨, back-end 👩‍👩‍👦‍👦

#513 [BE] feat: 고객의 전화번호 저장 API
  backend/src/main/java/com/stampcrush/backend/api/visitor/profile/VisitorProfilesCommandApiController.java
  backend/src/main/java/com/stampcrush/backend/api/visitor/profile/request/PhoneNumberUpdateRequest.java
  backend/src/main/java/com/stampcrush/backend/application/visitor/profile/VisitorProfilesCommandService.java
  backend/src/main/java/com/stampcrush/backend/entity/user/Customer.java
  backend/src/main/java/com/stampcrush/backend/entity/user/RegisterCustomer.java
  backend/src/main/java/com/stampcrush/backend/http/phone-number-update-request.http
  backend/src/test/java/com/stampcrush/backend/acceptance/VisitorProfilesCommandAcceptanceTest.java
  backend/src/test/java/com/stampcrush/backend/acceptance/step/VisitorProfilesCommandStep.java
  backend/src/test/java/com/stampcrush/backend/api/visitor/profile/VisitorProfilesCommandApiControllerTest.java
  backend/src/test/java/com/stampcrush/backend/application/visitor/profile/VisitorProfilesCommandServiceTest.java
  backend/src/test/java/com/stampcrush/backend/repository/coupon/CouponRepositoryTest.java
  backend/src/test/java/com/stampcrush/backend/repository/user/CustomerRepositoryTest.java
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#531 [BE] fix: warning 로그 찍히도록 수정
  backend/src/main/resources/logback-spring.xml
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#504 [FE] feat: 사장 모드에서 현재 쿠폰의 외형을 조회할 수 있는 api에 대응한다.
  frontend/src/api/get.ts
  frontend/src/mocks/handlers.ts
  frontend/src/pages/Admin/EarnStamp/SelectCoupon/index.tsx
  frontend/src/pages/Admin/EarnStamp/index.tsx
  frontend/src/pages/Admin/ManageCafe/index.tsx
  frontend/src/pages/Admin/ManageCafe/style.tsx
Labels: 기능구현 ✅, front-end 👨‍👨‍👧

#534 [FE] feat: 이미지 업로드 기능을 백엔드와 연동한다.
  frontend/src/api/get.ts
  frontend/src/api/post.ts
  frontend/src/constants/index.ts
  frontend/src/hooks/useUploadImage.ts
  frontend/src/pages/Admin/CouponDesign/ChoiceTemplate/index.tsx
  frontend/src/types/api.ts
  frontend/src/utils/index.ts
Labels: 기능구현 ✅, front-end 👨‍👨‍👧

#537 [FE] feat: 로그아웃 및 프로필 조회 기능 구현
  frontend/src/api/get.ts
  frontend/src/hooks/useRedirectPhoneNumberPage.ts
  frontend/src/pages/Admin/AdminAuth/index.tsx
  frontend/src/pages/MyPage/index.tsx
  frontend/src/types/api.ts
  frontend/src/types/index.ts
Labels: 기능구현 ✅, front-end 👨‍👨‍👧

#536 [FE] fix: 스탬프 적립 페이지 렌더링 오류 해결
  frontend/src/pages/Admin/EarnStamp/SelectCoupon/index.tsx
Labels: 버그발생 🚨, front-end 👨‍👨‍👧

#540 [BE] feat: 고객의 프로필 정보를 조회해오는 API 를 구현한다
  backend/src/main/java/com/stampcrush/backend/api/visitor/profile/VisitorProfilesFindApiController.java
  backend/src/main/java/com/stampcrush/backend/api/visitor/profile/response/VisitorProfilesFindResponse.java
  backend/src/main/java/com/stampcrush/backend/application/visitor/profile/VisitorProfilesFindService.java
  backend/src/main/java/com/stampcrush/backend/application/visitor/profile/dto/VisitorProfileFindResultDto.java
  backend/src/main/java/com/stampcrush/backend/repository/user/RegisterCustomerRepository.java
  backend/src/test/java/com/stampcrush/backend/acceptance/VisitorProfileFindAcceptanceTest.java
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#533 [FE] feat: 고객의 전화번호 등록 플로우 추가에 의한 api 명세 변경에 대응한다.
  frontend/src/Router.tsx
  frontend/src/api/get.ts
  frontend/src/api/post.ts
  frontend/src/constants/index.ts
  frontend/src/hooks/useCustomerProfile.ts
  frontend/src/hooks/useDialPad.ts
  frontend/src/hooks/useIsLoggedIn.ts
  frontend/src/hooks/useRedirectPhoneNumberPage.ts
  frontend/src/mocks/handlers.ts
  frontend/src/pages/Admin/AdminLogin/index.tsx
  frontend/src/pages/Admin/CustomerList/index.tsx
  frontend/src/pages/Admin/EnterPhoneNumber/Dialpad/index.tsx
  frontend/src/pages/Admin/EnterPhoneNumber/Dialpad/style.tsx
  frontend/src/pages/Admin/EnterPhoneNumber/index.tsx
  frontend/src/pages/Admin/EnterPhoneNumber/style.tsx
  frontend/src/pages/Auth/index.tsx
  frontend/src/pages/CouponList/index.tsx
  frontend/src/pages/InputPhoneNumber/index.tsx
  frontend/src/pages/InputPhoneNumber/style.tsx
  frontend/src/pages/MyPage/index.tsx
  frontend/src/utils/index.ts
Labels: 기능구현 ✅, front-end 👨‍👨‍👧

#539 [FE] fix: 스크롤이 안되는 오류 및 하드코딩 코드 제거
  frontend/src/mocks/mockData.ts
  frontend/src/pages/Admin/CouponDesign/ChoiceTemplate/style.tsx
  frontend/src/pages/Admin/EarnStamp/SelectCoupon/index.tsx
  frontend/src/pages/Admin/ManageCafe/index.tsx
Labels: 버그발생 🚨, front-end 👨‍👨‍👧

#543 [FE] Hotfix: 헤더 추가, 리다이렉팅, 로그아웃 오류 해결
  frontend/src/api/get.ts
  frontend/src/components/SideBar/index.tsx
  frontend/src/hooks/useIsLoggedIn.ts
  frontend/src/pages/Admin/AdminLogin/index.tsx
  frontend/src/pages/Admin/CustomerList/index.tsx
  frontend/src/pages/MyPage/index.tsx
Labels: 버그발생 🚨, front-end 👨‍👨‍👧

#544 [FE] fix: infinite re-rendering 해결
  frontend/src/hooks/useIsLoggedIn.ts
  frontend/src/pages/CouponList/index.tsx
Labels: 버그발생 🚨, front-end 👨‍👨‍👧

#545 [FE] fix: 로컬스토리, api 명세와 불일치 오류 해결
  frontend/src/api/get.ts
  frontend/src/api/post.ts
Labels: 버그발생 🚨, front-end 👨‍👨‍👧

#548 [FE] fix: bearer null 오류 해결
  frontend/src/api/delete.ts
  frontend/src/api/get.ts
  frontend/src/api/index.ts
  frontend/src/api/patch.ts
  frontend/src/api/post.ts
Labels: 버그발생 🚨, front-end 👨‍👨‍👧

#550 [BE] fix: 스탬프가 없는 쿠폰을 가지고 있는 고객이 존재하면 방문이력 에러 발생 없앰 (임시 방편)
  backend/src/main/java/com/stampcrush/backend/application/manager/coupon/ManagerCouponFindService.java
  backend/src/main/java/com/stampcrush/backend/entity/visithistory/VisitHistories.java
Labels: 버그발생 🚨, back-end 👩‍👩‍👦‍👦

#551 [FE] fix: 새 쿠폰 발급이 선택 안되는 문제
  frontend/src/pages/Admin/EarnStamp/SelectCoupon/index.tsx
Labels: 버그발생 🚨, front-end 👨‍👨‍👧

#554 [FE] fix: coupons:[]일 때 대응
  frontend/src/pages/Admin/EarnStamp/SelectCoupon/index.tsx
Labels: 버그발생 🚨, front-end 👨‍👨‍👧

#553 [FE] fix: 리워드 사용 잘못된 api 요청 수정
  frontend/src/constants/index.ts
  frontend/src/pages/Admin/RewardPage/index.tsx
Labels: 버그발생 🚨, front-end 👨‍👨‍👧

#555 [BE] fix: Request Getter 수동 추가
  backend/src/main/java/com/stampcrush/backend/api/visitor/profile/VisitorProfilesCommandApiController.java
  backend/src/main/java/com/stampcrush/backend/api/visitor/profile/request/VisitorProfilesPhoneNumberUpdateRequest.java
  backend/src/test/java/com/stampcrush/backend/application/visitor/profile/VisitorProfilesCommandServiceTest2.java
Labels: 버그발생 🚨, back-end 👩‍👩‍👦‍👦

#558 [FE] fix: 기존 쿠폰이 쿠폰이 없는 경우 신규 쿠폰이 발급되지 않는 문제
  frontend/src/pages/Admin/EarnStamp/SelectCoupon/index.tsx
Labels: 버그발생 🚨, front-end 👨‍👨‍👧

#560 [FE] fix: 쿠폰 발급 오류 해결
  frontend/src/pages/Admin/EarnStamp/SelectCoupon/index.tsx
Labels: 버그발생 🚨, front-end 👨‍👨‍👧

#559 [BE] fix: PhoneNumber 바인딩 문제 해결 + 그런데, 회원가입 API까지 만들어버린...
  backend/src/main/java/com/stampcrush/backend/api/visitor/profile/VisitorProfilesCommandApiController.java
  backend/src/main/java/com/stampcrush/backend/api/visitor/profile/request/VisitorProfilesPhoneNumberUpdateRequest.java
  backend/src/main/java/com/stampcrush/backend/auth/api/VisitorAuthController.java
  backend/src/main/java/com/stampcrush/backend/auth/application/VisitorAuthService.java
  backend/src/main/java/com/stampcrush/backend/auth/request/OAuthRegisterCustomerCreateRequest.java
  backend/src/test/java/com/stampcrush/backend/acceptance/VisitorProfilesCommandAcceptanceTest.java
  backend/src/test/java/com/stampcrush/backend/acceptance/step/VisitorJoinStep.java
  backend/src/test/java/com/stampcrush/backend/acceptance/step/VisitorProfilesCommandStep.java
  backend/src/test/java/com/stampcrush/backend/api/visitor/profile/VisitorProfilesCommandApiControllerTest.java
Labels: 버그발생 🚨, back-end 👩‍👩‍👦‍👦

#561 [BE] fix: 고객 프로필 조회 api 반환값을 명세에 맞게 반환 수정
  backend/src/main/java/com/stampcrush/backend/api/visitor/profile/response/VisitorProfilesFindResponse.java
Labels: 버그발생 🚨, back-end 👩‍👩‍👦‍👦

#564 [FE] fix: Reward History data formatting 수정
  backend/src/main/java/com/stampcrush/backend/api/visitor/reward/response/VisitorRewardsFindResponse.java
  backend/src/test/java/com/stampcrush/backend/api/visitor/reward/VisitorRewardsFindControllerTest.java
Labels: 버그발생 🚨, back-end 👩‍👩‍👦‍👦

#563 [FE] fix: api 응답 속성 잘못된 영문법 수정
  frontend/src/pages/Admin/CouponDesign/ChoiceTemplate/index.tsx
  frontend/src/pages/HistoryPage/StampHistory/index.tsx
  frontend/src/types/api.ts
Labels: 버그발생 🚨, front-end 👨‍👨‍👧

#565 [BE] fix: StampHistories 응답 명세 프론트와 통일
  backend/src/main/java/com/stampcrush/backend/api/visitor/visithistory/response/CustomerStampHistoriesFindResponse.java
  backend/src/test/java/com/stampcrush/backend/api/docs/visitor/visithistory/VisitorVisitHistoryFindApiDocsControllerTest.java
Labels: 버그발생 🚨, back-end 👩‍👩‍👦‍👦

#569 [BE] refactor: Request DTO로 날짜 formatting 코드 이동
  backend/src/main/java/com/stampcrush/backend/api/visitor/visithistory/response/CustomerStampHistoryFindResponse.java
  backend/src/main/java/com/stampcrush/backend/application/visitor/visithistory/dto/CustomerStampHistoryFindResultDto.java
  backend/src/test/java/com/stampcrush/backend/api/docs/visitor/visithistory/VisitorVisitHistoryFindApiDocsControllerTest.java
Labels: 리팩터링 🔨, back-end 👩‍👩‍👦‍👦

#571 [BE] feat: Coupon 즐겨찾기에 따라 정렬
  backend/src/main/java/com/stampcrush/backend/application/visitor/coupon/VisitorCouponFindService.java
  backend/src/main/java/com/stampcrush/backend/repository/coupon/CouponRepository.java
  backend/src/test/java/com/stampcrush/backend/application/visitor/coupon/VisitorCouponFindServiceTest.java
  backend/src/test/java/com/stampcrush/backend/repository/coupon/CouponRepositoryTest2.java
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#573 [FE] fix: 전화번호 등록 버그 및 디자인 수정
  frontend/src/pages/Admin/AdminAuth/index.tsx
  frontend/src/pages/Admin/AdminLogin/index.tsx
  frontend/src/pages/Admin/EnterPhoneNumber/Dialpad/index.tsx
  frontend/src/pages/Auth/index.tsx
  frontend/src/pages/CouponList/CouponDetail/index.tsx
  frontend/src/pages/CouponList/CouponDetail/style.tsx
  frontend/src/pages/CouponList/index.tsx
  frontend/src/pages/InputPhoneNumber/index.tsx
Labels: 리팩터링 🔨, front-end 👨‍👨‍👧

#572 [BE] feat: 사장이 고객의 쿠폰 조회 시 쿠폰 발급 당시 이미지 조회
  backend/src/main/java/com/stampcrush/backend/api/manager/cafe/ManagerCafeCouponSettingFindApiController.java
  backend/src/main/java/com/stampcrush/backend/application/manager/cafe/ManagerCafeCouponSettingFindService.java
  backend/src/main/java/com/stampcrush/backend/application/manager/cafe/dto/CafeCouponSettingFindResultDto.java
  backend/src/test/java/com/stampcrush/backend/api/manager/cafe/ManagerCafeCouponSettingFindApiControllerTest.java
  backend/src/test/java/com/stampcrush/backend/application/manager/cafe/ManagerCafeCouponSettingFindServiceTest.java
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#575 [FE] refactor: 마이페이지 디자인 수정
  frontend/src/pages/Admin/EnterPhoneNumber/Dialpad/style.tsx
  frontend/src/pages/Admin/ManageCafe/TimeRangePicker/style.tsx
  frontend/src/pages/CouponList/Coupon/style.tsx
  frontend/src/pages/CouponList/Header/index.tsx
  frontend/src/pages/MyPage/index.tsx
  frontend/src/pages/MyPage/style.tsx
Labels: 리팩터링 🔨, front-end 👨‍👨‍👧

#574 [FE] fix: 카페사진 오류 수정
  frontend/src/assets/default_cafe_bg.png
  frontend/src/mocks/mockData.ts
  frontend/src/pages/Admin/EarnStamp/index.tsx
  frontend/src/pages/Admin/ManageCafe/index.tsx
Labels: 리팩터링 🔨, front-end 👨‍👨‍👧

#578 [FE] feat: 변경된 api에 대응한다
  frontend/src/api/get.ts
  frontend/src/pages/Admin/EarnStamp/SelectCoupon/index.tsx
Labels: 기능구현 ✅, front-end 👨‍👨‍👧

#579 [BE] feat: 카페 이미지 반환 api작성
  backend/src/main/java/com/stampcrush/backend/api/manager/cafe/ManagerCafeCouponSettingFindApiController.java
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#580 [FE] fix: api 명세에 대응
  frontend/src/api/get.ts
  frontend/src/pages/Admin/EarnStamp/SelectCoupon/index.tsx
Labels: 버그발생 🚨, front-end 👨‍👨‍👧

#581 [BE] feat: 카페 쿠폰 이미지 반환
  backend/src/main/java/com/stampcrush/backend/api/manager/cafe/ManagerCafeCouponSettingFindApiController.java
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#582 [FE] fix: 쿠폰 상세보기 값 없을 때 예외 처리
  frontend/src/pages/CouponList/CouponDetail/index.tsx
  frontend/src/pages/CouponList/CouponDetail/style.tsx
Labels: 버그발생 🚨, front-end 👨‍👨‍👧

#583 [FE] fix: 방어 코드 추가
  frontend/src/pages/Admin/EarnStamp/SelectCoupon/index.tsx
Labels: 버그발생 🚨, front-end 👨‍👨‍👧

#584 [FE] fix: 픽스2
  frontend/src/pages/Admin/EarnStamp/SelectCoupon/index.tsx
Labels: 버그발생 🚨, front-end 👨‍👨‍👧

#585 [FE] fix: 스탬프 적립 페이지 오류
  frontend/src/pages/Admin/EarnStamp/SelectCoupon/index.tsx
Labels: 버그발생 🚨, front-end 👨‍👨‍👧

#586 [FE] fix: 첫번째 페이지에서 쿠폰 정보 제거
  frontend/src/pages/Admin/EarnStamp/SelectCoupon/index.tsx
  frontend/src/pages/Admin/EarnStamp/index.tsx
Labels: 버그발생 🚨, front-end 👨‍👨‍👧

#587 [FE] fix: 쿼리 키 추가
  frontend/src/pages/Admin/EarnStamp/index.tsx
Labels: 버그발생 🚨, front-end 👨‍👨‍👧

#588 [BE] feat: request 정보 logging
  backend/src/main/java/com/stampcrush/backend/config/RequestLoggingFilter.java
  backend/src/main/resources/logback-spring.xml
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#589 [BE] fix: 샘플 저장 하지 않게 변경
  backend/src/main/java/com/stampcrush/backend/application/manager/cafe/ManagerCafeCommandService.java
Labels: 버그발생 🚨, back-end 👩‍👩‍👦‍👦

#590 [FE] fix: 로딩 컴포넌트와 고객 NotFound 페이지 생성
  frontend/src/Router.tsx
  frontend/src/assets/c_loading.svg
  frontend/src/assets/loading_spinner.svg
  frontend/src/components/LoadingSpinner/CustomerLoadingSpinner/index.tsx
  frontend/src/components/LoadingSpinner/index.tsx
  frontend/src/components/LoadingSpinner/style.tsx
  frontend/src/pages/CouponList/CouponDetail/index.tsx
  frontend/src/pages/CouponList/index.tsx
  frontend/src/pages/HistoryPage/RewardHistory/index.tsx
  frontend/src/pages/HistoryPage/StampHistory/index.tsx
  frontend/src/pages/NotFound/CustomerNotFound/index.tsx
Labels: 리팩터링 🔨, front-end 👨‍👨‍👧

#591 [BE] feat: request메서드 로깅 추가
  backend/src/main/java/com/stampcrush/backend/config/RequestLoggingFilter.java
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦
