Repository woowacourse-teams/2023-stamp-crush, pull requests merged in 2023-11, with the labels that each got.

#910 [FE] feat: 스탬프 적립을 키패드로 조작 가능하게 한다.
  frontend/src/components/Stepper/index.tsx
  frontend/src/components/Stepper/style.tsx
  frontend/src/pages/Admin/EarnStamp/index.tsx
Labels: 기능구현 ✅, front-end 👨‍👨‍👧

#911 [FE] refactor: z-index 상수화를 통한 의미 부여
  frontend/src/components/Alert/style.tsx
  frontend/src/components/BottomTabBar/style.tsx
  frontend/src/components/LoadingSpinner/style.tsx
  frontend/src/components/Modal/style.tsx
  frontend/src/components/SelectBox/style.tsx
  frontend/src/constants/magicNumber.ts
  frontend/src/pages/Admin/EnterPhoneNumber/components/GuideAlert/style.tsx
  frontend/src/pages/Customer/CouponList/components/CafeInfo/style.tsx
  frontend/src/pages/Customer/CouponList/components/CouponDetail/style.tsx
  frontend/src/pages/Customer/CouponList/components/FlippedCoupon/style.tsx
  frontend/src/pages/Customer/CouponList/style.tsx
  frontend/src/pages/Introduction/style.tsx
  frontend/src/style/keyframes.ts
Labels: 리팩터링 🔨, front-end 👨‍👨‍👧

#917 [FE] fix: 빠진 모듈 추가
  frontend/src/pages/Customer/CouponList/components/CafeInfo/style.tsx
Labels: 버그발생 🚨, front-end 👨‍👨‍👧

#923 [BE] feat: Refresh Token, Logout API 구현
  backend/src/main/java/com/stampcrush/backend/auth/api/ManagerLogoutController.java
  backend/src/main/java/com/stampcrush/backend/auth/api/ManagerReissueTokenController.java
  backend/src/main/java/com/stampcrush/backend/auth/application/ManagerLogoutService.java
  backend/src/main/java/com/stampcrush/backend/auth/application/ManagerReissueTokenService.java
  backend/src/main/java/com/stampcrush/backend/auth/application/RefreshTokenValidator.java
  backend/src/main/java/com/stampcrush/backend/auth/application/util/AuthTokensGenerator.java
  backend/src/main/java/com/stampcrush/backend/auth/entity/BlackList.java
  backend/src/main/java/com/stampcrush/backend/auth/repository/BlackListRepository.java
  backend/src/main/java/com/stampcrush/backend/config/WebMvcConfig.java
  backend/src/main/resources/db/migration/V12__black_list.sql
  backend/src/test/java/com/stampcrush/backend/acceptance/ManagerReissueTokenAcceptanceTest.java
  backend/src/test/java/com/stampcrush/backend/acceptance/step/ManagerJoinStep.java
  backend/src/test/java/com/stampcrush/backend/acceptance/step/ManagerLogoutStep.java
  backend/src/test/java/com/stampcrush/backend/acceptance/step/ManagerReissueTokenStep.java
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#929 [BE] fix: 로그인 진행되지 않는 버그 해결
  backend/src/main/java/com/stampcrush/backend/config/WebMvcConfig.java
  backend/src/main/java/com/stampcrush/backend/dev/DevAuthController.java
  backend/src/main/java/com/stampcrush/backend/dev/DevAuthService.java
  backend/src/test/java/com/stampcrush/backend/acceptance/DevAuthAcceptanceTest.java
Labels: 버그발생 🚨, back-end 👩‍👩‍👦‍👦

#932 [BE] feat: 리프레시 토큰을 쿠키를 통해 전달
  backend/src/main/java/com/stampcrush/backend/auth/api/ManagerAuthController.java
  backend/src/main/java/com/stampcrush/backend/auth/api/ManagerReissueTokenController.java
  backend/src/test/java/com/stampcrush/backend/acceptance/ManagerReissueTokenAcceptanceTest.java
  backend/src/test/java/com/stampcrush/backend/acceptance/step/ManagerJoinStep.java
  backend/src/test/java/com/stampcrush/backend/acceptance/step/ManagerReissueTokenStep.java
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#879 [FE] refactor: 카페 관리, 스탬프 적립 화면의 로딩/에러 핸들링한다.
  frontend/src/assets/button_loading_spinner.svg
  frontend/src/components/Skeleton/style.tsx
  frontend/src/pages/Admin/CustomCouponDesign/style.tsx
  frontend/src/pages/Admin/EarnStamp/components/CouponIndicator.tsx
  frontend/src/pages/Admin/EarnStamp/components/CouponIndicator/index.tsx
  frontend/src/pages/Admin/EarnStamp/components/CouponIndicator/style.tsx
  frontend/src/pages/Admin/EarnStamp/components/EarnStampSkeleton/index.tsx
  frontend/src/pages/Admin/EarnStamp/components/EarnStampSkeleton/style.tsx
  frontend/src/pages/Admin/EarnStamp/components/LoadingSpinner/index.tsx
  frontend/src/pages/Admin/EarnStamp/components/LoadingSpinner/style.tsx
  frontend/src/pages/Admin/EarnStamp/index.tsx
  frontend/src/pages/Admin/EarnStamp/style.tsx
  frontend/src/pages/Admin/ManageCafe/components/PreviewCoupon/index.tsx
  frontend/src/pages/Admin/ManageCafe/components/PreviewCoupon/style.tsx
  frontend/src/pages/Admin/ManageCafe/index.tsx
  frontend/src/pages/Admin/ManageCafe/style.tsx
  frontend/src/pages/Customer/CouponList/components/FlippedCoupon/index.tsx
Labels: 리팩터링 🔨, front-end 👨‍👨‍👧

#924 [FE] feat: 로그인 페이지 개선
  frontend/src/assets/png/customer_login_background.png
  frontend/src/assets/png/index.ts
  frontend/src/pages/Customer/Login/index.tsx
  frontend/src/pages/Customer/Login/style.tsx
  frontend/src/pages/Introduction/index.tsx
Labels: 기능구현 ✅, front-end 👨‍👨‍👧

#936 [BE] feat: deleted로 처리하던 로직을 isActive가 처리하도록 변경
  backend/src/main/java/com/stampcrush/backend/application/manager/cafe/ManagerCafeCommandService.java
  backend/src/main/java/com/stampcrush/backend/application/manager/cafe/ManagerCafeCouponSettingCommandService.java
  backend/src/main/java/com/stampcrush/backend/application/manager/coupon/ManagerCouponCommandService.java
  backend/src/main/java/com/stampcrush/backend/auth/api/VisitorAuthController.java
  backend/src/main/java/com/stampcrush/backend/entity/cafe/CafeCouponDesign.java
  backend/src/main/java/com/stampcrush/backend/entity/cafe/CafePolicy.java
  backend/src/main/java/com/stampcrush/backend/entity/coupon/CouponDesign.java
  backend/src/main/java/com/stampcrush/backend/repository/cafe/CafeCouponDesignRepository.java
  backend/src/main/java/com/stampcrush/backend/repository/cafe/CafePolicyRepository.java
  backend/src/test/java/com/stampcrush/backend/acceptance/ManagerCafeCouponSettingCommandUpdateAcceptanceTest.java
  backend/src/test/java/com/stampcrush/backend/acceptance/ManagerCafeCouponSettingFindAcceptanceTest.java
  backend/src/test/java/com/stampcrush/backend/acceptance/ManagerCouponCommandAcceptanceTest.java
  backend/src/test/java/com/stampcrush/backend/application/manager/coupon/ManageCouponCommandServiceTest.java
  backend/src/test/java/com/stampcrush/backend/application/manager/coupon/ManagerCouponFindServiceTest.java
  backend/src/test/java/com/stampcrush/backend/entity/cafe/CafePolicyTest.java
  backend/src/test/java/com/stampcrush/backend/fixture/CouponDesignFixture.java
  backend/src/test/java/com/stampcrush/backend/fixture/CouponPolicyFixture.java
  backend/src/test/java/com/stampcrush/backend/repository/cafe/CafeCouponDesignRepositoryTest.java
  backend/src/test/java/com/stampcrush/backend/repository/cafe/CafePolicyRepositoryTest.java
Labels: 리팩터링 🔨, back-end 👩‍👩‍👦‍👦

#939 [BE] fix: CafePolicyRepositoryTest 에서 필요없어진 테스트 삭제
  backend/src/main/java/com/stampcrush/backend/repository/cafe/CafePolicyRepository.java
  backend/src/test/java/com/stampcrush/backend/repository/cafe/CafePolicyRepositoryTest.java
Labels: 리팩터링 🔨, back-end 👩‍👩‍👦‍👦

#937 [BE] feat: Coupon 테이블에 필드 추가 스크립트 작성 (외래키 제약조건 설정 X)
  backend/src/main/resources/db/migration/V17__add_coupon_column.sql
Labels: 리팩터링 🔨, back-end 👩‍👩‍👦‍👦

#940 [BE] feat: cafe_coupon_design_id, cafe_policy_id 값 추가 (DML 스크립트)
  backend/src/main/resources/db/migration/V18__update_coupon_new_column_ids.sql
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#938 [FE] feat: refresh token 로직을 구현한다.
  frontend/package.json
  frontend/src/api/axios.ts
  frontend/src/api/get.ts
  frontend/src/api/index.ts
  frontend/src/api/patch.ts
  frontend/src/api/post.ts
  frontend/src/hooks/useUploadImage.ts
  frontend/src/pages/Admin/AdminLogin/hooks/useAdminLogin.ts
  frontend/src/pages/Admin/AdminLogin/hooks/usePostAdminLogin.ts
  frontend/src/pages/Admin/EarnStamp/hooks/usePostIssueCoupon.ts
  frontend/src/pages/Admin/ManageCafe/hooks/useManageCafe.ts
  frontend/src/pages/Admin/RegisterCafe/hooks/useRegisterCafe.ts
  frontend/src/provider/PrivateProvider.tsx
Labels: 기능구현 ✅, front-end 👨‍👨‍👧

#943 [BE] feat: 회원 탈퇴 시 발생하는 N+1 문제 해결
  backend/src/main/java/com/stampcrush/backend/application/visitor/profile/VisitorCancelMembershipCommandService.java
  backend/src/main/java/com/stampcrush/backend/repository/coupon/CouponRepository.java
  backend/src/main/java/com/stampcrush/backend/repository/favorites/FavoritesRepository.java
  backend/src/main/java/com/stampcrush/backend/repository/reward/RewardRepository.java
  backend/src/main/java/com/stampcrush/backend/repository/visithistory/VisitHistoryRepository.java
  backend/src/test/java/com/stampcrush/backend/acceptance/VisitorCancelMembershipAcceptanceTest.java
  backend/src/test/java/com/stampcrush/backend/application/visitor/profile/VisitorCancelMembershipCommandServiceTest.java
  backend/src/test/java/com/stampcrush/backend/repository/coupon/CouponRepositoryTest2.java
  backend/src/test/java/com/stampcrush/backend/repository/favorites/FavoritesRepositoryTest.java
  backend/src/test/java/com/stampcrush/backend/repository/reward/RewardRepositoryTest.java
  backend/src/test/java/com/stampcrush/backend/repository/visithistory/VisitHistoryRepositoryTest.java
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#948 [BE] chore: dev2 프로필 설정
  backend/src/main/resources/application-dev2.yml
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦

#950 [BE] chore: Dockerfile 추가
  backend/Dockerfile-dev2.yml
Labels: back-end 👩‍👩‍👦‍👦

#951 [BE] chore: dev cd 파이프라인에서 Dockerfile-dev2로 변경
  .github/workflows/backend-dev-cd.yml
Labels: back-end 👩‍👩‍👦‍👦

#953 [BE] feat: coupon에 cafe_coupon_design_id, cafe_policy_id에 외래키 제약조건 추가
  backend/src/main/resources/db/migration/V19__coupon_add_constraint.sql
Labels: 기능구현 ✅, back-end 👩‍👩‍👦‍👦
